@{
    ViewData["Title"] = "Access Denied";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Access Denied</h1>
        <p>You do not have access to that resource.</p>
        <a class="btn btn-outline-dark btn-lg" href="http://www.2utoring.com/">Return to home page</a>
    </div>
</div>