@model RedirectViewModel

@{
    ViewData["Title"] = "Account Link Error";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Account Link Error</h1>
        <p>An error occured while trying to link your account. Please <a asp-controller="Home" asp-action="Redirect" asp-route-returnUrl="@Model.RedirectUrl">click here</a> to return.</p>
    </div>
</div>
