@model StandingOut.Data.DTO.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Your forgotten password email has been sent!</h1>
        <p>An email has been sent to you containing a link to reset your password. Please check your inbox (Junk/Spam folders) and follow the instructions.</p>
        <a class="btn btn-accent btn-lg fs-15 fw-700 py-7 cl-white d-inline-block" asp-controller="Account" asp-action="Login">Back to login</a>
    </div>
</div>