@model StandingOut.Data.DTO.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Forgotton your password?</h1>
        <p>Please enter your email below and we'll send you a password reset link.</p>
        <form asp-route="ForgottenPassword">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" placeholder="Enter your email address..." asp-for="Email">
                <div class="invalid-feedback d-block">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>                            
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-accent btn-lg fs-15 fw-700 py-7 cl-white d-inline-block" name="button">Send</button>
                <a class="btn btn-default" asp-controller="Account" asp-action="Login">Cancel</a>
            </div>
        </form>
    </div>
</div>