@model StandingOut.Data.DTO.ForgotPassword

@{
    ViewData["Title"] = "Reset Password";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Your password has been reset</h1>
        <p>Your password has been successfully reset. Please return to the <a asp-controller="Account" asp-action="Login">login page</a> to access 2utoring.com.</p>
    </div>
</div>