@model StandingOut.Data.DTO.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}

<div class="col-14 col-lg-8 offset-lg-2">
    <div class="Card Card--toRepsond:small">
        <h1 class="mb-5 fw-800">Reset your password</h1>
        <p>To reset your password please complete the simple fields below.</p>
        <form asp-route="ResetPassword">
            <input type="hidden" asp-for="ForgottenKey">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" type="password" asp-for="Password" placeholder="Enter your new password..">
                    <div class="invalid-feedback d-block">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Confirm your new password..">
                    <div class="invalid-feedback d-block">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-accent btn-lg fs-15 fw-700 py-7 cl-white d-lg-inline-block" name="button">Submit</button>
                    <a class="btn btn-default" asp-controller="Account" asp-action="Login">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>