@{
    ViewData["Title"] = "Welcome";
}

<div class="Card">
    <div class="grid-container">
        <div class="grid-xmargin-bottom-expansive">
            <div class="large-12 cell text-align-center">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
    <div class="grid-x">
        <div class="large-12 cell"></div>
    </div>
</div>