@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.Call-modal {
    font-family: rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;


    &__Overlay {
        background-color: rgba(0, 0, 0, 0.05);
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &__Container {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 31px 41px 0 rgba(32, 42, 53, .2), 0 2px 16px 0 rgba(32, 42, 54, .08);
        height: 380px;
        left: 50%;
        position: absolute;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 260px;
    }

    &__Hero {
        background-color: $white;
        border-radius: 5px 5px 0 0;
        height: 160px;
        margin-bottom: 28px;
        position: relative;
        overflow: hidden;

        img {
            animation: spin 3s linear infinite;
            position: absolute;
            width: 50%;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    &__Content {
        height: 100%;
        position: relative;
        text-align: center;

        h2 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 7px;
            padding: 0 21px;
            text-transform: capitalize;
        }

        p {
            font-size: 14px;
            line-height: 21px;
            padding: 0 21px;
        }
    }

    .Button__group {
        align-items: center;
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        bottom: 21px;
        bottom: 12%;
        left: 8%;
        width: 84%;

        .button {
            border-radius: 50%;
            height: 60px;
            padding: 0;
            position: relative;
            text-align: center;
            width: 60px;

            i {
                font-size: 22px;
                margin: 0;
            }

            &--decline {
                border: 2px solid $red;
                background-color: transparent;

                i {
                    color: $red;
                }
            }

            &--accept {
                background-color: $green;
                border: 1px solid $green;

                i {
                    color: $white;
                }
            }
        }
    }
}