<!-- put real components here -->
<app-home-index *ngIf="mode=='home-index'"></app-home-index>
<app-tutor-register *ngIf="mode=='tutor-register'"></app-tutor-register>
<app-users-index *ngIf="mode=='users-index'"></app-users-index>
<app-search *ngIf="mode=='search'"></app-search>
<app-lesson-view *ngIf="mode=='lesson-view'"></app-lesson-view>
<app-study-levels-index *ngIf="mode=='study-levels-index'"></app-study-levels-index>
<app-subjects-index *ngIf="mode=='subjects-index'"></app-subjects-index>
<app-subject-categories-index *ngIf="mode=='subject-categories-index'"></app-subject-categories-index>
<app-tutors-index *ngIf="mode=='tutors-index'"></app-tutors-index>
<app-class-sessions-index-wrapper *ngIf="mode=='class-sessions-index-wrapper'"></app-class-sessions-index-wrapper>
<app-class-sessions-details *ngIf="mode=='class-sessions-details'"></app-class-sessions-details>
<app-class-sessions-material *ngIf="mode=='class-sessions-material'"></app-class-sessions-material>
<app-class-sessions-students *ngIf="mode=='class-sessions-students'"></app-class-sessions-students>
<app-tutor-details *ngIf="mode=='tutor-details'"></app-tutor-details>
<app-student-enroll *ngIf="mode=='student-enroll'"></app-student-enroll>
<app-guardian-enroll *ngIf="mode=='guardian-enroll'"></app-guardian-enroll>
<app-settings-payout *ngIf="mode=='settings-payout'"></app-settings-payout>
<app-class-sessions-register *ngIf="mode=='class-sessions-register'"></app-class-sessions-register>
<app-lesson-timetable *ngIf="mode=='lesson-timetable'"></app-lesson-timetable>
<app-safeguarding-create *ngIf="mode=='safeguarding-create'"></app-safeguarding-create>
<app-user-guardian-settings *ngIf="mode=='user-guardian-settings'"></app-user-guardian-settings>
<app-user-student-settings *ngIf="mode=='user-student-settings'"></app-user-student-settings>
<app-receipts-index *ngIf="mode=='receipts-index'"></app-receipts-index>
<app-tutor-profile-wrapper *ngIf="mode=='tutor-profile-wrapper'"></app-tutor-profile-wrapper>
<app-company-profile-wrapper *ngIf="mode=='company-profile-wrapper'"></app-company-profile-wrapper>
<app-tutor-dashboard *ngIf="mode=='tutor-dashboard'"></app-tutor-dashboard>
<app-tutor-account-details *ngIf="mode=='tutor-account-details'"></app-tutor-account-details>
<app-tutor-dbs-details *ngIf="mode=='tutor-dbs-details'"></app-tutor-dbs-details>
<app-tutor-profile-public-wrapper *ngIf="mode=='tutor-profile-public-wrapper'"></app-tutor-profile-public-wrapper>
<app-company-profile-public-wrapper *ngIf="mode=='company-profile-public-wrapper'"></app-company-profile-public-wrapper>
<app-tutor-earnings *ngIf="mode=='tutor-earnings'"></app-tutor-earnings>
<app-tutor-subscription-details *ngIf="mode=='tutor-subscription-details'"></app-tutor-subscription-details>
<app-safeguarding-index *ngIf="mode=='safeguarding-index'"></app-safeguarding-index>
<app-class-sessions-admin-index *ngIf="mode=='class-sessions-admin-index'"></app-class-sessions-admin-index>
<app-class-session-admin-details *ngIf="mode=='class-session-admin-details'"></app-class-session-admin-details>
<app-dashboard-admin *ngIf="mode=='dashboard-admin'"></app-dashboard-admin>
<app-user-change-password *ngIf="mode=='user-change-password'"></app-user-change-password>
<app-user-link-account *ngIf="mode=='user-link-account'"></app-user-link-account>
<app-subject-studylevel-setup-index *ngIf="mode=='subject-studylevel-setup-index'"></app-subject-studylevel-setup-index>
<app-company-register *ngIf="mode=='company-register'"></app-company-register>
<app-company-subscription-details *ngIf="mode=='company-subscription-details'"></app-company-subscription-details>
<app-company-account-details *ngIf="mode=='company-account-details'"></app-company-account-details>
<app-tutor-bank-detail-list *ngIf="mode=='tutor-bank-detail-list'"></app-tutor-bank-detail-list>
<app-company-dashboard *ngIf="mode=='company-dashboard'"></app-company-dashboard>
<app-company-courses *ngIf="mode=='company-courses'"></app-company-courses>
<app-company-manage-course *ngIf="mode=='manage-course'"></app-company-manage-course>
<app-calender *ngIf="mode=='calender'"></app-calender>
<app-tutor-profile-edit *ngIf="mode=='tutor-profile-edit'"></app-tutor-profile-edit>
<app-tutor-profile-view *ngIf="mode=='tutor-profile-view'"></app-tutor-profile-view>
<app-tutor-courses *ngIf="mode=='tutor-courses'"></app-tutor-courses>
<app-course-view *ngIf="mode=='course-view'"></app-course-view>
<app-tutor-create-course *ngIf="mode=='tutor-create-course'"></app-tutor-create-course>
<app-tutor-schedule-calendar *ngIf="mode=='tutor-schedule-calendar'"></app-tutor-schedule-calendar>
<app-tutor-search *ngIf="mode=='tutor-search'"></app-tutor-search>
<app-main-search *ngIf="mode=='main-search'"></app-main-search>
<app-parent-student-course *ngIf="mode=='my-course'"></app-parent-student-course>
<app-course-details *ngIf="mode=='course-details'"></app-course-details>






