<div class="popup-overlay">
    <div id="delete-popup" name="group" class="Modal Modal--save">
        <div class="Modal__Header text-align-center">
            <h2>Delete</h2>
            <p>Are you sure you wish to delete this? Doing so is permenant.</p>
        </div>
        <div class="Modal__Content text-align-center padding-bottom-none">
            <div class="Webcam__Controls--Modal">
                <button type="button" ng-click="remove(true)" class="button button--distructive margin-right-tight">Delete</button>
                <button type="button" ng-click="remove(false)" class="button button--secondary margin-left-none">Cancel</button>
            </div>
        </div>
    </div>
</div>