@*@using StandingOut.Data.Models
@model StandingOut.Data.DTO.CreateUser
@{
    ViewData["Title"] = "Create User";
}

<div class="grid-container">
    <div class="grid-x">
        <div class="large-3 cell"></div>
        <div class="large-6 cell">
            <div class="card card--hasGrid margin-x-auto margin-y-extra-loose">
                <div class="grid-x align-middle">
                    <div class="large-12 cell text-align-center">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
                <hr class="margin-top-base margin-bottom-base" />
                <section class="form margin-top">
                    <form asp-antiforgery="true">
                        <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                <label asp-for="Email"></label>
                                <input type="text" asp-for="Email" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="large-6 cell">
                                <label asp-for="FirstName"></label>
                                <input type="text" asp-for="FirstName" placeholder="First name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="large-6 cell">
                                <label asp-for="LastName"></label>
                                <input type="text" asp-for="LastName" placeholder="Last name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="large-6 cell">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="large-6 cell">
                                <label asp-for="ConfirmPassword"></label>
                                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <hr class="margin-bottom-loose margin-top-tight" />
                        <div class="grid-x grid-margin-x">
                            <div class="large-6 cell">
                                <a class="button button--tertiary" asp-action="Index">Cancel</a>
                            </div>
                            <div class="large-6 cell text-align-right">
                                <input type="submit" value="Create" class="button button--primary" />
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="large-3 cell"></div>
    </div>
</div>*@