@{
    ViewData["Title"] = "Lesson unavailable ";
}

@section meta{
    <meta name="robots" content="noindex">
    <meta name="title" content="@ViewData["Title"]" />
}


<div class="Page__Container Page__Container--size:medium my-84 mt-lg-122">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <div class="Status__Icon mx-auto mb-56">
                    <i class="fas fa-times info"></i>
                </div>
                <div class="mx-auto text-center">
                    <h1 class="fw-800 fw-28 cl-dark mb-28">It looks like that lesson is no longer available. Not to worry, we have plenty more excellent sessions! </h1>
                    <a asp-route="Search" class="btn btn-lg btn-primary">Find another lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>
