@{
    ViewData["Title"] = "Not Found";
}

@section meta{
    <meta name="robots" content="noindex">
    <meta content="Not Found" property="og:title">
    <meta content="Not Found" property="twitter:title">
}

<div class="Page__Container Page__Container--size:medium my-84 mt-lg-122">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <div class="Status__Icon mx-auto mb-56">
                    <i class="fas fa-question info"></i>
                </div>
                <div class="mx-auto text-center">
                    <h1 class="fw-800 fw-28 cl-dark mb-14">...oops, something went wrong</h1>
                    <p class="fs-16 fw-500 lh-16 cl-dark"><a href="/" class="button">Back to homepage</a></p>
                </div>
            </div>
        </div>
    </div>
</div>