<div class="Page__Container--size:content mb-56 Page--process:SettingPage">
    <div class="d-flex justify-content-between align-items-start mb-14 mb-lg-28">
        <h1 class="mb-0 col-12 courseTitle">Courses <a href="javascript:void(0);" (click)="createCourse()" class="btn btn-info Button courseButton">Create Course</a></h1>
        <!--        <a style="height: 35px;" href="javascript:void(0);" (click)="showCourseForm()" class="btn btn-info Button">Add Course</a>-->
    </div>
    <div class="form-row" style="border:1px solid #ccc; padding:10px">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a style="cursor: pointer;" *ngFor="let lTabs of lessonTabs; let first = first;"
                       class="nav-item nav-link" id="nav-upcoming-tab" data-toggle="tab"
                       [class.active]="selectedlessonTabs===lTabs" (click)="selectedlessonTabs = lTabs"
                       aria-controls="nav-upcoming" role="tab" data-toggle="tab">{{lTabs}}</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div *ngIf="selectedlessonTabs === lessonTabs[0]" class="tab-pane fade show active" id="nav-upcoming"
                     role="tabpanel" aria-labelledby="nav-upcoming-tab">
                    <app-courses-index [maxClassSize]="maxSizeOfClass" [actionTaken]="true" [filter]="'upcoming'" (onCourseEdit)="onCourseEdit($event)" (onCourseDelete)="onCourseDelete($event)"></app-courses-index>
                </div>
                <div *ngIf="selectedlessonTabs === lessonTabs[1]" class="tab-pane fade show active" id="nav-all"
                     role="tabpanel" aria-labelledby="nav-all-tab">
                    <app-courses-index [maxClassSize]="maxSizeOfClass" [actionTaken]="false"   [filter]="'previous'" (onCourseEdit)="onCourseEdit($event)" (onCourseDelete)="onCourseDelete($event)"></app-courses-index>
                </div>
            </div>
        </div>
    </div>
</div>