@model StandingOut.Data.Models.SafeguardReport
@{
    ViewData["Title"] = "View Safeguarding Report";
}

<div class="container-fluid Container--narrow">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card Crud-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1 class="card-title">@ViewData["Title"]</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            @if (Model.Status == StandingOut.Data.Enums.SafeguardReportStatus.Awaiting)
                            {
                            <a class="button button--primary" href="/admin/safeguarding/updatestatus/@Model.SafeguardReportId?status=Progressing">Mark as Progressing</a>
                            }
                            else if (Model.Status == StandingOut.Data.Enums.SafeguardReportStatus.Progressing)
                            {
                                <a class="button button--primary" href="/admin/safeguarding/updateStatus/@Model.SafeguardReportId?status=Awaiting">Mark as Awaiting</a>
                                <a class="button button--primary" href="/admin/safeguarding/updateStatus/@Model.SafeguardReportId?status=Complete">Mark as Complete</a>
                            }
                            else if (Model.Status == StandingOut.Data.Enums.SafeguardReportStatus.Complete)
                            {
                                <a class="button button--primary" href="/admin/safeguarding/updateStatus/@Model.SafeguardReportId?status=Progressing">Mark as Progressing</a>
                            }
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col">

                            <form asp-antiforgery="true" action="/Admin/Safeguarding/UpdateNotes" method="post">

                                <input type="hidden" asp-for="SafeguardReportId" />

                                @if (Model.ClassSession != null)
                                {
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Lesson Name</label>
                                        <div class="col-8">
                                            <input type="text" asp-for="ClassSession.Name" class="form-control" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Tutor Name</label>
                                        <div class="col-8">
                                            <input type="text" asp-for="ClassSession.Owner.FullName" class="form-control" disabled />
                                        </div>
                                    </div>
                                }

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Student Name</label>
                                    <div class="col-8">
                                        <input type="text" asp-for="User.FullName" class="form-control" disabled />
                                    </div>
                                </div>

                                @if (Model.User.IsParent)
                                {
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Parent Name</label>
                                        <div class="col-8">
                                            <input type="text" value="@(Model.User.ParentFirstName + " " + Model.User.ParentLastName)" class="form-control" disabled />
                                        </div>
                                    </div>
                                }

                                <div class="form-group row">
                                    @if (Model.User.IsParent)
                                    {
                                        <label class="col-4 col-form-label">Parent Email</label>
                                    }
                                    else
                                    {
                                        <label class="col-4 col-form-label">Student Name</label>
                                    }
                                    <div class="col-8">
                                        <input type="text" asp-for="User.Email" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Log Date</label>
                                    <div class="col-8">
                                        <input type="text" value="@Model.LogDate.ToString("dd/MM/yyyy HH:mm")" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Type</label>
                                    <div class="col-8">
                                        <input type="text" asp-for="Title" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Status</label>
                                    <div class="col-8">
                                        <input type="text" asp-for="Status" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Description</label>
                                    <div class="col-8">
                                        <input type="text" asp-for="Description" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label>Admin Notes</label>
                                    <input type="text" asp-for="Notes" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <div class="col-8 offset-4">
                                        <div class="row Crud-card__Buttons">
                                            <div class="col-7">
                                                <input type="submit" value="Save" class="btn btn-success btn-block" />
                                            </div>
                                            <div class="col-5">
                                                <a asp-action="Index" class="btn btn-light btn-block">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


