
<div class="AskForHelp">
    <div class="popup-overlay">
        <div class="Modal Modal--askForHelp">
            <div class="Modal__Header">
                <button type="button" class="Modal__Close" ng-click="cancel()">x</button>
                <h2>Ask for help</h2>
            </div>
            <div class="Modal__Content padding-none">
                <button class="button button--primary width--100" ng-click="sendHelpRequest()">Click here to ask the tutor for some help</button>
            </div>
        </div>
    </div>
</div>