@{
    ViewData["Title"] = "Contact us";
}

}

<main class="so-content-page">

    <section class="so-section-generic-text so-align-text-left so-generic-no-padding-top so-min-page-size">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell large-8">
                    <h1 class="so-color-orange">@ViewData["Title"]</h1>
                    <h3>Thank you for contacting us!</h3>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell large-8">
                    <p>Thank you for the message. One of our team will reply to your query shortly.</p>
                    <p class="so-margin-20"><a href="/" class="button">Back to homepage</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
