@model StandingOut.Data.DTO.HomePageSearch

@{
    ViewData["Title"] = "Home";
}

<main class="so-content-page">
    <section class="so-section-img-text grid-container full">
        <div class="grid-x">
            <div class="cell large-6 large-order-2">
                <div class="so-content-background so-bkgd-img-classroom-lesson"></div>
            </div>
            <div class="cell large-6 large-order-1">
                <div class="so-content-text">
                    <div class="so-content-container">
                        <p class="strapline">Welcome to 2utoring.com</p>
                        <h1>A brand-new platform for students and teachers to collaborate online</h1>
                        <p class="strapline">Creating a unique learning experience for tutors, students and parents at every stage with 2utoring</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="so-section-generic-text so-bkgd-gray">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-10 large-8">
                    <h2 class="so-color-skyblue">Education for all</h2>
                    <p class="so-statement">
                        Our mission is to transform the delivery of education across the globe with our revolutionary new platform,
                        a product that brings unseen delivery models and supports life-long learning opportunities for all.
                    </p>
                    <a href="/waitinglist" class="button">Join our waiting list</a>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-orange">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6 large-order-2">
                    <div class="so-content-background so-bkgd-img-rocket-ship"></div>
                </div>
                <div class="cell large-6 large-order-1">
                    <div class="so-content-text">
                        <div class="so-content-container reduced-width">
                            <h3>Who We Are</h3>
                            <p>
                                2utoring has been born through innovation by our founder and passionate educators with one goal
                                - to give students and teachers the very best innovative technology, tools and learning environment
                                they deserve to succeed.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-generic-text">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-10 large-8">
                    <img class="so-icon-logo" src="images/2utoringClassroom.svg" alt="2utoring logo" />
                    <h2 class="so-color-purple">Meet the Platform</h2>
                    <p>
                        2utoring is a brand-new educational platform that is leading a fundamental shift in the way we approach
                        learning online through unbelievable levels of innovation.
                    </p>
                    <p>
                        Our solution is a step change into a new digital world like we haven’t seen before, an effective tool for students
                        and teachers that compliments current educational systems and methods.
                    </p>
                    <p>
                        The platform that we are excited to share with you allows for greater creativity and flexibility when teaching
                        and learning online and opens up a whole new world of possibilities for both students and teachers, including:
                    </p>
                    <a href="/waitinglist" class="button">Join our waiting list</a>
                </div>
            </div>
            <div class="so-icon-list">
                <div class="grid-x align-justify">
                    <div class="cell large-2">
                        <div class="so-icon-wrapper">
                            <div class="so-icon so-color-purple-dark so-border-purple-dark">
                                <div class="so-icon-container">
                                    <img src="~/images/website/so-benefits-icons-11.png" alt="Control" />
                                    <p>Control</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-2">
                        <div class="so-icon-wrapper">
                            <div class="so-icon so-color-skyblue so-border-skyblue">
                                <div class="so-icon-container">
                                    <img src="~/images/website/so-benefits-icons-12.png" alt="Creativity" />
                                    <p>Creativity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-2">
                        <div class="so-icon-wrapper">
                            <div class="so-icon so-color-orange so-border-orange">
                                <div class="so-icon-container">
                                    <img src="~/images/website/so-benefits-icons-13.png" alt="Communication" />
                                    <p>Communication</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-2">
                        <div class="so-icon-wrapper">
                            <div class="so-icon so-color-purple so-border-purple">
                                <div class="so-icon-container">
                                    <img src="~/images/website/so-benefits-icons-14.png" alt="Collaboration" />
                                    <p>Collaboration</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-2">
                        <div class="so-icon-wrapper">
                            <div class="so-icon so-color-blue so-border-blue">
                                <div class="so-icon-container">
                                    <img src="~/images/website/so-benefits-icons-15.png" alt="Customisation" />
                                    <p>Customisation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="so-section-generic-text">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-10 large-8">
                    <h2 class="so-color-skyblue">How it Works</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-purple">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6 large-order-2">
                    <div class="so-content-background so-bkgd-img-resolution"></div>
                </div>
                <div class="cell large-6 large-order-1">
                    <div class="so-content-text">
                        <div class="so-content-container reduced-width">
                            <h3>Sign up</h3>
                            <p>
                                Get started today and discover our amazing new education platform by creating an account, completing your
                                application and profile and then you are all set to start tutoring your students.
                            </p>
                            <p class="so-margin-20"><a href="/waitinglist" class="button">Join our waiting list</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-skyblue so-aligned-right">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6">
                    <div class="so-content-background so-bkgd-img-student-teacher"></div>
                </div>
                <div class="cell large-6">
                    <div class="so-content-text so-align-text-right">
                        <div class="so-content-container reduced-width">
                            <h3>Schedule your lesson</h3>
                            <p>
                                Once signed up, you can set up lessons in your dashboard including the date and time, and invite your
                                students by email to join. You can even upload your coursework in advance so that your students have it
                                to hand.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-orange">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6 large-order-2">
                    <div class="so-content-background so-bkgd-img-student-communication"></div>
                </div>
                <div class="cell large-6 large-order-1">
                    <div class="so-content-text">
                        <div class="so-content-container reduced-width">
                            <h3>Facilitate your lesson online</h3>
                            <p>
                                Lessons are held in our custom-built learning environment which offers unrivalled features and functionality
                                offering the very best learning experience for students. In addition, for tutors, it enables the facilitation of
                                more effective and efficient use of your time and efforts.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-generic-text so-bkgd-orange-light">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell medium-10 large-8">
                    <h2 class="so-color-orange">Benefits</h2>
                </div>
            </div>
            <div class="grid-x align-justify">
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-01.png" alt="Real-time communication" />
                        <p>Real-time Communication</p>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-02.png" alt="Collaborative Whiteboard" />
                        <p>Collaborative Whiteboard</p>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-03.png" alt="Media Player" />
                        <p>Media Player</p>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-04.png" alt="Controlled Web Browser" />
                        <p>Controlled Web Browser</p>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-05.png" alt="Video and Audio Conferencing" />
                        <p>Video and Audio Conferencing</p>
                    </div>
                </div>
            </div>

            <div class="grid-x align-justify">
                <div class="cell large-2">
                    <div class="cell large-2">
                        <div class="so-benefit-icon-container">
                            <img src="~/images/website/so-benefits-icons-06.png" alt="Desktop Screen Sharing" />
                            <p>Desktop Screen Sharing</p>
                        </div>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="cell large-2">
                        <div class="so-benefit-icon-container">
                            <img src="~/images/website/so-benefits-icons-07.png" alt="Integrated Cloud Storage" />
                            <p>Integrated Cloud Storage</p>
                        </div>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="cell large-2">
                        <div class="so-benefit-icon-container">
                            <img src="~/images/website/so-benefits-icons-08.png" alt="Upload Documents, PDF and JPG" />
                            <p>Upload Documents, PDF &amp; JPG</p>
                        </div>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-09.png" alt="Customised Access Controls" />
                        <p>Customised Access Controls</p>
                    </div>
                </div>
                <div class="cell large-2">
                    <div class="so-benefit-icon-container">
                        <img src="~/images/website/so-benefits-icons-10.png" alt="Live Chat Messaging" />
                        <p>Live Chat Messaging</p>
                    </div>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell large-12">
                        <p>
                            To discover more about the many unique benefits of 2utoring,
                            <a href="/waitinglist">sign up</a> today or <a href="/contactus">contact us</a> for more information.
                        </p>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-orange so-aligned-right">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6">
                    <div class="so-content-background so-bkgd-img-lightbulb"></div>
                </div>
                <div class="cell large-6">
                    <div class="so-content-text so-align-text-right">
                        <div class="so-content-container reduced-width">
                            <h3>
                                Integrated Payment &
                                Booking System
                            </h3>
                            <p>
                                Our customised booking system makes
                                scheduling sessions with students a breeze!
                                Students and Teachers can quickly view
                                real-time availability and self-book their
                                sessions along with payments online and
                                managing rescheduled sessions with a click.
                                All saving time and effort for Teachers and
                                streamlining the experience for students
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-purple">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6 large-order-2">
                    <div class="so-content-background so-bkgd-img-jigsaw"></div>
                </div>
                <div class="cell large-6 large-order-1">
                    <div class="so-content-text">
                        <div class="so-content-container reduced-width">
                            <h3>
                                Learning Management
                                System (LMS)
                            </h3>
                            <p>
                                Don't let this title fool you! You have never seen an LMS like
                                ours - and we can't wait for you to sign up and discover for
                                yourself the amazing platform we have created. There really is
                                no going back now - everything is just a mouse click away.
                            </p>

                            <ul>
                                <li>Create and deliver your content more efficiently</li>
                                <li>Monitor and improve student participant levels in real-time</li>
                                <li>Assess and support student performance throughout</li>
                            </ul>
                            <p>All of this is just at the touch of a button, with 2utoring.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="so-section-img-text so-bkgd-linear-skyblue so-aligned-right">
        <div class="grid-container full">
            <div class="grid-x">
                <div class="cell large-6">
                    <div class="so-content-background so-bkgd-img-classroom"></div>
                </div>
                <div class="cell large-6">
                    <div class="so-content-text so-align-text-right">
                        <div class="so-content-container reduced-width">
                            <h3>
                                Learning
                                Environment
                            </h3>
                            <ul>
                                <li>Communicate in real time</li>
                                <li>Totally safe &amp; secure</li>
                                <li>Tailored to your exact needs</li>
                            </ul>
                            <p>
                                Delivering a learning experience
                                like you’ve never seen before!
                            </p>

                            <p class="so-margin-20"><a href="/waitinglist" class="button">Join our waiting list</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


@*<div class="grid-container" style="display:none; height:0;">
    <div class="grid-x grid-margin-y">
        <div class="large-12 cell">
            <p>Standing Out</p>
        </div>
        <div class="large-12 cell">
            <section class="form margin-top">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <form asp-antiforgery="true" action="/" method="post">
                        <div class="large-12 cell">
                            <input asp-for="Search" type="text" maxlength="255" />
                        </div>
                        <div class="large-12 cell">
                            <button type="submit" value="Save" class="button button--primary">Search</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>*@