@{
    ViewData["Title"] = "Tutor Sign Up - Thank You!";
}

<div class="grid-container grid-container--wide">
    <div class="grid-x margin-bottom-expansive">
        <div class="large-12 cell">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-margin-y">
        <div class="large-12 cell">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="large-12 cell">
                    <p>Thank you for registering your intest! We'll contact you as soon as we can.</p>
                </div>
                <div class="large-12 cell">
                    <a class="button" href="/">Back To Main Site</a>
                </div>
            </div>
        </div>
    </div>
</div>
