@{
    ViewData["Title"] = "Join Our Waiting List";
}

<main class="so-content-page">

    <section class="so-section-generic-text so-align-text-left so-generic-no-padding-top">
        <div class="grid-container">
            <div class="grid-x align-center">
                <div class="cell large-8">
                    <h1 class="so-color-orange">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>

            <div class="grid-container">
                <div class="grid-x align-center grid-padding-y">
                    <div class="large-8 cell">
                        <div class='prefinery-form-embed'></div>
                    </div>
                </div>
            </div>

    </section>
</main>