<div class="card card--toRespond:small">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <div class="fs-28 fw-700">Private Tutor Plan</div>
        </div>
        <div class="mt-14">
            <sup class="cl-light fs-24 fw-500 d-inline-block mr-7" style="transform: translateY(-10px);">&pound;</sup>
            <span class="fs-50 fw-800">9.99</span>
            <span class="cl-light fs-24 fw-500 ml-7">/mo</span>
        </div>
    </div>
    <div class="card-body">
        <div class="fs-18 fw-700 mb-14">3 month free trial *</div>
        <ul class="p-0 m-0" style="list-style: none;">
            <li class="mb-14">Tutor profile page</li>
            <li class="mb-14">Secure online classroom</li>
            <li class="mb-14">Unlimited marketplace listings</li>
            <li class="mb-14">Teach up to 10 students per lesson</li>
            <li class="mb-14">Host private classes</li>
        </ul>
        <div class="mb-14"><em class="fs-13 fw-500 cl-light">* Monthly payment will start after the 3rd month, you can cancel your subscription at any time.</em></div>
    </div>
</div>
