
<div class="Page__Container--size:medium mb-56">

    <h1 class="fw-800 fs-32 mb-56">{{title}}</h1>

    <ng-container *ngIf="!(stripeConnectAccountId !== undefined && stripeConnectAccountId != null && stripeConnectAccountId != '')">
        <form (ngSubmit)="payoutRedirect()">
            <p class="fs-16 fw-500 lh-16">When you've sold lessons on 2utoring.com your earnings will be shown as a pending balance, in your earnings tab minus our platform charges. Earnings are released the day after a lesson has been completed and will arrive directly into your bank account within seven days.</p>
            <p class="fs-16 fw-500 lh-16">To keep your personal banking details secure, we use Stripe to make sure you get paid on time.</p>
            <p class="fs-16 fw-500 lh-16">Click continue to set up your pay-outs on Stripe.</p>

            <div class="Alert Alert--type:Error" role="alert" *ngIf="error == true">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 6C9 5.448 9.448 5 10 5C10.552 5 11 5.448 11 6V11C11 11.552 10.552 12 10 12C9.448 12 9 11.552 9 11V6ZM9 14C9 13.448 9.448 13 10 13C10.552 13 11 13.448 11 14C11 14.552 10.552 15 10 15C9.448 15 9 14.552 9 14ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18ZM10 0C4.477 0 0 4.477 0 10C0 15.523 4.477 20 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0Z" fill="#222B45" />
                </svg>
                <h5>Unable to Link Account</h5>
            </div>

            <div class="Form_Block-Controls">
                <a *ngIf="companyLoginMode" href="/admin/settings" class="link-grey">Cancel</a>
                <a *ngIf="!companyLoginMode" href="/tutor/settings" class="link-grey">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg ml-auto">Continue</button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="stripeConnectAccountId !== undefined && stripeConnectAccountId != null && stripeConnectAccountId != ''">
        <form (ngSubmit)="save()" [formGroup]="bankForm">
            <div class="form-group">
                <div class="col-12">
                    <div class="d-flex mb-42">
                        <button type="button" class="btn btn-primary mr-14" *ngIf="showReloadList" (click)="getBankAccounts()">Reload Bank Accounts</button>
                        <button type="button" class="btn btn-primary" (click)="manageAccount()">Manage Account</button>
                    </div>

                    <ng-container *ngIf="stripeBankAccounts.length == 0 && loaded >= toLoad">
                        <p class="fs-16 fw-500 lh-16">No Bank Accounts Found.</p>
                    </ng-container>

                    <ng-container *ngIf="stripeBankAccounts.length > 0">
                        <p class="fs-16 fw-500 lh-16">Please select the bank account you wish to receive payments in.</p>

                        <div class="card bsx-0 mb-14" *ngFor="let account of stripeBankAccounts">
                            <div class="card-body d-flex">
                                <div class="form-check mr-21">
                                    <label for="stripeConnectBankAccountId_{{index}}" class="form-check-label">
                                        <input type="radio" type="radio" name="stripeConnectBankAccountId" id="stripeConnectBankAccountId_{{index}}" formControlName="stripeConnectBankAccountId" [value]="account.id" autocomplete="off" />
                                        <span class="label">{{account.lastDigits}} | {{account.sortCode}} | {{account.accountHolderName}} | {{account.bankName}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div *ngIf="bankFormControls.stripeConnectBankAccountId.errors && (bankFormControls.stripeConnectBankAccountId.dirty || bankFormControls.stripeConnectBankAccountId.touched || bankFormSubmitted)" class="invalid-feedback d-block">
                                    <p class="text-danger" *ngIf="bankFormControls.stripeConnectBankAccountId.errors.required">This field is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="Form_Block-Controls">
                            <a *ngIf="companyLoginMode" href="/admin/settings" class="link-grey">Go back</a>
                            <a *ngIf="!companyLoginMode" href="/tutor/settings" class="link-grey">Go back</a>
                            <button type="submit" class="btn btn-primary btn-lg ml-auto">Save changes</button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </ng-container>
</div>
