@{
    ViewData["Title"] = "About 2utoring.com | Solving the global education crisis";
}

@section meta{
    <meta content="2utoring was built on the foundations of frustration, opportunity, excitement and serious determination to make education accessible for all... Read more here." name="description">
    <meta content="About 2utoring.com | Solving the global education crisis" property="og:title">
    <meta content="2utoring was built on the foundations of frustration, opportunity, excitement and serious determination to make education accessible for all... Read more here." property="og:description">
    <meta content="About 2utoring.com | Solving the global education crisis" property="twitter:title">
    <meta content="2utoring was built on the foundations of frustration, opportunity, excitement and serious determination to make education accessible for all... Read more here." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section _2u_about">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">How it all started</h2>
        <h1 class="_2u_heading">About</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v1-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v1-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v1-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v1-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v1-01.png 3330w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="/images/Asset-1_5.svg" loading="lazy" alt=""></div>
    </div>
</div>
<div class="_2u_inner-wrapper-2">
    <h2 class="_2u_subheading _2u_about-intro _2u_top-extra-space _2u_reduced-top-mobile">How did 2utoring come to be?</h2>
    <p class="_2u_body-1 _2u_centre _2u_about-intro">Well, like most tech companies, 2utoring was built on the foundations of frustration, opportunity, excitement and above all else, serious determination to make education accessible for all. Our founder and CEO, Dilbir Sahota, an experienced secondary school headteacher and art tutor, has been the pulse behind every pixel on our platform and overseen our development since devising the original prototype in 2017.</p>
    <div class="_2u_columns-6 w-row">
        <div class="_2u_image-column-left _2u_no-space _2u_about-clm w-col w-col-6 w-col-medium-6"><img src="/images/Asset-9.svg" loading="lazy" alt="" class="_2u_image-11"></div>
        <div class="_2u_about-clm-right w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_about _2u_top-space">“2utoring was built on the foundations of frustration, opportunity, excitement and serious determination to make education accessible for all”</h3>
            <p class="_2u_body-1 _2u_centre-phone _2u_about">The last three years have seen us iterate, modify, develop and constantly improve this prototype into a groundbreaking educational platform that is designed to drive a global education revolution. So with roots in education and a flair for technology, our founder has created something that truly is built for educators, by educators and we’re all so excited for you to become part of this journey.</p>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_about">Solving the global education crisis</h2><img src="/images/2utoring_Screen-Mockup-1_Row-3_How-it-all-started_v2-02.png" loading="lazy" sizes="(max-width: 767px) 87vw, (max-width: 991px) 94vw, (max-width: 1279px) 90vw, 1200px" srcset="/images/2utoring_Screen-Mockup-1_Row-3_How-it-all-started_v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-3_How-it-all-started_v2-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-1_Row-3_How-it-all-started_v2-01-p-2000.png 2000w, /images/2utoring_Screen-Mockup-1_Row-3_How-it-all-started_v2-02.png 3329w" alt="" class="_2u_image-14">
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_no-phone-spacing _2u_top-spacing">73% of the population is priced out of the academic market, unable to afford and access educational resources, quality schooling and specialist support (Source: Sutton Trust). We often hear about equality, but seldom is it educational inequality that is mentioned. The reality is that in a post-COVID world, access to education, wherever the student may be, is ever-more essential.<br><strong>2utoring is here to provide the perfect solution to this global crisis.</strong></p>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom"></div>
<div class="_2u_inner-wrapper-2 _2u_about-mobile">
    <h2 class="_2u_subheading _2u_mission _2u_about _2u_central">Our Mission</h2>
    <p class="_2u_body-1 _2u_mission">To give every tutor the ability to live a better life with multi-fold income increases made possible by successfully delivering personalised educational classroom sessions to students in groups, whilst offering lower class prices for students, making education accessible and affordable to all.</p>
    <h2 class="_2u_subheading _2u_vision">Our Vision</h2>
    <p class="_2u_body-1 _2u_mission _2u_reduced _2u_about">Accessible education for all from qualified professionals who love to teach.</p>
</div>
<div class="_2u_divider"><img src="/images/Asset-19_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_hero-section-blue _2u_kpis">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_about _2u_central">How the 2utoring classroom gets us one step closer</h2>
        <div class="w-row">
            <div class="w-col w-col-4">
                <h5 class="_2u_subheading _2u_blue-kpis">99.99%</h5>
                <p class="_2u_body-1 _2u_kpi-blue">Uptime Availability</p>
            </div>
            <div class="w-col w-col-4">
                <h5 class="_2u_subheading _2u_blue-kpis">7</h5>
                <p class="_2u_body-1 _2u_kpi-blue">API Connections</p>
            </div>
            <div class="w-col w-col-4">
                <h5 class="_2u_subheading _2u_blue-kpis">10</h5>
                <p class="_2u_body-1 _2u_kpi-blue">Modules/Widgets</p>
            </div>
        </div><img src="/images/About-connections.png" loading="lazy" sizes="(max-width: 767px) 87vw, (max-width: 991px) 94vw, (max-width: 1279px) 90vw, 1200px" srcset="/images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1_Row-1_About-How-it-all-started_v3-01-p-1080.png 1080w, /images/About-connections.png 3705w" alt="" class="_2u_image-12 _2u_about-data">
        <div class="w-row">
            <div class="_2u_column-8 w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_kpis"><img src="/images/Asset-21.svg" loading="lazy" width="84" alt="" class="_2u_image-3"></div>
                <h5 class="_2u_subheading _2u_blue-kpis _2u_small">Flexibility</h5>
                <p class="_2u_body-1 _2u_centre">2utoring allows you to hold or attend classes anytime, anywhere enabling you to build close friendships with your students or tutors safely online wherever you are.</p>
            </div>
            <div class="_2u_column-8 w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_kpis"><img src="/images/Asset-22.svg" loading="lazy" width="84" alt="" class="_2u_image-3"></div>
                <h5 class="_2u_subheading _2u_blue-kpis _2u_small">Cloud-based</h5>
                <p class="_2u_body-1 _2u_centre">Technology enables your classes to be interactive, engaging and fun with unlimited online resources - no wonder why online learning is becoming the preferred method.</p>
            </div>
            <div class="w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_kpis"><img src="/images/Asset-23.svg" loading="lazy" width="84" alt="" class="_2u_image-3"></div>
                <h5 class="_2u_subheading _2u_blue-kpis _2u_small">Value</h5>
                <p class="_2u_body-1 _2u_centre _2u_about">By making one-to-many learning possible, tutors revenue per class increases, enabling costs per student to fall, improving affordability and value for money.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/Asset-20.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_bottom"></div>
<div class="_2u_inner-wrapper-2">
    <h2 class="_2u_subheading _2u_space-above _2u_about-space _2u_built-educators">Built by educators, for educators</h2>
    <div class="_2u_columns-5 _2u_who-we-are w-row">
        <div class="w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Who we are</h3>
            <p class="_2u_body-1">2utoring has been born through innovation by our founder supported by passionate educators, investors and technologists giving students and tutors the technology, tools and learning environment they deserve to succeed. We are here to provide you with a truly revolutionary platform that transforms the learning enviroment available to tutors and their students - removing all barriers to learning. A deep understanding of the fact that learning from each other is essential, 2utoring is here to give the best collaboration tools to the world to achieve this global education revolution.</p>
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_what-we-do">What we do</h3>
            <p class="_2u_body-1">Offering parents, students and tutors a safe and secure online learning environment with a revolutionary digital classroom that will transform the way we share knowledge online, forever.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-10.svg" loading="lazy" alt="" class="_2u_image-18"></div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_values">
    <h2 class="_2u_subheading _2u_no-bottom _2u_values _2u_about-space _2u_above">Company values</h2>
    <div class="_2u_columns-6 _2u_about-values w-row">
        <div class="_2u_image-column-left w-col w-col-6"><img src="/images/Asset-11.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Inclusion</h3>
            <p class="_2u_body-1">2utoring is built around creating the best technology for our community, but it is that community of people who drives our passion to excel. People from all backgrounds and beliefs are welcome to join our community and as our team grows we are committed to recruiting a diverse team of creatives, technologists, product managers amongst many others.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_about-values w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Accessibility</h3>
            <p class="_2u_body-1">Creating a global educational revolution is largely driven around the ability for classes to be delivered more affordably to students, whilst increasing the pay received by tutors. This will bring with it the potential for the wider population to access education that otherwise would not be available to them.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-12.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_columns-6 _2u_about-values w-row">
        <div class="_2u_image-column-left w-col w-col-6"><img src="/images/Asset-13.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Quality</h3>
            <p class="_2u_body-1">Education available to all is one thing, but it’s nothing without quality. Similarly having multiple students in one digital classroom is relatively easy to achieve, but it’s hard to develop the best tools to enable communication, group management and sharing controls to be managed efficiently to retain the same levels of personalised learning in the physical classroom. We are all about endorsing quality education, at scale, which has remained an unsolved challenge, until now.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_about-values w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Technology</h3>
            <p class="_2u_body-1">Since we first started prototyping our digital classroom in 2017, we have always been obsessed with each pixel and line of code, ensuring that it is future-proof, expandable, stable and compatible with constant improvements as our platform evolves and develops. Today, technology is at the heart of our culture, embracing the best tools for every requirement.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-24.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_columns-6 _2u_about-values w-row">
        <div class="_2u_image-column-left w-col w-col-6"><img src="/images/Asset-15.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_orange">Entrepreneurship</h3>
            <p class="_2u_body-1">For tutors, giving them a platform to build their business and grow their income is only the start of our approach to entrepreneurship. We are encouraging students in our community to develop skills in these areas to develop the next generation of entrepreneurs and business leaders. In future, we plan to have a dedicated startup accelerator where tutors can promote courses tailored to drive the next generation of entrepreneurs.</p>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative"><img src="/images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-2 _2u_values">
        <h2 class="_2u_subheading _2u_about">Meet the founders</h2>
        <div class="_2u_columns-5 w-row">
            <div class="_2u_founder-bio w-col w-col-4 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_name">Dilbir Sahota</h3>
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_position">Founder and CEO</h3>
                <p class="_2u_body-1">Dilbir leads the executive team and continues to bring innovation and a spark of creativity to the development of the 2utoring platform, led from his roots as a secondary school art teacher. A passionate, conceptual thinker and ethical former headteacher with in-depth knowledge and first-hand experience of the education sector spanning over 23 years. His reputation of leading, developing and motivating is strong and now Dilbir is applying his proven leadership skills to drive a global educational revolution with 2utoring.</p>
            </div>
            <div class="_2u_founder-bio w-col w-col-4 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_name">Sukhjeevan Uppal</h3>
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_position">Co-Founder and CTO</h3>
                <p class="_2u_body-1">Sukhjeevan holds a vital role in the successful development and growth of 2utoring, taking ownership and responsibility for the technological development and support for the platform. With over 22 years experience in delivering solutions to multinational organisations as a technical consultant, Sukhjeevan now applies his strong technical and commercial acumen to develop, test, implement and successfully deliver technology solutions for the platform driving growth for our community.</p>
            </div>
            <div class="_2u_founder-bio w-col w-col-4 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_name">Ollie Cox</h3>
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_position">Co-Founder and Non-Exec Director</h3>
                <p class="_2u_body-1">Ollie takes responsibility for the strategic promotion and marketing of the 2utoring platform. Having built a successful, reputable, fast-growing design and marketing agency, he now brings these skills to grow audience bases, improve brand awareness and drive new revenue streams. Having originally worked with Dilbir on a consultancy basis, he now sits on the executive board as Non-Executive Director providing oversight on strategy, policies and governance as well as acting Chief Marketing Officer utilising his 10 years experience in design and successful marketing of businesses.</p>
            </div>
        </div>
    </div>
    <div class="_2u_affiliation-logo-clms w-row">
        <div class="_2u_column-6 w-col w-col-6"><img src="/images/Asset-262x-100.jpg" loading="lazy" alt=""></div>
        <div class="_2u_column-7 w-col w-col-6"><img src="/images/Member_of_RSI.png" loading="lazy" width="209" sizes="(max-width: 479px) 44vw, (max-width: 767px) 209px, (max-width: 991px) 22vw, 209px" srcset="/images/Member_of_RSI-p-500.png 500w, /images/Member_of_RSI.png 788w" alt="" class="_2u_image-13"></div>
    </div>
</div>
<div>
    <div class="_2u_divider _2u_negative"><img src="/images/divider7.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_footer"></div>
    <div class="_2u_cta-green">
        <div class="_2u_inner-wrapper-2">
            <h2 class="_2u_subheading _2u_cta-white">Start your free 2utoring trial</h2>
            <h3 class="_2u_h3 _2u_smaller _2u_left _2u_cta">Trial 2utoring.com free for 30 days</h3>
            <div class="_2u_button-container _2u_left-cta">
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button-icon-wrap _2u_cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_cta-reverse">Start free trial</div><img src="/images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
                <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button-icon-wrap _2u_reverse-cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_reverse _2u_cta">See all features</div><img src="/images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
            </div>
        </div>
    </div>
    <div class="_2u_divider _2u_tablet"><img src="/images/divider9.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_bottom"></div>
    <div class="_2u_cta-green-illustration">
        <div class="_2u_inner-wrapper-2 _2u_cta-illustration-footer"><img src="/images/Home_Asset-18.svg" loading="lazy" width="345" alt="" class="_2u_footer-cta-illustration"></div>
    </div>
</div>

@section scripts{

}




