@{
    ViewData["Title"] = "2utoring | Your brand-new digital classroom awaits...";
}

@section meta{
    <meta content="A brand-new platform for you to collaborate online. Whether you&#x27;re a student, parent, tutor or agency, explore your new 2utoring digital classroom here." name="description">
    <meta content="2utoring | Your brand-new digital classroom awaits..." property="og:title">
    <meta content="A brand-new platform for you to collaborate online. Whether you&#x27;re a student, parent, tutor or agency, explore your new 2utoring digital classroom here." property="og:description">
    <meta content="2utoring | Your brand-new digital classroom awaits..." property="twitter:title">
    <meta content="A brand-new platform for you to collaborate online. Whether you&#x27;re a student, parent, tutor or agency, explore your new 2utoring digital classroom here." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">Your digital classroom awaits</h2>
        <h1 class="_2u_heading">A brand-new platform for students and teachers to collaborate online</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1_Row-1_Classroom-Your-digital-classroom-awaits_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1_Row-1_Classroom-Your-digital-classroom-awaits_v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-1_Classroom-Your-digital-classroom-awaits_v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1_Row-1_Classroom-Your-digital-classroom-awaits_v3-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-1_Row-1_Classroom-Your-digital-classroom-awaits_v3-01.png 3485w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="/images/Asset-1_7.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <div class="_2u_classroom-features _2u_no-padding-tablet _2u_top-classroom">
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-25.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Google Drive Integration</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-26.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Convenient Multi-pane Views</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-27.svg" loading="lazy" width="34" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">File Sharing</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-28.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Cloud-based Platform</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-29.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Video &amp; Audio Conferencing</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-30.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Media &amp; Web Browser</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-31.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Digital Whiteboards</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-32.svg" loading="lazy" width="113" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Screen Sharing &amp; Live-View</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-33.svg" loading="lazy" width="31" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">On-screen Calculator</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-34.svg" loading="lazy" width="42" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Easy Messaging Tools</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-35.svg" loading="lazy" width="41" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Real-time Collaboration</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-36.svg" loading="lazy" width="39" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Auto-save Feature</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre">
        <h2 class="_2u_subheading _2u_classroom">Meet your new digital classroom features</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-1_Row-1_Meet-your-new-digital-classroom-features_v4-01.png 3003w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-2_Row-1_Meet-your-new-digital-classroom-features_v3-01.png 3004w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-4_Row-1_Meet-your-new-digital-classroom-features_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-4_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-4_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-4_Row-1_Meet-your-new-digital-classroom-features_v3-01.png 3004w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v3-01.png 3004w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_no-space-above _2u_classroom-side">
    <div class="_2u_columns-6 w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-stack"><img src="/images/Asset-4_1.svg" loading="lazy" alt="" class="_2u_image-16 _2u_bean-bag"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange">Multi-pane views</h3>
            <p class="_2u_body-1 _2u_classroom">You can enjoy using multiple classroom applications simultaneously without the need for switching browser tabs with 2utoring’s multi-pane views. Choose flexibly between dual-, tri- and quad-screen configurations to optimise the workspace that works perfectly for you. Whatever your learning or teaching style is, you can optimise your classroom to suit you.</p>
            <h3 class="_2u_h3 _2u_left _2u_orange">Your classroom. Your workspace.</h3>
            <p class="_2u_body-1">Create up to four screens in quad-view giving you the flexibility to maximise your display space. You could have the whiteboard, browser, media player, and a docs file,or any combination of the classroom applications openin the four panes. Each pane works independently, like having four browser tabs open at the same time.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange">Intuitive design</h3>
            <p class="_2u_body-1 _2u_classroom">When we set out to create the best digital classroom, we soon identified the ability to have multiple applications open in organised panes was key to ease of use and convenience for you. The key thing was to make this easy to use, so after several iterations, we found the best way was to give you the option to set the number of panes you would like to have using the pane selector. Next, you simply select the application you would like to open in each pane, and that’s it, it works easily, every time.</p>
            <h3 class="_2u_h3 _2u_left _2u_orange">After-session support</h3>
            <p class="_2u_body-1">Not only do you have the flexibility to schedule classroom sessions with your students at any time, 24/7/365, but you also have the ability to support them outside of the classroom too. Even when the session has ended, you can, if you wish, provide support to your students. The doors to your digital classroom are always open, offering you enhanced value for money and a more flexible and engaging learning experience.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="/images/Asset-5_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_table-girl"></div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section-gradient _2u_classroom">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_classroom-top">Safety. Security. Data. Compliance.</h2><img src="/images/2utoring_Screen-Mockup-3_Row-1_Safety.-Security.-Data.-Compliance._v3-01.png" loading="lazy" sizes="(max-width: 767px) 87vw, (max-width: 991px) 94vw, (max-width: 1279px) 90vw, 1200px" srcset="/images/2utoring_Screen-Mockup-3_Row-1_Safety.-Security.-Data.-Compliance._v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3_Row-1_Safety.-Security.-Data.-Compliance._v3-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-3_Row-1_Safety.-Security.-Data.-Compliance._v3-01.png 3209w" alt="" class="_2u_classroom-screenshot">
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_recordings"><img src="/images/Asset-37.svg" loading="lazy" width="40" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal">Screen recordings</h3>
                </div>
                <p class="_2u_body-1">All digital classroom sessions are multi-factor recorded including each individual participant&#x27;s screen, any active webcams, and audio channels. These are encrypted and safely stored in the cloud for everyone’s protection and for compliance. This gives you total peace of mind that you are safe on our platform.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_key"><img src="/images/Asset-38.svg" loading="lazy" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal">256-bit SSL Encryption</h3>
                </div>
                <p class="_2u_body-1">All user sessions are encrypted protecting your data and this also applies to the secure session recordings that are taken for compliance and safeguarding purposes.</p>
            </div>
        </div>
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tick"><img src="/images/Asset-39.svg" loading="lazy" width="33" alt="" class="_2u_image-9"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal">DBS Compliance</h3>
                </div>
                <p class="_2u_body-1">If DBS matters to you, it matters to us. That’s why we have made DBS certifications a central part of the experience for tutors and students. For Tutors that have a Enhanced DBS certificate, a DBS status badge is displayed on their profile. All Certificates and qualifications are verified by the 2utoring safeguarding team giving you the opportunity for a more informed choice when selecting tutors. For students and parents, you have peace of mind that if you choose a DBS verified tutor on 2utoring, your child will be well safeguarded.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing w-clearfix w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_lock"><img src="/images/Asset-40.svg" loading="lazy" width="29" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal">Safeguarding</h3>
                </div>
                <p class="_2u_body-1">Your safety is our priority and we have taken multiple steps to ensure a safe and secure teaching and learning environment for you. If an incident does occur, reporting that concern is a frictionless and straightforward process. All reports will be investigated and 2utoring will take swift action as detailed in our terms and conditions and policies. You have all the controls you need to stay safe online.</p>
                <a asp-route-controller="Home" asp-route-action="Safeguarding" class="_2u_button _2u_left _2u_teal _2u_classroom _2u_bottom w-button">Learn more about safeguarding</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_features-section _2u_classroom">
    <h2 class="_2u_subheading _2u_wide">Flexible approach to inclusive teaching</h2>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing">Your digital classroom has been optimised to accommodate a wide range of class sizes. From one-to-one to one-to-many, you’ll have a smooth, rich and engaging tutor and student experience that’ll keep everyone coming back for more!</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_wide _2u_features _2u_one-to-one"><img src="/images/Asset-41.svg" loading="lazy" width="321" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach one-to-one</h3>
                <p class="_2u_body-1 _2u_centre">Teach students on a totally individual and personal basis and interact with them in real-time in your digital classroom.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="/images/Asset-42.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach groups</h3>
                <p class="_2u_body-1 _2u_centre">Reduce your prices per student, whilst increasing your hourly income by teaching groups of students together and still retaining all the benefits of one-to-one teaching and learning, all made possible in 2utoring.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="/images/Asset-43.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach whole classes</h3>
                <p class="_2u_body-1 _2u_centre">Your digital classroom has been optimised for one-to-many teaching practices ensuring that you can offer a highly personalised learning experience to all.</p>
            </div>
        </div>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="/images/Home_Asset-8.svg" loading="lazy" width="68" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Groups in your classes</h3>
                <p class="_2u_body-1 _2u_centre">You can create groups inside your classes to enable you to set different tasks depending on ability or provide different teaching styles and levels of support.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="/images/Home_Asset-9.svg" loading="lazy" width="81" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Peer to peer</h3>
                <p class="_2u_body-1 _2u_centre">You have the option to use 2utoring as a peer to peer collaboration suite to share knowledge, share in success and mimic the classroom online.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing _2u_classroom w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="/images/Home_Asset-10.svg" loading="lazy" width="56" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">A combination of all</h3>
                <p class="_2u_body-1 _2u_centre">You can facilitate sessions on 2utoring in any combination of these options enabling you to apply multiple delivery methods and adapt the classroom for all learners.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom"></div>
<div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_classroom _2u_central">
    <h2 class="_2u_subheading _2u_top">Google Docs, Sheets and Slides</h2>
</div>
<div class="_2u_screenshot-slider-wrapper _2u_no-apron">
    <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
        <div class="w-slider-mask">
            <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01.png 3004w" alt=""></div>
            <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2_Row-4_4.-Google-Docs-Sheets-And-Slides._v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2_Row-4_4.-Google-Docs-Sheets-And-Slides._v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2_Row-4_4.-Google-Docs-Sheets-And-Slides._v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2_Row-4_4.-Google-Docs-Sheets-And-Slides._v3-01.png 3005w" alt=""></div>
            <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2_Row-1_4.-Google-Docs-Sheets-And-Slides._v3-01.png 3005w" alt=""></div>
            <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v4Alternative-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v4Alternative-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v4Alternative-01-p-800.png 800w, /images/2utoring_Screen-Mockup-3_Row-1_Meet-your-new-digital-classroom-features_v4Alternative-01.png 3005w" alt=""></div>
        </div>
        <div class="_2u_left-arrow w-slider-arrow-left">
            <div class="_2u_icon-3 w-icon-slider-left"></div>
        </div>
        <div class="_2u_right-arrow w-slider-arrow-right">
            <div class="_2u_icon-2 w-icon-slider-right"></div>
        </div>
        <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_classroom _2u_central">
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_green _2u_classroom">Integrated with Google</h3>
            <p class="_2u_body-1">For the best user experience, sign up to 2utoring with your Google account, or create one for free. This will unlock a whole host of amazing features including native integration with Google Drive file sharing, along with Google Docs, Sheets and Slides. This enables you to collaborate in real-time during and after your classroom session has ended. This functionality is built right into the platform, so there is no need to leave. In terms of file sharing permissions, we do the hard work for you, making collaboration easy and enabling you to enjoy a whole new dimension in your digital classroom.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="/images/Asset-8.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="/images/Asset-9_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_green _2u_classroom">Easy document, spreadsheet and slideshow sharing</h3>
            <p class="_2u_body-1">You can easily collaborate with others on your digital classroom documents with streamlined file-sharing controls, giving you the ability to organise files in folders, manage sharing permissions and access rights and more. When you make a change, everyone else with permission can see the same change too, in real-time. The integration with Google Drive means that your files can be accessed at any time and they are stored safely in Google Cloud.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_green _2u_classroom">Enabling personalised learning</h3>
            <p class="_2u_body-1">For you to experience whole class teaching with all the benefits of one-to-one learning personalisation, fluid file sharing needs to be central to the digital classroom. With 2utoring, editing a document, spreadsheet or slideshow in real-time is easy, and you can share it with specific individuals, groups, or the whole class. For tutors, tasks can be differentiated to meet the needs of each individual student and you have the flexibility to give extension tasks too. Even after the classroom session has ended, the collaborative sharing and real-time editing features still remain active.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="/images/Asset-47.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-stack"><img src="/images/Asset-11_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text _2u_extra-bottom-mobile w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_green _2u_classroom">Live view. Tutor Control.</h3>
            <p class="_2u_body-1">For tutors, we’ve revolutionised the way you can keep an eye on how your students are getting on in your classroom, with live-view. At the click of a button, you can view the workspace of any of your students, see what they’re working on, and help them. You can easily establish a secure one-to-one audio conversation with them, and collaborate with them on the document, spreadsheet or slideshow that they may need support with. You could have up to ten students all working independently in your classroom, whilst you monitor, view, collaborate, and support your students progress. It’s totally up to you, you have flexibility and control, you can deliver the best learning experience.</p>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative _2u_classroom"><img src="/images/Asset-48.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_yellow _2u_classroom"></div>
<div class="_2u_hero-section _2u_yellow">
    <div class="_2u_inner-wrapper-2 _2u_classroom-spacing">
        <h2 class="_2u_subheading _2u_classroom">Whiteboards. Smartboards. Pixelboards.</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-2_Row-5_Whiteboards.-Smartphones.-Pixelboards._v2-01.png 3394w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-5_Row-1_Whiteboards.-Smartphones.-Pixelboards.-._v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-5_Row-1_Whiteboards.-Smartphones.-Pixelboards.-._v4-01-p-500.png 500w, /images/2utoring_Screen-Mockup-5_Row-1_Whiteboards.-Smartphones.-Pixelboards.-._v4-01-p-800.png 800w, /images/2utoring_Screen-Mockup-5_Row-1_Whiteboards.-Smartphones.-Pixelboards.-._v4-01-p-2000.png 2000w, /images/2utoring_Screen-Mockup-5_Row-1_Whiteboards.-Smartphones.-Pixelboards.-._v4-01.png 3396w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-3_Row-5_Whiteboards.-Smartphones.-Pixelboards-_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-3_Row-5_Whiteboards.-Smartphones.-Pixelboards-_v4-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3_Row-5_Whiteboards.-Smartphones.-Pixelboards-_v4-01-p-800.png 800w, /images/2utoring_Screen-Mockup-3_Row-5_Whiteboards.-Smartphones.-Pixelboards-_v4-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-3_Row-5_Whiteboards.-Smartphones.-Pixelboards-_v4-01.png 3396w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-4_Row-5_Whiteboards.-Smartphones.-Pixelboards.-._v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-4_Row-5_Whiteboards.-Smartphones.-Pixelboards.-._v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-4_Row-5_Whiteboards.-Smartphones.-Pixelboards.-._v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-4_Row-5_Whiteboards.-Smartphones.-Pixelboards.-._v3-01.png 3393w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_classroom-spacing">
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_classroom _2u_board"><img src="/images/Asset-50.svg" loading="lazy" width="40" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Next-generation Whiteboard</h3>
                </div>
                <p class="_2u_body-1">It’s been a while since true reinvention of the teachers’ board has been made. We feel confident that we have now brought this into the 21st century. Giving tutors and students the option to collaborate together in real-time on independent and synchronised whiteboards in the digital classroom. Multiple whiteboards can be created inside the classroom and each can have specific sharing permissions set. Work together or individually, you choose. You can draw freehand, use shapes, change colours, paste pictures, screenshots - it&#x27;s a true revolution of a smart board (and it’s no longer just for the teacher!).</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_classroom _2u_shared"><img src="/images/Asset-51.svg" loading="lazy" width="38" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Shared Whiteboard</h3>
                </div>
                <p class="_2u_body-1">Unlimited whiteboards can be created in your digital classroom, each with individual sharing permissions, giving tutors and students total flexibility. You can share tasks with the whole class whiteboard, invite students to contribute to it, share a copy with particular users. Create whiteboards for groups, have them work independently from other groups, or just specific students. Students can work on a one-to-one basis with teachers if they need something explaining. The opportunities are endless, for all users.</p>
            </div>
        </div>
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_classroom _2u_hand"><img src="/images/Asset-52.svg" loading="lazy" width="30" alt="" class="_2u_hand"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Putting your hand up</h3>
                </div>
                <p class="_2u_body-1">If you get stuck and need help with a task set by your tutor, you can contact your tutor privately by using our one-to-one chat messaging feature. Tutors can then support and help you directly on your whiteboard. You can get support andassistance at any time. You’re going to feel so confident in your new digital classroom..</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_classroom _2u_face"><img src="/images/Asset-53.svg" loading="lazy" width="38" alt=""></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Inclusive support for all</h3>
                </div>
                <p class="_2u_body-1 _2u_bottom-space">Tutors now have the ability to provide fully inclusive and well-supported teaching to students of all abilities and stages. For students, you never need to feel on your own, or too embarrassed to speak up. The whiteboard is central to providing a personalised learning experience for all students, enabling multiple delivery models and enhanced teaching methods to be delivered in a scalable way, adapted to suit each individual student.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/Asset-49.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom _2u_yellow _2u_trans"></div>
<div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_classroom">
    <h2 class="_2u_subheading _2u_no-bottom">Communications</h2>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom _2u_rev _2u_comms w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Messages</h3>
            <p class="_2u_body-1">Whole class, group, or individual messages can be exchanged within the digital classroom with a conveniently positioned messaging interface that doesn’t interfere with the other window panes you are using. For tutors, this means that you can easily make a quick announcement or share a message with the entire class, a particular group or individual student. For students, you can easily join the conversation class-wide, or establish a private conversation with your tutor if you need help. This gives you everything you need to stay in touch, get support and ask questions.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-13_1.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6"><img src="/images/Asset-14.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Screen sharing</h3>
            <p class="_2u_body-1">You can easily share your screen with all or specific users within your digital classroom making collaboration easy and keeping you in control. For tutors, this can help you share explanations or present to your class with ease. For students, you can share your progress with your tutor or get the help and support you need quickly and efficiently. It’s as if you all sat around a table together, in the comfort of your own home or office.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Help notifications</h3>
            <p class="_2u_body-1">Support is always there for students who need it. Instead of putting your hand up, you can hit a help button which will send a notification to your tutor who can then provide support to you. For tutors, this provides peace of mind that your students are not alone if they need help, they can easily gain your attention all as part of the native digital classroom experience.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-15_1.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6"><img src="/images/Asset-16.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Audio</h3>
            <p class="_2u_body-1">Just like everything else, audio controls can be customised in your digital classroom to suit every scenario. Tutors can broadcast a one-way audio line to all classroom participants to make announcements and share knowledge. In addition two-way audio channels can be established between all students, specific groups or individuals to enable successful delivery or rich, personalised learning experiences. It’s the most convenient way for students and tutors to keep in touch and communicate together.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Video</h3>
            <p class="_2u_body-1">Face-to-face interaction can be an essential part of the digital classroom to some users and 2utoring includes adaptive webcam conferencing functionality for up to ten simultaneous users. You can view fellow classroom participants in a grid view, engage and interact together just like you would in a traditional classroom. Single webcams can be expanded to give you a larger picture of your tutor or student, and can be undocked enabling you to place it wherever you wish on your classroom interface whilst you access the other applications. You have total flexibility in your classroom.</p>
        </div>
        <div class="_2u_image-column-right w-col w-col-6"><img src="/images/Asset-18.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing _2u_classroom w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6"><img src="/images/Asset-19.svg" loading="lazy" alt=""></div>
        <div class="_2u_image-column-right w-col w-col-6">
            <h3 class="_2u_h3 _2u_left _2u_teal">Groups</h3>
            <p class="_2u_body-1">Tutors can establish groups within a classroom which effectively splits your classroom into multiple classrooms giving you the opportunity to assign separate tasks to different groups. When groups are established, this updates your communication controls enabling you to control message, audio, video and screen sharing features with ease. Your classroom remains structured, organised and disruption is kept to a minimum.</p>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/Asset-48.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_yellow _2u_classroom"></div>
<div class="_2u_hero-section _2u_yellow-grad _2u_classoom">
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_cta _2u_reduced-top-mobile">
        <h2 class="_2u_subheading _2u_classroom _2u_small _2u_no-bottom-space">Join the global education revolution with 2utoring</h2>
        <div class="_2u_columns-2 _2u_top-spacing _2u_classroom _2u_cta w-row">
            <div class="_2u_top-three-columns _2u_top w-col w-col-4">
                <img src="/images/Illustration-4.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_orange">For Agencies</h3>
                <p class="_2u_paragraph _2u_classroom _2u_footer">Sign up to your 30 day free trial to discover how 2utoring will benefit your business.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a asp-route-controller="Company" asp-route-action="OverView" class="_2u_button _2u_centre _2u_classroom w-button">Browse</a>
                </div>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="/images/Illustration-2.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_teal">For Students</h3>
                <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer">Get started by searching for your perfect course on our Marketplace.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a asp-route-controller="StudentsParents" asp-route-action="OverView" class="_2u_button _2u_centre _2u_teal _2u_classroom w-button">Discover</a>
                </div>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="/images/Illustration3.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_green">For Tutors</h3>
                <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer">Sign up to your 30 day free trial to discover how 2utoring will change your life.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a asp-route-controller="Tutors" asp-route-action="OverView" class="_2u_button _2u_centre _2u_green _2u_classroom w-button">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

}





