@{
    ViewData["Title"] = "Safeguarding | How we keep you safe | 2utoring.com";
}

@section meta{
    <meta content="Unrivalled safety and security on a truly revolutionary platform. We’re committed to ensuring the highest possible standards of safeguarding on 2utoring.com." name="description">
    <meta content="Safeguarding | How we keep you safe | 2utoring.com" property="og:title">
    <meta content="Unrivalled safety and security on a truly revolutionary platform. We’re committed to ensuring the highest possible standards of safeguarding on 2utoring.com." property="og:description">
    <meta content="Safeguarding | How we keep you safe | 2utoring.com" property="twitter:title">
    <meta content="Unrivalled safety and security on a truly revolutionary platform. We’re committed to ensuring the highest possible standards of safeguarding on 2utoring.com." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}
<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">Keeping you safe</h2>
        <h1 class="_2u_heading">Safeguarding</h1><img src="/images/Asset-1_1.svg" loading="lazy" alt="" class="_2u_image-header-graphic _2u_large _2u_safeguarding">
        <h2 class="_2u_subheading _2u_safeguarding">Unrivalled safety and security on a truly revolutionary platform</h2>
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_large _2u_safeguarding">We’re committed to ensuring the highest possible standards of safeguarding, whether you’re a student, tutor or business.</p>
        <div class="_2u_columns-6 w-row">
            <div class="_2u_image-column-left _2u_safeguarding _2u_top w-col w-col-6"><img src="/images/Asset-2_1.svg" loading="lazy" alt="" class="_2u_image-15"></div>
            <div class="_2u_safeguarding-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_safeguarding">Our Safeguarding Policy</h3>
                <p class="_2u_body-1 _2u_safeguarding">2utoring has zero-tolerance for bullying, bad language, inappropriate questions, conversations or images and you can rely on us to act swiftly to take necessary action against any individual or organisation who compromises your safety.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_safeguarding _2u_top-heading">How we keep you safe</h2>
        <h3 class="_2u_h2 _2u_reduced-width _2u_safeguarding">Safeguarding is at the heart of our platforms’ design, incorporating a number of mechanisms to keep you safe and provide total peace of mind.</h3>
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_reduced-width">Digital classroom sessions on 2utoring with under 18s are multi-factor recorded, including each individual participant’s screen, any active webcams, and audio channels. These recordings are encrypted and safely stored in the cloud for total protection and compliance. All tutors that have a green &#x27;Enhanced DBS&#x27; status badge on their profile have been checked and validated by the 2utoring safeguarding team. This is unrivalled safety and security, on a truly revolutionary platform.</p>
        <div class="_2u_button-container _2u_large _2u_safeguarding">
            <a asp-route="SafeguardingPolicy" class="_2u_button _2u_centre _2u_large _2u_padding _2u_green _2u_fixed-width w-button">Safeguarding Policy</a>
            <a asp-route="OnlineSafetySafeguarding" class="_2u_button _2u_centre _2u_large _2u_padding _2u_teal _2u_fixed-width w-button">Online Safety</a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom"></div>
<div class="_2u_inner-wrapper-2">
    <h2 id="links" class="_2u_subheading _2u_about _2u_top-heading">Useful Links</h2>
    <div class="_2u_columns-8 w-row">
        <div class="_2u_useful-links-1 w-col w-col-6">
            <img src="/images/Asset-3.png" loading="lazy" alt="" class="_2u_image-8 _2u_thinkunow">
            <h3 class="_2u_h2 _2u_reduced-width _2u_safeguarding _2u_neg-margin">Thinkuknow</h3>
            <p class="_2u_body-1 _2u_centre _2u_bottom-spacing-2">Thinkuknow is the education programme from NCA-CEOP, a UK organisation which protects children both online and offline.</p>
            <a href="https://www.thinkuknow.co.uk/" target="_blank" class="_2u_button _2u_centre _2u_grey w-button">View Website</a>
        </div>
        <div class="_2u_useful-links-2 w-col w-col-6">
            <img src="/images/Asset-4.png" loading="lazy" alt="" class="_2u_image-8">
            <h3 class="_2u_h2 _2u_reduced-width _2u_safeguarding _2u_neg-margin">Keep Kids Safe</h3>
            <p class="_2u_body-1 _2u_centre _2u_bottom-spacing-2">Advice on children’s mental health to staying safe online, support for parents and what to do if you’re worried about a child.</p>
            <a href="https://www.nspcc.org.uk/keeping-children-safe/" target="_blank" class="_2u_button _2u_centre _2u_grey w-button">View Website</a>
        </div>
    </div>
    <div class="_2u_columns-8 w-row">
        <div class="_2u_useful-links-3 w-col w-col-6">
            <img src="/images/Asset-5.png" loading="lazy" alt="" class="_2u_image-8">
            <h3 class="_2u_h2 _2u_reduced-width _2u_safeguarding _2u_neg-margin">Parents Protect</h3>
            <p class="_2u_body-1 _2u_centre _2u_bottom-spacing-2">A campaign aiming to prevent child sexual abuse by raising awareness and recognising signs of abuse and identifying responses to the problem.</p>
            <a href="https://www.parentsprotect.co.uk/" target="_blank" class="_2u_button _2u_centre _2u_grey w-button">View Website</a>
        </div>
        <div class="_2u_useful-links-4 w-col w-col-6">
            <img src="/images/Asset-6.png" loading="lazy" alt="" class="_2u_image-8">
            <h3 class="_2u_h2 _2u_reduced-width _2u_safeguarding _2u_neg-margin">Cyber Bullying</h3>
            <p class="_2u_body-1 _2u_centre _2u_bottom-spacing-2 _2u_thinner">The Anti-Bullying Alliance is a coalition of organisations and individuals that are united against bullying.</p>
            <a href="https://www.bullying.co.uk/cyberbullying/" target="_blank" class="_2u_button _2u_centre _2u_grey w-button">View Website</a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_intro-section _2u_safeguarding">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_about _2u_top-heading">Any questions on Safeguarding?</h2>
        <div class="_2u_columns-7-copy _2u_safeguarding w-row">
            <div class="_2u_image-column-left _2u_text _2u_safeguarding w-col w-col-6"><img src="/images/Asset-2.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right _2u_safeguarding _2u_bottom-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_safeguarding _2u_bottom-safeguarding">For more information on how we keep you safe, please do get in touch.</h3>
                <a asp-route-controller="Home" asp-route-action="ContactUs" class="_2u_button _2u_centre _2u_grey _2u_bottom-safeguarding w-button">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading">Priority Support</h2>
        <p class="_2u_body-1 _2u_contact-support" style="text-align:center!important">As a parent or student you can file a report from within your dashboard or classroom area.</p>
        <a href="https://www.ceop.police.uk/Safety-Centre/" target="_blank" class="_2u_button-icon-wrap _2u_reverse w-inline-block w-clearfix">
            <div class="_2u_button-icon-text _2u_reverse">Raise a safeguarding concern</div><img src="/images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
        </a>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom"></div>
@section scripts{

}




