@{
    ViewData["Title"] = "2utoring for Tutor Agencies | How it works";
}

@section meta{
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." name="description">
    <meta content="2utoring for Tutor Agencies | How it works" property="og:title">
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." property="og:description">
    <meta content="2utoring for Tutor Agencies | How it works" property="twitter:title">
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">How it works</h2>
        <h1 class="_2u_heading">For Agencies</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01.png 3329w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="../images/Asset-1_6.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <p class="_2u_body-1 _2u_tutor-hiw _2u_top">Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need to deliver the most powerful learning experiences to your students</p>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Incorporating your revolutionary digital classroom, communication tools, real-time collaboration plus  much more including an exclusive marketplace to promote your courses. You now have the freedom to successfully manage your agency from anywhere, at any time.</p>
        <div class="_2u_button-container _2u_no-spacing _2u_home _2u_reduced">
            <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre w-button">Get started for free</a>
        </div>
        <div class="_2u_tutor-hiw-features">
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-19_3.svg" loading="lazy" alt="" class="_2u_cloud"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Cloud-based platform</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-20_2.svg" loading="lazy" width="44" alt="" class="_2u_sprocket"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">No downloading or installation required</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-21_1.svg" loading="lazy" width="34" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Works on multiple browsers</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-22_1.svg" loading="lazy" alt="" class="_2u_device"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Compatible with most laptops and desktops</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron _2u_top-spacing">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v1-01.png 3734w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01.png 3733w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3-How-It-Works_v1-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3-How-It-Works_v1-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v1-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v1-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v1-01.png 3734w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre">
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_2.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Flexibility</h3>
                <p class="_2u_body-1 _2u_centre">2utoring allows your tutors to facilitate classes anytime, anywhere enabling your agency to build closer client relationships with your students safely online wherever they are.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-24_1.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Cloud-based</h3>
                <p class="_2u_body-1 _2u_centre">Technology enables your tutoring services to be more interactive, engaging and fun with unlimited online resources - no wonder why online learning is becoming the preferred teaching method.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-25_2.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Value</h3>
                <p class="_2u_body-1 _2u_centre">By making one-to-many learning possible, your agency’s revenue per tutor increases, your overheads can reduce through online and remote working, boosting your profitability.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_no-space-above _2u_classroom-side"></div>
<div class="_2u_divider _2u_negative"><img src="../images/Deep-Blue-Top.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div class="_2u_hero-section-gradient _2u_teal _2u_reduced">
    <div class="_2u_inner-wrapper-2 _2u_education">
        <h2 class="_2u_subheading _2u_classroom-top _2u_inclusive-edu">Inclusive educational delivery for all</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron _2u_top-spacing _2u_edu-space">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01_1.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01_1-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01_1-p-800.png 800w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01_1-p-2000.png 2000w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v3-01_1.png 3134w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01_1.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01_1-p-500.png 500w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01_1-p-800.png 800w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01_1-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2-How-It-Works_v2-01_1.png 3134w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v3-01.png 3135w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-4-How-It-Works_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-4-How-It-Works_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-4-How-It-Works_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-4-How-It-Works_v4-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-4-How-It-Works_v4-01.png 3134w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2">
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Just like in your physical classroom, each of your student’s needs are different which is why we have taken care to craft a learning platform that gives you, the tutor, the tools you need to adapt the digital classroom specifically to suit each individual student. This approach supports academic confidence amongst your students, improving their success and fosters their intellectual curiosity.</p>
    </div>
</div>
<div class="_2u_divider _2u_students-negative"><img src="../images/Deep-Blue-Bottom.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw">
        <h2 class="_2u_subheading _2u_wide _2u_tutor-hiw">Staff registrations. Course setup. Lesson planning and delivery. <br><span class="_2u_orange">2utoring helps you through it.</span></h2>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-5_6.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Register your tutors</h3>
                <p class="_2u_body-1">Once you’ve registered for your 2utoring Business account you will be guided through the set up process which includes the option to register your existing tutors under your agency. They will then receive an email notification inviting them to join 2utoring. Over time you can add new tutors to your agency and advertise for new tutors to join your team.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Create your courses</h3>
                <p class="_2u_body-1">Your courses can be made up of a single one-off lesson or a series of lessons scheduled daily, weekly or to your exact student preferences. You can set your lesson details including, pricing, duration and class sizes. Invite from a list of your previous students or send invitations to register new students.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-6_6.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-7_4.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Prepare your content</h3>
                <p class="_2u_body-1">Your tutors can upload worksheets, course materials, resources in PDF, JPG, PNG formats which will be shared with all course participants. Also add documents, sheets and slides which can be converted into real-time sharing documents via Google. Plus, webpage links and videos can be pre-loaded to the media browser in the classroom. Your tutors’ classroom can also be organised into groups of students to deliver a personalised learning experience.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Review and edit upcoming sessions</h3>
                <p class="_2u_body-1">At any time before your scheduled session, you or your tutors can go into the 2utoring dashboard and make changes to the lesson configuration, create or rearrange groups, invite more students, add additional resources and get everything ready for your students to join their class.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-8_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-9_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Deliver your lessons</h3>
                <p class="_2u_body-1">Your tutors can enter your classroom before the scheduled start time to ensure everything is in place and ready for your students to arrive including any preliminary preparations. Remember, the resources will already be shared with all your students and your tutors can start teaching individuals or the whole class simultaneously, in real-time.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Post-lesson support and homework</h3>
                <p class="_2u_body-1">After your scheduled lesson, your students and tutors can continue to access the shared resources from the class. In addition, they remain shared and continue to allow real-time collaboration allowing work to be marked and commented on. Your tutors can see your students progress post-lesson and offer support to them well beyond the lesson ends. For your agency, this all enables students to enjoy the best learning experience from you, encouraging them to keep coming back to you for more.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-10_5.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Yellow-Top.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_hero-section _2u_yellow _2u_reduced-bottom">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_classroom-top _2u_reduced-bottom _2u_hiw-agency">Remember these useful features</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron _2u_top-spacing">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-How-It-Works_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-How-It-Works_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v4-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-1-How-It-Works_v4-01.png 2809w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-3_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-3_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-3_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2_Row-3_v4-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2_Row-3_v4-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-2_Row-3_v4-01.png 2808w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3-How-It-Works_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3-How-It-Works_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3-How-It-Works_v4-01.png 2808w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2">
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet _2u_tablet-bottom w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-28_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Invite your existing students</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">When you add your lessons, you can send an email invitation to your existing students providing them with a registration link to join the 2utoring platform for their next session with you, saving your time. Students and parents can create courses or lessons and invite their peers increasing your class sizes and hourly revenue.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-29_2.svg" loading="lazy" width="40" alt="" class="_2u_image-23"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Watch your client base grow</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Retain your existing student base whilst increasing your new student uptake as a result of promoting your courses on the Marketplace, boosted by the national advertising campaigns that 2utoring is committed to invest in.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-30_2.svg" loading="lazy" width="40" alt="" class="_2u_image-24"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Over and under 18s</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Compliance with safeguarding and DBS requirements are at the core of our platform and we have made it easy for you to manage this. By default, any students under 18 who register on 2utoring need a parent to register with them.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-31_1.svg" loading="lazy" width="40" alt="" class="_2u_image-25"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Create a series</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Create a course made up of a sequence of lessons over a period. You’re in total control and have the flexibility to configure this however you prefer. Equally, if it’s a one-off session on a specific subject, that’s fine too and easy to set up.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing _2u_tablet-top w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-32_1.svg" loading="lazy" width="31" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Take the register</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Manage all of your student attendance and engagement from a single central dashboard - making it easy for you to identify lessons, share lesson links and see how many lessons your students have enjoyed with you.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-21_6.svg" loading="lazy" width="27" alt="" class="_2u_image-20"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Public vs. private</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">It’s your choice whether your courses are public (listed on our Marketplace open for any students on the platform to register for) or private (only available to students who you share the registration link with) giving you total control.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-22_6.svg" loading="lazy" width="31" alt="" class="_2u_image-21"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Manageable class sizes</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Your tutors can teach up to ten students simultaneously in the Classroom, with more capacity launching very soon. </p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-19_4.svg" loading="lazy" width="89" alt="" class="_2u_image-21"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Availability</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Once your tutors have added their availability slots, parents and students can freely book or create lessons or courses, without you having to schedule anything manually.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Yellow-Bottom.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_features-section">
    <h2 class="_2u_subheading _2u_wide _2u_extra">Flexible approach to inclusive teaching</h2>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing">You have the choice to teach one-to-one or to many and we make it possible for you to manage with students working in groups or independently on their own tasks in the classroom.</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_wide _2u_features _2u_one-to-one"><img src="../images/Asset-41.svg" loading="lazy" width="321" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach one-to-one</h3>
                <p class="_2u_body-1 _2u_centre">Teach students on a totally individual and personal basis and interact with them in real-time in your digital classroom.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_2.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach groups</h3>
                <p class="_2u_body-1 _2u_centre">Reduce your prices per student, whilst increasing your hourly income by teaching groups of students together and still retaining all the benefits of one-to-one teaching and learning, all made possible in 2utoring.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-43.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Teach whole classes</h3>
                <p class="_2u_body-1 _2u_centre">Your digital classroom has been optimised for one-to-many teaching practices ensuring that you can offer a highly personalised learning experience to all.</p>
            </div>
        </div>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Home_Asset-8.svg" loading="lazy" width="68" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Groups in your classes</h3>
                <p class="_2u_body-1 _2u_centre">You can create groups inside your classes to enable you to set different tasks depending on ability or provide different teaching styles and levels of support.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_5.svg" loading="lazy" width="59" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Peer to peer</h3>
                <p class="_2u_body-1 _2u_centre">You have the option to use 2utoring as a peer to peer collaboration suite to share knowledge, share in success and mimic the classroom online.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing _2u_classroom w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-30_1.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">A combination of all</h3>
                <p class="_2u_body-1 _2u_centre">You can facilitate sessions on 2utoring in any combination of these options enabling you to apply multiple delivery methods and adapt the classroom for all learners.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_classroom _2u_extra _2u_reduced-top-mobile _2u_reduced-bottom">
    <h2 class="_2u_subheading _2u_top">Pricing. Booking Links. Profiles. DBS and Safeguarding.<br></h2>
    <h2 class="_2u_subheading _2u_top _2u_small-org">2utoring help you manage your agency, creating your success.<br></h2>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Set your pricing</h3>
            <p class="_2u_body-1">Your agency needs to retain full control of your pricing to protect financial stability and ensure profitability is maintained. 2utoring gives you this control as well as bringing you a number of new opportunities. Typically you may charge out your tutors by the hour - with 2utoring you charge per lesson, per student. The big difference for you is that your income potential changes overnight when you sign up to 2utoring.<br>‍<br>By giving your tutors the ability to successfully facilitate one-to-many sessions, your income multiplies by the number of students who join your courses. For your students, this gives them the opportunity to save money on courses as you can afford to reduce your price per student, on the basis you are getting multiple payments from each student who registers. The potential to earn £100+ per hour, per tutor, becomes far more achievable. Of course, you have total control over the pricing of your courses for both one to one or one to many. This allows you to give a percentage discount to your students as more participants sign up.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-11_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-12_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Booking links</h3>
            <p class="_2u_body-1">For each session or course you create, you can generate a shareable link which you can use to direct any existing students to the registration details, or leverage your own social media networks and email marketing to promote to an already captive audience. In addition, the link will steer your students to your 2utoring profile which will encourage them to explore the other courses that you can offer to them.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">DBS Compliance</h3>
            <p class="_2u_body-1">You will be reassured that 2utoring values compliance, safety and safeguarding as an essential part of a wider journey to making education accessible to all. The platform, therefore, includes a range of features specifically designed to provide students and tutors alike with the safest online learning environment. All tutors are invited to upload their DBS certificate and qualification. These are then verified by our compliance team (no robots) and confirmed registrations receive a DBS status badge on their profiles for students to see. Additionally, under 18s sessions are recorded, stored and retained in an encrypted cloud environment for safeguarding purposes in the interests of the tutor as much as the student.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-14_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-15_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Get paid online, on-time, everytime</h3>
            <p class="_2u_body-1">When any of your students register on one of your courses, they are required to pay online by debit or credit card, using our secure payment portal integrated with Stripe. This offers a number of benefits to you including peace of mind that money will always be received from students before the courses take place, meaning you will always get paid.<br>Student uptake is also likely to be increased by the fact that you are able to accept digital payments, bringing additional income to you. For students, they will enjoy a streamlined payment process that enables them to use modern payment methods that they are used to using on their other digital purchases.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Manage your staff schedules</h3>
            <p class="_2u_body-1">Your tutors can manage schedules in real-time through the availability calendar. When you create new sessions, you have the option to schedule a series of lessons at a predetermined date and time. Alternatively, your students can request sessions with you at a particular date and time, giving you the option to accept or decline their request. Your students will love the fact that they can see your availability. You will find it so refreshing that less of your time will be spent scheduling sessions, and more time will be free for earning income or spending time with family and friends.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-16_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-18_1.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_hero-section">
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_cta">
        <h2 class="_2u_subheading _2u_classroom _2u_reduced-bottom">Promote your lessons online. Raise your profile. Generate more income.</h2>
        <p class="_2u_body-1 _2u_tutor-hiw _2u_top-reduced">2utoring helps you get the marketing exposure you deserve.</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_2.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Promote <br>your sessions</h3>
                <p class="_2u_body-1 _2u_centre">You have the option when creating courses to make them publicly available on the 2utoring Marketplace. This will enable your courses to appear in search results when students and parents are searching for subjects you offer, increasing your income potential from new students.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-41_1.svg" loading="lazy" width="66" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Leverage our national advertising</h3>
                <p class="_2u_body-1 _2u_centre">2utoring is a widely promoted platform online for students and tutors alike and as a result, your courses will gain additional exposure from being found on the Marketplace. This will attract new students to your courses and tutor profile leading to additional student intake which will bring additional income to you.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-42_1.svg" loading="lazy" width="59" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Deliver growth to your bottom line</h3>
                <p class="_2u_body-1 _2u_centre">As a direct result of the additional exposure that your tutor profile and courses will receive through the promotion on the Marketplace, you are sure to grow your student base, receive additional registrations for courses and deliver a more engaging learning experience. This will lead to increased revenue and boost your profits many-fold.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_inner-wrapper-2 _2u_values _2u_extra _2u_reduced-top-mobile">
    <h2 class="_2u_subheading _2u_top">Affordable pricing that scales as your agency grows</h2>
    <div class="_2u_packages-wrapper-free _2u_bottom _2u_tutors">
        <div class="_2u_package1 _2u_free-tablet _2u_tutors">
            <div class="_2u_package-top _2u_yellow _2u_free-tablet">
                <div class="_2u_package-title _2u_free-tablet">Basic</div>
                <div class="_2u_package-price _2u_free-tablet">Free</div>
                <div class="_2u_package-billing">Forever</div>
                <div class="_2u_packages-intro _2u_free-tablet">For private tutors trying out 2utoring, forever subscription-free</div>
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">View Plan</a>
            </div>
            <div class="_2u_package-bottom _2u_free-tablet">
                <div class="_2u_package-features">Unlimited Students</div>
                <div class="_2u_package-features">Unlimited Live Classes</div>
                <div class="_2u_package-features">1 Registered Tutor</div>
                <div class="_2u_package-features">2 Students per Classroom</div>
                <div class="_2u_package-features">1 Class per course</div>
                <div class="_2u_package-features">2 Multi view panes</div>
            </div>
        </div>
        <div class="_2u_package1 _2u_free-tablet _2u_hide-tablet">
            <div class="_2u_package-top _2u_yellow _2u_free-tablet _2u_green">
                <div class="_2u_package-title _2u_free-tablet">Agency</div>
                <div class="_2u_package-price _2u_free-tablet">£29.99/mth</div>
                <div class="_2u_package-billing">Billed Monthly</div>
                <div class="_2u_packages-intro _2u_free-tablet">For tutoring agencies looking to supercharge revenue</div>
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">View Plan</a>
            </div>
            <div class="_2u_package-bottom _2u_free-tablet">
                <div class="_2u_package-features">Everything in <strong>Pro</strong>, plus:</div>
                <div class="_2u_package-features">100 Registered tutors</div>
                <div class="_2u_package-features">100 Concurrent sessions</div>
                <div class="_2u_package-features">100 Classes per course</div>
                <div class="_2u_package-features">100 Tutor profile pages</div>
                <div class="_2u_package-features">Company profiles page</div>
                <div class="_2u_package-features">Tutor registration system</div>
            </div>
        </div>
    </div>
    <div class="_2u_packages-wrapper _2u_agencies">
        <div class="_2u_package1 _2u_agencies">
            <div class="_2u_package-top">
                <div class="_2u_package-title">Agency</div>
                <div class="_2u_package-price">£29.99/mth</div>
                <div class="_2u_package-billing">Billed Monthly</div>
            </div>
            <div class="_2u_package-bottom _2u_agencies">
                <div class="_2u_packages-intro">For tutoring agencies  looking to supercharge  revenue</div>
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_green w-button">Try for free!</a>
                <div class="_2u_package-features">Everything in <strong>Pro</strong>, plus:</div>
                <div class="_2u_package-features">100 Registered tutors</div>
                <div class="_2u_package-features">100 Concurrent sessions</div>
                <div class="_2u_package-features">100 Classes per course</div>
                <div class="_2u_package-features">100 Tutor profile pages</div>
                <div class="_2u_package-features">Company profiles page</div>
                <div class="_2u_package-features">Tutor registration system</div>
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre _2u_outline _2u_select-plan _2u_4 w-button">View Plan</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_reviews-section">
    <div class="_2u_inner-wrapper-2 _2u_reviews">
        <h2 class="_2u_subheading _2u_reviews">Hear what some of our tutors say</h2>
        <div class="_2u_columns-5 _2u_testimonials w-row">
            <div class="_2u_testimonials-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_green _2u_bio">“It provides access to affordable tutoring  across a variety of subjects... based on what I saw, I would recommend this platform”</h3>
                <p class="_2u_body-1">“I had an online meeting with 2utoring , an ed-tech company which offers schools an authentic classroom online, making it possible for teachers to continue delivering learning for pupils when they can’t be in school. It provides access to affordable tutoring across a variety of subjects from qualified teachers who have gone through the full range of pre-employment safeguarding checks used in educational provisions. </p>
                <p class="_2u_body-1">After a detailed demonstration I learned that in the authentic classroom, lessons can be delivered to the whole class, small groups and individual pupils. The teacher and pupils have access to a collaborative whiteboard and online Google documents. The teacher can upload their own resources and documents, record all sessions and mark work during the sessions. Pupils can engage and communicate with teachers via audio and video and live chat messaging. Interaction with pupils under 18 years old is set up in conjunction with parents as an added layer of safeguarding. Based on what I saw, I would recommend this platform.”<br></p>
                <p class="_2u_body-1"><strong>Ellen Mukwewa</strong>, School Improvement Partner<br></p>
            </div>
            <div class="_2u_testimonials-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">“It is clear that it has come from the mind of a teacher... everything we need, as teachers, is there”</h3>
                <p class="_2u_body-1">“Thank you for the most wonderful presentation of your tutoring platform! It’s great to talk with a company who has considered the teachers’ ‘needs’ to effectively facilitate learning. It is clear that it has come from the mind of a teacher - which has resulted in something inspiring. Everything we need, as teachers, is there. I can already see how we could create a ‘real’ classroom online - something we have found that online teaching restricts. We can’t wait to work with you!”<br></p>
                <p class="_2u_body-1"><strong>Stephanie Clark</strong>, Fast Progress Tuition</p>
            </div>
        </div>
    </div>
    <div class="_2u_affiliation-logo-clms w-row">
        <div class="_2u_column-6 w-col w-col-6"><img src="../images/Asset-262x-100.jpg" loading="lazy" alt=""></div>
        <div class="_2u_column-7 w-col w-col-6"><img src="../images/Member_of_RSI.png" loading="lazy" width="209" sizes="(max-width: 479px) 44vw, (max-width: 767px) 209px, (max-width: 991px) 22vw, 209px" srcset="../images/Member_of_RSI-p-500.png 500w, ../images/Member_of_RSI.png 788w" alt="" class="_2u_image-13"></div>
    </div>
</div>
<div>
    <div class="_2u_divider _2u_negative"><img src="../images/divider7.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_footer"></div>
    <div class="_2u_cta-green">
        <div class="_2u_inner-wrapper-2">
            <h2 class="_2u_subheading _2u_cta-white">Start your free 2utoring trial</h2>
            <h3 class="_2u_h3 _2u_smaller _2u_left _2u_cta">Trial 2utoring.com free for 30 days</h3>
            <div class="_2u_button-container _2u_left-cta">
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button-icon-wrap _2u_cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_cta-reverse">Start free trial</div><img src="../images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
                <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button-icon-wrap _2u_reverse-cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_reverse _2u_cta">See all features</div><img src="../images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
            </div>
        </div>
    </div>
    <div class="_2u_divider _2u_tablet"><img src="../images/divider9.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_bottom"></div>
    <div class="_2u_cta-green-illustration">
        <div class="_2u_inner-wrapper-2 _2u_cta-illustration-footer"><img src="../images/Home_Asset-18.svg" loading="lazy" width="345" alt="" class="_2u_footer-cta-illustration"></div>
    </div>
</div>

@section scripts{

}






