@{
    ViewData["Title"] = "2utoring for Tutor Agencies | How it works";
}

@section meta{
    <meta charset="utf-8">
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." name="description">
    <meta content="2utoring for Tutor Agencies | How it works" property="og:title">
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." property="og:description">
    <meta content="2utoring for Tutor Agencies | How it works" property="twitter:title">
    <meta content="Your all-in-one platform giving you the opportunity to start a new business or manage your tutor agency with all the tools you need. Explore how it works here..." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">Coming Soon</h2>
        <h1 class="_2u_heading">Join a Tutor Agency</h1><img src="../images/Asset-1_2.svg" loading="lazy" alt="" class="_2u_image-header-graphic _2u_join-agency">
        <h2 class="_2u_h2 _2u_join-agency _2u_extra-bottom">Boost your income. Regular payments. No advertising required.</h2>
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_large _2u_join-agency _2u_bottom">By joining a tutoring agency on 2utoring, you can provide tutoring services to them on a full- or part-time basis,  on an entirely remote basis leveraging the safety and ease-of-use that our platform provides to you.</p>
        <div class="_2u_columns-6 w-row">
            <div class="_2u_image-column-left _2u_join-agency w-col w-col-6"><img src="../images/Asset-2_2.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right _2u_text _2u_join-agency w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Why join a company?</h3>
                <p class="_2u_body-1">If you ever worry about where your next student is going to come from, or whether you’ll have enough income from your own tutoring streams, then this is the perfect solution for you. By joining one of our accredited tutor agencies on the 2utoring platform, they will offer you regular work. The great thing for you is that you still benefit from using the 2utoring digital classroom and other amazing features, whilst having more confidence over your finances. You’ll have peace of mind knowing that your next student will be coming to you without you having to advertise.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_side-by-side-tablet w-row">
            <div class="_2u_image-column-left _2u_text _2u_join-agency w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Easy to get started</h3>
                <p class="_2u_body-1">Tutor agencies will advertise for tutors on this page, generally by subject type or level, providing details of payment amounts and when the classes will take place - you can then submit a link to your 2utoring Tutor Profile to the tutoring agency and they will then be in touch with you. If you don&#x27;t already have a 2utoring account, register for a paid subscription and create a profile now to get started.</p>
            </div>
            <div class="_2u_image-column-right _2u_join-agency w-col w-col-6 w-col-medium-6"><img src="../images/Asset-3_1.svg" loading="lazy" alt=""></div>
        </div>
        <div class="_2u_columns-6 w-row">
            <div class="_2u_image-column-left _2u_join-agency w-col w-col-6"><img src="../images/Asset-4.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right _2u_text _2u_join-agency w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Remote tutoring backed by agency support</h3>
                <p class="_2u_body-1">It really is the best of both worlds. You can become part of a tutoring agency, facilitate their classes, teach their students for a competitive rate, helping them to deliver their service. For the students, they get the class they are looking for, with the confidence of a reputable tutor agency, whilst benefiting from an enriched learning environment online. For everyone, it’s all done online, in the comfort of your own home or office, getting one step closer to a true educational revolution.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_top-spacing _2u_join-agency"><img src="../images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_intro-section _2u_join-agency">
    <div class="_2u_inner-wrapper-2 _2u_join-agency">
        <h2 class="_2u_subheading _2u_join-agency _2u_mobile _2u_centre">Coming soon to 2utoring</h2>
        <div class="_2u_columns-7-copy _2u_join-agency _2u_rev w-row">
            <div class="_2u_image-column-left _2u_text _2u_join-agency w-col w-col-6"><img src="../images/Asset-5.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right w-col w-col-6">
                <p class="_2u_body-1 _2u_central-mobile">The ability to Join a Company will be coming to 2utoring very soon. Please check back on this page for any further updates. In the meantime, there are lots of other amazing reasons to join 2utoring.</p>
                <div class="_2u_button-container-cta _2u_join-agency _2u_central-mobile">
                    <a asp-route-controller="Tutors" asp-route-action="OverView" class="_2u_button-icon-wrap _2u_tutor-join-company w-inline-block w-clearfix">
                        <div class="_2u_button-icon-text _2u_join-agency">For Tutors</div><img src="../images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                    </a>
                    <a asp-route-controller="Tutors" asp-route-action="HowItWorks" class="_2u_button-icon-wrap _2u_reverse _2u_tutor-agency-join _2u_coming-soon w-inline-block w-clearfix">
                        <div class="_2u_button-icon-text _2u_reverse _2u_join-agency">For Tutors - How it Works</div><img src="../images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

}





