@model StandingOut.Data.Models.Company

@{
    ViewData["Title"] = "Company Subscription Issue";
}

@section meta{
    <meta name="title" content="@ViewData["Title"]" />
    <meta name="robots" content="noindex">
}


<div class="Page__Container--size:medium mb-56">
    <div class="row">
        <div class="col-12">
            @if (Model == null)
            {
                <div class="d-flex flex-column justify-content-center mx-auto">
                    <div class="Status__Icon mx-auto mb-56">
                        <i class="fas fa-question danger"></i>
                    </div>
                    <div class="mx-auto text-center">
                        <h1 class="fw-800 fw-28 cl-dark mb-14">There is a problem with your account.</h1>
                        <p class="fs-16 fw-500 lh-16 cl-dark"><a href="contact-us">Please contact us</a></p>
                    </div>
                </div>
            }
            else if (Model.PaymentStatus == StandingOut.Data.Enums.PaymentStatus.Failed)
            {
                <div class="d-flex flex-column justify-content-center mx-auto">
                    <div class="Status__Icon mx-auto mb-56">
                        <i class="fas fa-times danger"></i>
                    </div>
                    <div class="mx-auto text-center">
                        <h1 class="fw-800 fw-28 cl-dark mb-14">Oops, your payment verification has failed</h1>
                        <p class="fs-16 fw-500 lh-16 cl-dark">Please <a asp-area="Admin" asp-controller="Settings" asp-action="Subscription">go here</a> to add a different payment card.</p>
                    </div>
                </div>
            }
            else if (Model.PaymentStatus == StandingOut.Data.Enums.PaymentStatus.Cancelled)
            {
                <div class="d-flex flex-column justify-content-center mx-auto">
                    <div class="Status__Icon mx-auto mb-56">
                        <i class="fas fa-times danger"></i>
                    </div>
                    <div class="mx-auto text-center">
                        <h1 class="fw-800 fw-28 cl-dark mb-14">It looks like you have cancelled your account</h1>
                        <p class="fs-16 fw-500 lh-16 cl-dark">Please <a asp-area="Admin" asp-controller="Settings" asp-action="Subscription">go here</a> or contact us <a asp-route="ContactUs">here</a> with any questions.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





