@{ ViewData["Title"] = "Cookie Policy | 2utoring.com"; }

@section meta{
    <meta content="Read the Cookie Policy for 2utoring.com - a digital platform that allows you to take your classroom home and teach &amp; learn with multiple students." name="description">
    <meta content="Cookie Policy | 2utoring.com" property="og:title">
    <meta content="Read the Cookie Policy for 2utoring.com - a digital platform that allows you to take your classroom home and teach &amp; learn with multiple students." property="og:description">
    <meta content="Cookie Policy | 2utoring.com" property="twitter:title">
    <meta content="Read the Cookie Policy for 2utoring.com - a digital platform that allows you to take your classroom home and teach &amp; learn with multiple students." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_legal-container w-container">
    <h1 class="_2u_heading _2u_left _2u_legal">Cookie Policy</h1>
    <p class="_2u_body-1">
        Standing Out Limited – <a href="https://www.2utoring.com/" class="_2u_legal-link">2utoring.com</a>
    </p>
    <p class="_2u_body-1">Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.<br></p>
    <p class="_2u_body-1">A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive. We use the following cookies:</p>
    <ul role="list">
        <li>
            <p class="_2u_body-1"><strong>Strictly necessary cookies.</strong> These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</p>
        </li>
        <li>
            <p class="_2u_body-1"><strong>Analytical or performance cookies.</strong> These allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</p>
        </li>
        <li>
            <p class="_2u_body-1"><strong>Functionality cookies.</strong> These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</p>
        </li>
        <li>
            <p class="_2u_body-1"><strong>Targeting cookies.</strong> These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. You can find more information about the individual cookies we use and the purposes for which we use them in the table below:</p>
        </li>
    </ul>
    <div class="w-layout-grid _2u_cookie_grid">
        <p class="_2u_body-1"><strong>Cookie Name</strong></p>
        <p class="_2u_body-1"><strong>Purpose</strong></p>
        <p class="_2u_body-1"><strong>More information</strong></p>
        <p class="_2u_body-1">AspNetCore.Antiforgery</p>
        <p class="_2u_body-1">This cookie is essential for our site and enables us to prevent attacks on forms.</p>
        <p class="_2u_body-1">-</p>
        <p class="_2u_body-1">AspNetCore.Identity.Application</p>
        <p class="_2u_body-1">This cookie is essential for our site and enables us to maintain your login session.</p>
        <p class="_2u_body-1">-</p>
        <p class="_2u_body-1">intercom-id-[id]</p>
        <p class="_2u_body-1">This cookie is essential for our Intercom help system integration and enables the use the intercom help system.</p>
        <p class="_2u_body-1">This is provided by <a href="https://www.intercom.com/" target="_blank" class="_2u_legal-link">https://www.intercom.com/</a>.</p>
        <p class="_2u_body-1">intercom-session-[id]</p>
        <p class="_2u_body-1">This cookie is essential for our Intercom help system integration and enables us to maintain your intercom session.</p>
        <p class="_2u_body-1">This is provided by <a href="https://www.intercom.com/" target="_blank" class="_2u_legal-link">https://www.intercom.com/</a>.</p>
        <p class="_2u_body-1">_ga, _gid</p>
        <p class="_2u_body-1">These cookies are used by our Google Analytics integration and are used to distinguish users.</p>
        <p class="_2u_body-1">Google gives more information <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank" class="_2u_legal-link">here</a>.</p>
        <p class="_2u_body-1">_gat_gtag_[id]</p>
        <p class="_2u_body-1">This cookie is used for our Google Analytics integration and is used to limit requests (throttle the request rate).</p>
        <p class="_2u_body-1">Google gives more information <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank" class="_2u_legal-link">here</a>.</p>
        <p class="_2u_body-1">_hjid</p>
        <p class="_2u_body-1">This cookies are used by our Hotjar integration and is used to distinguish users (Hotjar helps us to improve our website to meet your needs).</p>
        <p class="_2u_body-1">Hotjar gives more information <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies" target="_blank" class="_2u_legal-link">here</a>.</p>
        <p class="_2u_body-1">_hjIncludedInSample</p>
        <p class="_2u_body-1">This cookies are used by our Hotjar integration and is used to determine whether users are included the sample to generate funnels (Hotjar helps us to improve our website to meet your needs).</p>
        <p class="_2u_body-1">Hotjar gives more information <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies" target="_blank" class="_2u_legal-link">here</a>.</p>
        <p class="_2u_body-1">fr</p>
        <p class="_2u_body-1">This cookies are used by our Facebook integration and is used to serve relavent ads.</p>
        <p class="_2u_body-1">Hotjar gives more information <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies" target="_blank" class="_2u_legal-link">here</a>.</p>
    </div>
</div>
