@{ ViewData["Title"] = "Online Safety and Safeguarding | 2utoring.com"; }

@section meta{
    <meta content="Read the Online Safety and Safeguarding information for 2utoring.com - a digital platform that allows you to take your classroom home." name="description">
    <meta content="Online Safety and Safeguarding | 2utoring.com" property="og:title">
    <meta content="Read the Online Safety and Safeguarding information for 2utoring.com - a digital platform that allows you to take your classroom home." property="og:description">
    <meta content="Online Safety and Safeguarding | 2utoring.com" property="twitter:title">
    <meta content="Read the Online Safety and Safeguarding information for 2utoring.com - a digital platform that allows you to take your classroom home." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_legal-container w-container">
    <h1 class="_2u_heading _2u_left _2u_legal">Online Safety and Safeguarding</h1>
    <p class="_2u_body-1">For the purposes of this document WE, Us, Our means Standing Out Limited (CRN: 1069411) and Tutor, Student and Users means the Tutors and Students that use our Site.<br>We are committed to ensuring the highest possible standard of safeguarding for our Users.Our child protection policies and procedures and our Site contains a number of built-in features which aim to provide a safe educational environment to Users.<br>‍<br>Our procedures involve the following:<br></p>
    <ul role="list">
        <li>
            <p class="_2u_body-1">All Tutors with an Enhanced DBS certificate will display an Enhanced DBS badge upon their public profile (or other relevant) certificate to demonstrate their suitability. Without such certification their DBS status will not be verified by <a href="https://www.2utoring.com/" class="_2u_legal-link">2utoring.com</a>.</p>
        </li>
        <li>
            <p class="_2u_body-1">All communications between Tutors and Students take place via the Site. Personal contact details about the Student and parents (including email addresses and telephone number) remain private and confidential and are not visible to the Tutor or companies.<br></p>
        </li>
        <li>
            <p class="_2u_body-1">Our Terms preclude any contact between Tutor and Student outside the Site.</p>
        </li>
        <li>
            <p class="_2u_body-1">Lessons are recorded and made available for play back to Users.<br></p>
        </li>
        <li>
            <p class="_2u_body-1">If a Tutor declares their DBS/CRB (or other relevant certification) status we allow the Tutor to engage in a wider range of services and this information is displayed on the Site along with each Tutor&#x27;s record.<br></p>
        </li>
        <li>
            <p class="_2u_body-1">We encourage feedback about our Tutors in order that we maintain a ratings system and we encourage parents and schools to take advantage of this information when choosing a Tutor.<br></p>
        </li>
    </ul>
    <p class="_2u_body-1">Our Site does have a link with the Child Exploitation and Online Protection Centre (CEOP).<br></p>
</div>