ul.pagination {
    margin: 0;
    padding: 0;

    li.paginate_button {

        &.current {
            background-color: $white;
            border: $defaultBorder;
            border-radius: 3px;
        }

        &.disabled {
            a {
                color: #cacaca;
            }
        }

        a {
            padding: 0.1875rem;
            text-decoration: none;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.Pagination {
    font-family: $fontFamily;
    margin-top: 21px;

    &__Controls {
        align-items: center;
        display: flex;


        & > div,
        & > button {
            background-color: #fff;
            border: 1px solid $borderAccentColor;
            border-radius: 3px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            width: 42px;

            &:first-child,
            &:last-child {
                cursor: pointer;
            }

            &:not(:last-child) {
                margin-right: 7px;
            }
        }
    }

    &__NoPages {
        text-align: center;
        width: 100%;
    }
}