@{
    ViewData["Title"] = "2utoring for Students | Discover how it works";
}

@section meta{
    <meta content="Explore your all-in-one learning platform - helping you access affordable educational courses, learn and collaborate safely online from anywhere, at anytime." name="description">
    <meta content="2utoring for Students | Discover how it works" property="og:title">
    <meta content="Explore your all-in-one learning platform - helping you access affordable educational courses, learn and collaborate safely online from anywhere, at anytime." property="og:description">
    <meta content="2utoring for Students | Discover how it works" property="twitter:title">
    <meta content="Explore your all-in-one learning platform - helping you access affordable educational courses, learn and collaborate safely online from anywhere, at anytime." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">How it works</h2>
        <h1 class="_2u_heading">For Students (and Parents)</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents-How-It-Works_v3-01.png 3330w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="../images/Asset-1_4.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <p class="_2u_body-1 _2u_tutor-hiw _2u_top">Your all-in-one learning platform helping you access affordable educational courses, learn and collaborate safely online from anywhere, at anytime.</p>
        <div class="_2u_button-container _2u_no-spacing _2u_students-hiw">
            <a href="/tutor-search" class="_2u_button _2u_centre w-button">Find a tutor</a>
        </div>
        <div class="_2u_student-hiw-icon-features">
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-19_3.svg" loading="lazy" alt="" class="_2u_cloud"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Cloud-based platform</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-20_2.svg" loading="lazy" width="44" alt="" class="_2u_sprocket"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">No downloading or installation required</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-25.svg" loading="lazy" width="39" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Integrated with Google Drive</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-17.svg" loading="lazy" width="28" alt="" class="_2u_padlock"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Safe &amp; Secure with Enhanced DBS Verification</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/book.svg" loading="lazy" width="39" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Book and create your own lessons</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/invite2.svg" loading="lazy" width="39" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Invite your peers</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/advanced-classroom.svg" loading="lazy" width="39" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Advanced digital classrooms</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/whiteboard.svg" loading="lazy" width="39" alt="" class="_2u_google-drive"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Work on Docs, Sheets, Slides and Whiteboards</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_intro-students-hiw">
        <h2 class="_2u_subheading _2u_wide _2u_reduced-bottom-wide">Join the global education revolution</h2>
        <p class="_2u_body-1 _2u_tutor-hiw _2u_orange _2u_top-students-hiw _2u_giving-the-best">...giving you access to the best tutors and courses from the comfort of your home</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents-How-It-Works_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents-How-It-Works_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents-How-It-Works_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents-How-It-Works_v4-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents-How-It-Works_v3-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents-How-It-Works_v3-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents-How-It-Works_v3-01.png 3329w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre">
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-5_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Pay-as-you-go</h3>
                <p class="_2u_body-1">2utoring gives you the ability to pick and choose courses that are perfect for you, whether they be one-off sessions, or a series - you make your own curriculum.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Online tutoring</h3>
                <p class="_2u_body-1">Experience a new way of learning with our unique digital classroom enabling tutors to deliver the most interactive, engaging and fun learning experiences to you.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-6_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-7.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Affordable</h3>
                <p class="_2u_body-1">Join small group courses of up to ten students and benefit from more affordable rates enabling you to enjoy greater value for money and access more courses.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_no-space-above _2u_classroom-side"></div>
<div class="_2u_divider"><img src="../images/Asset-18_1.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div class="_2u_hero-section _2u_reduced-bottom">
    <div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_reduced-bottom-mobile _2u_no-padding-mobile">
        <h2 class="_2u_subheading _2u_classroom-top">Personalised education tailored to your needs</h2>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">We understand that you may have different educational needs to the student next to you. The 2utoring platform has been designed in a way that enables tutors to adapt the digital classroom especially to suit your preferences, even when multiple students are in the session with you. This will give the confidence you need amongst your peers and give you the support you need to succeed in whatever your studying.</p>
        <div class="_2u_button-container _2u_no-spacing">
            <a href="/course-search" class="_2u_button-icon-wrap _2u_orange w-inline-block w-clearfix">
                <div class="_2u_button-icon-text">Get Started</div><img src="../images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
            </a>
            <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button-icon-wrap _2u_reverse _2u_extra-top-mobile w-inline-block w-clearfix">
                <div class="_2u_button-icon-text _2u_reverse">Discover the classroom</div><img src="../images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
            </a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_extra _2u_reduced-bottom-mobile">
        <h2 class="_2u_subheading">Search for courses. Pick your tutor. Book your sessions. Your digital classroom awaits.</h2>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Find your perfect tutor and course</h3>
                <p class="_2u_body-1">Start your search for a tutor today on our ever growing Learning Marketplace giving you the choice of courses from a global  community of tutors. Your education is now free of geographical limitations and is more affordable with group sessions giving you greater access to and flexibility over your education.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-8_6.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-9_4.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Book your lessons or courses</h3>
                <p class="_2u_body-1">Once you’ve found your perfect tutor, lesson or course on the  Learning Marketplace, you can check real-time availability of your tutor and enrol there and then. No lengthy email chains or phone calls required, giving you more time to do the things you enjoy.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Review upcoming sessions</h3>
                <p class="_2u_body-1">Lessons and courses that you have enrolled onto will be shown in your account dashboard enabling you to plan your schedule and consider booking more sessions on 2utoring to learn new skills.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-10_7.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-11_7.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Experience the digital classroom</h3>
                <p class="_2u_body-1">As a student on 2utoring, you benefit from a groundbreaking digital classroom for your lessons, the world’s first multi-user classroom.  Whiteboards, screen sharing, video, audio and file sharing are all integrated into your digital classroom ensuring you have a convenient, engaging and smooth learning experience.</p>
                <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button _2u_centre _2u_green w-button">Discover more here</a>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Post-lesson support and homework</h3>
                <p class="_2u_body-1">After your scheduled lesson has ended, you can still access the  shared resources from the classroom. In addition, they remain shared and continue to allow real-time collaboration allowing work to be marked and commented on by your tutor. Your tutor can see your progress post-lesson and offer support to you well beyond the lesson ends, giving you an enriched experience and greater value for money.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-12_6.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section">
    <div class="_2u_inner-wrapper-2 _2u_extra-top-mobile">
        <h2 class="_2u_subheading _2u_wide _2u_students-bottom-space">Your safety, security and data matters</h2><img src="../images/Asset-1_1.svg" loading="lazy" alt="" class="_2u_classroom-screenshot _2u_safeguarding">
        <div class="w-row">
            <div class="_2u_image-column-left _2u_features-tablet _2u_tablet-bottom w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-20_1.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Your tutors</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Just like if you were at school, where all staff would be DBS checked, we have integrated a DBS compliance system as part of our tutors onboarding process. Each tutor that registers on the platform, has the option to provide a valid DBS certificate, which is then verified by us (a human, not a bot!) and then we provide a DBS badge on the tutors profile, giving you the reassurance that we have seen their certificate. In addition, tutors are also often members of the affiliated tutor association for added peace of mind.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-21_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Screen Recordings</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Digital classroom sessions with under 18s are multi-factor recorded, including each individual participant&#x27;s screen, any active webcams, and audio channels. These are encrypted and safely stored in the cloud for everyone’s protection and for compliance. This gives you total peace of mind that you are safe on our platform.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-22_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">256-bit SSL Encryption</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">All user sessions are encrypted protecting your data and this also applies to the secure session recordings that are also taken for compliance and safeguarding purposes.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing _2u_tablet-top w-clearfix w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-23_1.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Your tutors</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">If you are under the age of 18, when you register on 2utoring, you will be prompted to invite your parent or guardian to register too. This is designed to help keep you safe and assist with payments for the courses you may choose to book. In addition, compliance with safeguarding and DBS requirements are at the core of our platform and we have made it easy for you to manage this. We encourage you to choose tutors who have a DBS verification badge shown on their profile.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-24_5.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Safeguarding</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Your safety is our priority and we have taken steps to ensure a safe and secure teaching and learning environment for you. Raising a safeguarding concern should be a frictionless and straightforward process. All reports will be investigated and 2utoring will take swift action as detailed in our terms and conditions and policies. You have all the controls you need to stay safe online and sufficient information to support the concern to enable investigations to be initiated.</p>
                <a asp-route-controller="Home" asp-route-action="Safeguarding" class="_2u_button _2u_left _2u_teal _2u_classroom _2u_bottom _2u_reduced-top-mobile w-button">Learn more about safeguarding</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative-students-hiw"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_features-section _2u_transparent _2u_extra">
    <h2 class="_2u_subheading _2u_wide _2u_orange _2u_extra">Your education. Your terms.</h2>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_bottom">You have the choice to book tutoring sessions on a one-to-one or one-to-many basis, either way you’ll experience a personalised and unique experience in our revolutionary digital classroom optimised to suit all learning styles and preferences.</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3x-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3x-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3x-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3x-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3x-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-2000.png 2000w, ../images/2utoring_Screen-Mockup-2_Row-3_For-Students-and-Parents-How-It-Works_v3-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents-How-It-Works_v3-01.png 3330w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <div class="_2u_features-columns _2u_classroom _2u_top-reduced w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_wide _2u_features _2u_one-to-one"><img src="../images/Asset-41.svg" loading="lazy" width="321" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">One-to-one tutoring</h3>
                <p class="_2u_body-1 _2u_centre">Learn with a private tutor on a totally individual and personal basis and interact with them in real-time in your digital classroom.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-43.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Group tutoring</h3>
                <p class="_2u_body-1 _2u_centre">Benefit from reduced course prices by sharing your tutoring session with other students studying the same subjects as you, giving you a more engaging experience whilst saving costs.</p>
            </div>
        </div>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_wide _2u_features"><img src="../images/Asset-23_5.svg" loading="lazy" width="60" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Peer-to-peer</h3>
                <p class="_2u_body-1 _2u_centre">Encourage your fellow classmates at your school, college or university to join your on 2utoring and organise a group session with a private tutor together, giving you the opportunity to save money and having the reassurance that you know who the fellow participants are.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-28_4.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">The best of both</h3>
                <p class="_2u_body-1 _2u_centre">Group sessions are facilitated by tutors in such a way that the benefits you expect from one-to-one tutoring are still present. Book a group tutoring session on 2utoring to see for yourself how well it works.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_intro-section _2u_contact">
    <div class="_2u_inner-wrapper-2 _2u_extra-top">
        <h2 class="_2u_subheading _2u_about _2u_top-heading _2u_cta">It’s easy for you to get started today</h2>
        <div class="_2u_columns-7-copy _2u_safeguarding _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text _2u_safeguarding w-col w-col-6"><img src="../images/Asset-15_2.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right _2u_safeguarding _2u_bottom-clm _2u_left-mobile w-col w-col-6">
                <p class="_2u_body-1">Using our search engine to either purchase an existing course or create your own lessons with one of our registered tutors. it’s that simple! If you already have a tutor you work with, invite them to join 2utoring too and have your next session on 2utoring together.</p>
                <a href="/course-search" class="_2u_button _2u_centre _2u_grey _2u_bottom-safeguarding w-button">Get Started</a>
            </div>
        </div>
    </div>
</div>


@section scripts{

}






