@{
    ViewData["Title"] = "2utoring for Students | Explore Features & Benefits";
}

@section meta{
    <meta content="Get the best education, at the most affordable prices, delivered by the greatest tutors, on a totally flexible pay-as-you-go basis, wherever you are." name="description">
    <meta content="2utoring for Students | Explore Features &amp; Benefits" property="og:title">
    <meta content="Get the best education, at the most affordable prices, delivered by the greatest tutors, on a totally flexible pay-as-you-go basis, wherever you are." property="og:description">
    <meta content="2utoring for Students | Explore Features &amp; Benefits" property="twitter:title">
    <meta content="Get the best education, at the most affordable prices, delivered by the greatest tutors, on a totally flexible pay-as-you-go basis, wherever you are." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">For Students (and Parents)</h2>
        <h1 class="_2u_heading">The future of your education is online</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-1_For-Students-and-Parents_v3-01.png 3331w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="../images/Asset-1_8.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <p class="_2u_body-1 _2u_centre _2u_reduced-width _2u_top _2u_students">You deserve the best education, at the most affordable course prices, delivered by the worlds best tutors, on a totally flexible pay-as-you-go basis, wherever you are.</p>
        <p class="_2u_body-1 _2u_tutor-hiw">2utoring proudly gives you this, and more:</p>
        <div class="_2u_student-features">
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-28_1.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Pay less per lesson</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon _2u_padlock"><img style="width:70%;" src="../images/Asset-29_1.svg" loading="lazy" width="29" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Safety and security at the heart</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-30_1.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Access the world’s best tutors</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-50.svg" loading="lazy" width="38" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Immersive learning experiences</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-32_2.svg" loading="lazy" width="48" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Browse courses across many subjects</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="../images/Asset-33_1.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Education tailored to you, at scale</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon _2u_invite"><img src="../images/invite2.svg" loading="lazy" width="30" alt="" class="_2u_invite"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Invite your peers and learn together </p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon _2u_mag"><img src="../images/mag.svg" loading="lazy" width="32" alt="" class="_2u_mag"></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Find a tutor and book your own lessons</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_extra">
        <h2 class="_2u_subheading _2u_wide _2u_students-bottom-space _2u_bottom">Why choose 2utoring?</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents_v4-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-1_Row-2_For-Students-and-Parents_v4-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v3-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v3-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-3_Row-2_For-Students-and-Parents_v3-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-4_Row-2_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-4_Row-2_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-4_Row-2_For-Students-and-Parents_v4-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-4_Row-2_For-Students-and-Parents_v4-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-4_Row-2_For-Students-and-Parents_v4-01.png 3329w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_extra _2u_reduced-top-mobile">
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-5_4.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">COVID-19 Support</h3>
                <p class="_2u_body-1">There’s no doubt that the pandemic has impacted everyone’s education, risking gaps in learning and reducing enhanced support available to students throughout this crisis. 2utoring provides you with the option to enrol in additional private courses to support your learning, filling the gaps, in a truly affordable way.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Boost your grades</h3>
                <p class="_2u_body-1">Do you have upcoming GCSE or A-Level exams? Are you looking for additional tutoring sessions to give you the competitive edge over your classmates? 2utoring gives you the flexibility to enrol on specific courses to give you the chance of getting the best grades possible when you sit your exams.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-6_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-7_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Learn from the best tutors</h3>
                <p class="_2u_body-1">Traditionally private tutors didn’t offer online courses and certainly  didn’t have access to the world’s first multi-user digital classroom.  2utoring has changed all of this, kickstarting a truly global education revolution. Now you can access the best tutors, from wherever you are, online, in a groundbreaking educational platform.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_no-space-above _2u_classroom-side"></div>
<div class="_2u_divider"><img src="../images/Asset-18_1.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div class="_2u_hero-section _2u_reduced-bottom-mobile">
    <div class="_2u_inner-wrapper-2 _2u_extra _2u_reduced-top">
        <h2 class="_2u_subheading _2u_classroom-top _2u_reduced-bottom">Your education. Your terms.</h2>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">You have the choice to book tutoring sessions on a one-to-one or group basis, either way you’ll experience a personalised and unique experience in our revolutionary digital classroom optimised to suit all learning styles and preferences.</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_wide _2u_features _2u_one-to-one"><img src="../images/Asset-41.svg" loading="lazy" width="321" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">One-to-one tutoring</h3>
                <p class="_2u_body-1 _2u_centre">Learn with a private tutor on a totally individual and personal basis and interact with them in real-time in your digital classroom.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-43.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Group tutoring</h3>
                <p class="_2u_body-1 _2u_centre">Benefit from reduced course prices by sharing your tutoring session with other students studying the same subjects as you, giving you a more engaging experience whilst saving costs.</p>
            </div>
        </div>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_wide _2u_features"><img src="../images/Asset-23_5.svg" loading="lazy" width="56" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Peer-to-peer</h3>
                <p class="_2u_body-1 _2u_centre">Encourage your fellow classmates at your school, college or university to join you on 2utoring and organise a group session with a private tutor together, giving you the opportunity to save money and have fun with your friends.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-6">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-28_4.svg" loading="lazy" width="61" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">The best of both</h3>
                <p class="_2u_body-1 _2u_centre">Group sessions are facilitated by tutors in such a way that the benefits you expect from one-to-one tutoring are still present. Book a group tutoring session on 2utoring to see for yourself how well it works.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home4"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_extra _2u_bottom">
        <h2 class="_2u_subheading _2u_wide _2u_students-bottom-space _2u_bottom-students">Your safety, security and data matters</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron _2u_students">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents_v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents_v2-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents_v2-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents_v2-01-p-2000.png 2000w, ../images/2utoring_Screen-Mockup-1_Row-3_For-Students-and-Parents_v2-01.png 3329w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_extra _2u_reduced-bottom-mobile">
        <div class="_2u_columns-10 w-row">
            <div class="_2u_image-column-left _2u_features-tablet w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-20_1.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Your tutors</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Just like if you were at school, where all staff would be DBS  checked, we have integrated a DBS compliance system as part of our tutors onboarding process. Each tutor that registers on the platform, can provide a valid DBS certificate, which is then verified by us (a human, not a bot!) and then we provide a DBS badge on the tutors profile, giving you the reassurance that we have seen  their certificate. In addition, tutors are also often members of the affiliated tutor association for added peace of mind.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-21_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Screen Recordings</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Digital classroom sessions with under 18s are multi-factor recorded, including each individual participant&#x27;s screen, any active webcams, and audio channels. These are encrypted and safely stored in the cloud for everyone’s protection and for compliance. This gives you total peace of mind that you are safe on our platform.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-22_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">256-bit SSL Encryption</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">All user sessions are encrypted protecting your data and this also applies to the secure session recordings that are also taken for compliance and safeguarding purposes.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing w-clearfix w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-23_1.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Under 18s</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">If you are under the age of 18, when you register on 2utoring, you will be prompted to invite your parents or guardians to register too. This is designed to help keep you safe and assist with payments for the courses you may choose to book. In addition, compliance with safeguarding and DBS requirements are at the core of our platform and we have made it easy for you to manage this. We encourage you to choose tutors who have a DBS verification badge shown on their profile.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-24_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_teal _2u_tutor-hiw">Safeguarding</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Your safety is our priority and we have taken multiple steps to ensure a safe and secure teaching and learning environment for you. If an incident does occur raising that concern is a frictionless and straightforward process. All reports will be investigated and 2utoring will take swift action as detailed in our terms and conditions and policies. You have all the controls you need to stay safe online and sufficient information to support the concern to enable investigations to be initiated.</p>
                <a asp-route-controller="Home" asp-route-action="Safeguarding" class="_2u_button _2u_left _2u_teal _2u_classroom _2u_bottom w-button">Learn more about safeguarding</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative-students"><img src="../images/Asset-5_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_features-section _2u_hero-section-green">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_wide">Private Tutoring. Now Online.</h2>
        <p class="_2u_body-1 _2u_tutor-hiw _2u_green">The world&#x27;s first multi-user digital classroom is waiting for you</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-4_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-4_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-4_For-Students-and-Parents_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-4_For-Students-and-Parents_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-4_For-Students-and-Parents_v3-01.png 3330w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-4_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-4_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-4_For-Students-and-Parents_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2_Row-4_For-Students-and-Parents_v4-01.png 3331w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3_Row-4_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3_Row-4_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3_Row-4_For-Students-and-Parents_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3_Row-4_For-Students-and-Parents_v4-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-4_Row-4_For-Students-and-Parents_v4x-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-4_Row-4_For-Students-and-Parents_v4x-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-4_Row-4_For-Students-and-Parents_v4x-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-4_Row-4_For-Students-and-Parents_v4x-01.png 3329w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_extra-bottom-mobile">
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Transform the way you learn with your brand-new revolutionary digital classroom, giving you all the benefits of one-to-one private tutoring whilst enjoying the increased engagement and interaction offered by small group sessions.</p>
        <div class="_2u_button-container _2u_no-spacing _2u_home _2u_reduced">
            <a href="/course-search" class="_2u_button _2u_centre _2u_green w-button">Get Started</a>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_students-negative"><img src="../images/Asset-6.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_extra _2u_reduced-bottom-mobile _2u_extra-mobile">
        <h2 class="_2u_subheading">LMS. Let Me Stand (Out)</h2>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Why not just use Zoom?</h3>
                <p class="_2u_body-1">Mainstream conferencing applications like Zoom and Teams are not designed to deliver tutoring sessions. Nor are they there to share content or collaborate on a whiteboard with your tutor. 2utoring makes it easy for you to collaborate on a customised whiteboard in your digital classroom, put your hand up when you need help and work together with your tutor inside a document in real-time.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-10_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-11_4.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Get the support you need</h3>
                <p class="_2u_body-1">If you feel like you need additional support when inside a class,  we’ve made it easy for you to initiate a private one-to-one audio,  video or instant messaging conversation with your tutor. No more red faces in front of all the other students, you can feel totally confident when participating in your online learning in the comfort of your own home.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text _2u_left-align w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_green">Pre- and Post-Session Workouts</h3>
                <p class="_2u_body-1">After your scheduled lesson has ended, you can still access the shared resources from the classroom. In addition, they remain  shared and continue to allow real-time collaboration allowing work to be marked and commented on by your tutor. Your tutor can see your progress post-lesson and offer support to you well beyond the lesson ends, giving you an enriched experience and greater value for money.</p>
                <a asp-route-controller="StudentsParents" asp-route-action="HowItWorks" class="_2u_button _2u_centre _2u_green w-button">See how it works</a>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-12_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section _2u_extra-bottom-mobile">
    <div class="_2u_inner-wrapper-2 _2u_reduced-bottom _2u_bottom _2u_extra-top-mobile">
        <h2 class="_2u_subheading _2u_wide _2u_small _2u_extra-bottom _2u_bottom">Putting a smile on your face with a classroom that is optimised for inclusive learning and safety at the heart</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-5_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-5_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-5_For-Students-and-Parents_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-5_For-Students-and-Parents_v4-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-5_For-Students-and-Parents_v4-01.png 3073w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_reduced-bottom">
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Your lessons will be held in our custom-built digital classroom that offers you a unique combination of functionality, features and tools which together forms the very best learning platform for you to study on. Your unique classroom combines many tools to deliver the very best web conferencing software, multi-user digital classroom, all whilst retaining all the benefits of personalised learning.</p>
        <div class="_2u_button-container _2u_no-spacing _2u_home _2u_reduced">
            <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button _2u_centre _2u_grey w-button">Discover your classroom</a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-19_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_features-section _2u_transparent">
    <div class="_2u_inner-wrapper-2 _2u_no-top-space _2u_extra-top-mobile">
        <h2 class="_2u_subheading _2u_wide _2u_students-bottom-space">Create your own class, invite a private tutor, and learn together</h2>
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_reduced-bottom-mobile">Enjoy reduced costs by sharing it amongst your peers, you control who is inside the session and make learning fun.</p>
        <div class="_2u_columns-2 _2u_top-spacing _2u_classroom _2u_cta _2u_extra _2u_no-bottom _2u_wider _2u_reduced-top-mobile w-row">
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="../images/Asset-14_2.svg" loading="lazy" alt="" class="_2u_student-types">
                <h3 class="_2u_h3 _2u_students">For Parents</h3>
                <p class="_2u_body-1 _2u_centre">Invite your childs’ peers to join a session with a private tutor - you’ll have peace of mind knowing that the tutor is DBS certified and this will give you a break from helping with homework!</p>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="../images/Asset-15_4.svg" loading="lazy" alt="" class="_2u_student-types _2u_middle">
                <h3 class="_2u_h3 _2u_students _2u_middle">For Students</h3>
                <p class="_2u_body-1 _2u_centre _2u_reduced">Are you all struggling to get to grips with a particular subject? Invite your friends to join you in a peer-to-peer session with a private tutor.</p>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="../images/Asset-16_2.svg" loading="lazy" alt="" class="_2u_student-types _2u_right">
                <h3 class="_2u_h3 _2u_students _2u_right">For Adults</h3>
                <p class="_2u_body-1 _2u_centre">Maybe you are planning a holiday to France with friends and fancy brushing up on your french skills - create a peer-to-peer session with your friends, invite a french tutor and you’ll be all set!</p>
            </div>
        </div>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-6_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-6_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-6_For-Students-and-Parents_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-6_For-Students-and-Parents_v3-01-p-2000.png 2000w, ../images/2utoring_Screen-Mockup-1_Row-6_For-Students-and-Parents_v3-01.png 3330w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-34_2.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_teal">Step 1</h3>
                <p class="_2u_body-1 _2u_centre">Find your tutor or course</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-35_2.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_teal">Step 2</h3>
                <p class="_2u_body-1 _2u_centre">Create a course with your chosen tutor.</p>
            </div>
            <div class="w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-36_2.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_teal">Step 3</h3>
                <p class="_2u_body-1 _2u_centre">Send invites to your peers for group lessons, pay and attend, it’s that simple!</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative _2u_classroom"><img src="../images/Asset-48.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_yellow _2u_classroom _2u_trans"></div>
<div class="_2u_hero-section _2u_yellow _2u_bottom">
    <div class="_2u_inner-wrapper-2 _2u_classroom-spacing">
        <h2 class="_2u_subheading _2u_classroom _2u_orange">Educational Revolution</h2>
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing _2u_bottom">Become part of a fundamental shift in the way we approach learning online through unbelievable levels of innovation. 2utoring is a step change into a new digital world like you’ve never seen before, whilst complimenting well-established educational practices and methodologies. All this brings you a whole new world of opportunities to grow your skills and knowledge in whatever you’re studying.</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-4_Row-7_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-4_Row-7_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-4_Row-7_For-Students-and-Parents_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-4_Row-7_For-Students-and-Parents_v3-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3_Row-7_For-Students-and-Parents_v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3_Row-7_For-Students-and-Parents_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3_Row-7_For-Students-and-Parents_v3-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1_Row-7_For-Students-and-Parents_v4-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1_Row-7_For-Students-and-Parents_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1_Row-7_For-Students-and-Parents_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1_Row-7_For-Students-and-Parents_v4-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1_Row-7_For-Students-and-Parents_v4-01.png 3329w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2_Row-7_For-Students-and-Parents_v5-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2_Row-7_For-Students-and-Parents_v5-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2_Row-7_For-Students-and-Parents_v5-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2_Row-7_For-Students-and-Parents_v5-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-2_Row-7_For-Students-and-Parents_v5-01.png 3330w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-49.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom _2u_yellow _2u_trans"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw">
        <h2 class="_2u_subheading _2u_reduced-bottom">Learning Platform</h2>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Everything you need is here to help you be the best you can be in all subjects, optimised by the best stack of tools, supported by innovative technologies and leveraged by leading cloud computing by Google and other tech partners. Together, we’ll support you.</p>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Communications Hub</h3>
                <p class="_2u_body-1">Webcams, Audio and Screen Sharing functions are an integral part of your digital classroom. When learning online, these are the basic tools you need to communicate and we give you advanced controls over who you’re talking to and collaborating with. In addition, chat messaging makes it easy to communicate with your classmates and tutor.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-20_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-21_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">File Sharing &amp; Collaboration</h3>
                <p class="_2u_body-1">Integration with Google makes file sharing and real-time collaboration possible before, during and after tutoring sessions. You will find this so easy to work interactively on documents, spreadsheets and slides with your tutor and get the help you deserve. Together this makes your classroom experience highly interactive, diverse, dynamic and - dare we say it - fun!</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Virtual Whiteboards</h3>
                <p class="_2u_body-1">The whiteboard is no longer just for the tutor! Work collaboratively simultaneously across unlimited whiteboards and enjoy a truly personalised learning experience. Work with fellow students in small groups or independently on whiteboards. Collaborate, visually communicate, annotate and share the most engaging learning experience.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-22_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-23_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Multiple Application Panes</h3>
                <p class="_2u_body-1">Whichever screen size you choose, you’ll often need to have multiple applications open simultaneously inside your digital classroom. Our unique platform runs directly in your web browser requiring no software installation to run and includes multi-pane window viewing functionality enabling you to tailor your screen to your needs. Multiple screens offer you flexibility and let you do things that have previously been impossible.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Media and Web Browser</h3>
                <p class="_2u_body-1">The integrated media player and website browser allows you to safely access external website content without leaving the digital classroom for added convenience.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-25_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-26_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">Live View Screen Sharing</h3>
                <p class="_2u_body-1">If you put your hand up in your digital classroom and need support on a task, your tutor has the ability to view your screen in real-time and collaborate with you. This is in addition to quickly establishing a one-to-one audio conversation with you, in isolation to the rest of the class, and even create a dedicated one-to-one whiteboard to support your needs.</p>
            </div>
        </div>
        <div class="_2u_button-container _2u_no-spacing _2u_home _2u_extra _2u_reduced-bottom-mobile">
            <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button _2u_small-mobile w-button">Discover your digital classroom</a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-25_1.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_intro-section _2u_students-bottom">
    <div class="_2u_inner-wrapper-2 _2u_extra _2u_reduced-bottom-mobile">
        <h2 class="_2u_subheading _2u_about _2u_top-heading _2u_reduced _2u_cta-students">Join the global education revolution</h2>
        <div class="_2u_columns-7-copy _2u_safeguarding _2u_cta-students w-row">
            <div class="_2u_image-column-left _2u_text _2u_safeguarding w-col w-col-6"><img src="../images/Asset-27_5.svg" loading="lazy" alt=""></div>
            <div class="_2u_image-column-right _2u_safeguarding _2u_bottom-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_bottom-space _2u_cta-students">...giving you access to the best tutors and courses from the comfort of your own home!</h3>
                <p class="_2u_body-1 _2u_cta-students">Enjoy affordable, pay-as-you-go courses on a global scale, from the best tutors, on a safe and truly revolutionary platform. Your own personal dashboards put you in control of your education, without being reserved for the elite.</p>
                <a asp-route-controller="StudentsParents" asp-route-action="HowItWorks" class="_2u_button _2u_centre _2u_grey _2u_bottom-safeguarding w-button">Discover how it works</a>
            </div>
        </div>
    </div>
</div>

@section scripts{

}





