@using StandingOut.Data.DTO;

@{
    ViewData["Title"] = "Tutor Settings";
    var isCompanyTutor = (ViewBag.IsCompanyTutor as bool?) ?? false;
    var classSessionFeatures = ViewBag.ClassSessionFeatures as ClassSessionFeatures;
}

@section meta{
    <meta name="title" content="@ViewData["Title"]" />
    <meta name="robots" content="noindex">
}

<div class="Page__Container--size:small">
    <h1 class="fw-800 fs-32 mb-56 text-center">@ViewData["Title"]</h1>
    <div class="card bsx-0">
        <div class="card-body">
            @*<div class="d-flex align-center pt-14">
            <div class="Icon__Square">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6667 9.33333C18.6667 7.86267 17.4707 6.66667 16 6.66667C14.5293 6.66667 13.3333 7.86267 13.3333 9.33333C13.3333 10.804 14.5293 12 16 12C17.4707 12 18.6667 10.804 18.6667 9.33333ZM21.3333 9.33333C21.3333 12.2747 18.9413 14.6667 16 14.6667C13.0587 14.6667 10.6667 12.2747 10.6667 9.33333C10.6667 6.392 13.0587 4 16 4C18.9413 4 21.3333 6.392 21.3333 9.33333ZM6.66666 26.6667C6.66666 21.52 10.8547 17.3333 16 17.3333C21.1453 17.3333 25.3333 21.52 25.3333 26.6667C25.3333 27.4027 24.7373 28 24 28C23.2627 28 22.6667 27.4027 22.6667 26.6667C22.6667 22.9907 19.676 20 16 20C12.324 20 9.33332 22.9907 9.33332 26.6667C9.33332 27.4027 8.73732 28 7.99999 28C7.26266 28 6.66666 27.4027 6.66666 26.6667Z" fill="#2F80ED"/>
                </svg>
            </div>
            <a asp-area="Tutor" asp-controller="Profile" asp-action="View" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Profile</a>
        </div>*@
            <div class="d-flex align-center pt-14 pvalid">
                <div class="Icon__Square">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6667 9.33333C18.6667 7.86267 17.4707 6.66667 16 6.66667C14.5293 6.66667 13.3333 7.86267 13.3333 9.33333C13.3333 10.804 14.5293 12 16 12C17.4707 12 18.6667 10.804 18.6667 9.33333ZM21.3333 9.33333C21.3333 12.2747 18.9413 14.6667 16 14.6667C13.0587 14.6667 10.6667 12.2747 10.6667 9.33333C10.6667 6.392 13.0587 4 16 4C18.9413 4 21.3333 6.392 21.3333 9.33333ZM6.66666 26.6667C6.66666 21.52 10.8547 17.3333 16 17.3333C21.1453 17.3333 25.3333 21.52 25.3333 26.6667C25.3333 27.4027 24.7373 28 24 28C23.2627 28 22.6667 27.4027 22.6667 26.6667C22.6667 22.9907 19.676 20 16 20C12.324 20 9.33332 22.9907 9.33332 26.6667C9.33332 27.4027 8.73732 28 7.99999 28C7.26266 28 6.66666 27.4027 6.66666 26.6667Z" fill="#2F80ED" />
                    </svg>
                </div>
                <a asp-area="Tutor" asp-controller="Settings" asp-action="Account" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Account</a>
            </div>
            @if (classSessionFeatures.AdminDashboard_DBSApproval_ApprovalRequired)
            {
                <div class="d-flex align-center pt-28 pvalid">
                    <div class="Icon__Square">
                        <i class="far fa-check-square" style="font-size:24px;color:#2f80ed"></i>
                        @*<img src="~/images/right.png" />*@
                        @*<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 18.6667H12C11.264 18.6667 10.6667 18.0693 10.6667 17.3333C10.6667 16.5973 11.264 16 12 16H16C16.736 16 17.3333 16.5973 17.3333 17.3333C17.3333 18.0693 16.736 18.6667 16 18.6667ZM12 21.3333H20C20.7373 21.3333 21.3333 21.9307 21.3333 22.6667C21.3333 23.4027 20.7373 24 20 24H12C11.264 24 10.6667 23.4027 10.6667 22.6667C10.6667 21.9307 11.264 21.3333 12 21.3333ZM23.2591 26.6667H8.74041C8.33241 26.6667 8.00041 26.368 8.00041 26V6C8.00041 5.632 8.33241 5.33333 8.74041 5.33333H16.0004V9.53333C16.0004 11.6293 17.6231 13.3333 19.6191 13.3333H24.0004V26C24.0004 26.368 23.6684 26.6667 23.2591 26.6667V26.6667ZM18.6671 6.63733L22.3231 10.6667H19.6191C19.0937 10.6667 18.6671 10.1587 18.6671 9.53333V6.63733ZM26.3204 11.104L19.0617 3.104C18.8084 2.82533 18.4511 2.66666 18.0737 2.66666H8.74041C6.86174 2.66666 5.33374 4.16266 5.33374 6V26C5.33374 27.8373 6.86174 29.3333 8.74041 29.3333H23.2591C25.1377 29.3333 26.6671 27.8373 26.6671 26V12C26.6671 11.668 26.5431 11.3493 26.3204 11.104V11.104Z" fill="#2F80ED" />
        </svg>*@
                    </div>
                    <a asp-area="Tutor" asp-controller="Settings" asp-action="Dbs" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">DBS</a>
                </div>
            }
            @if (!isCompanyTutor)
            {
                <div class="d-flex align-center pt-28">
                    <div class="Icon__Square">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 18.6667H12C11.264 18.6667 10.6667 18.0693 10.6667 17.3333C10.6667 16.5973 11.264 16 12 16H16C16.736 16 17.3333 16.5973 17.3333 17.3333C17.3333 18.0693 16.736 18.6667 16 18.6667ZM12 21.3333H20C20.7373 21.3333 21.3333 21.9307 21.3333 22.6667C21.3333 23.4027 20.7373 24 20 24H12C11.264 24 10.6667 23.4027 10.6667 22.6667C10.6667 21.9307 11.264 21.3333 12 21.3333ZM23.2591 26.6667H8.74041C8.33241 26.6667 8.00041 26.368 8.00041 26V6C8.00041 5.632 8.33241 5.33333 8.74041 5.33333H16.0004V9.53333C16.0004 11.6293 17.6231 13.3333 19.6191 13.3333H24.0004V26C24.0004 26.368 23.6684 26.6667 23.2591 26.6667V26.6667ZM18.6671 6.63733L22.3231 10.6667H19.6191C19.0937 10.6667 18.6671 10.1587 18.6671 9.53333V6.63733ZM26.3204 11.104L19.0617 3.104C18.8084 2.82533 18.4511 2.66666 18.0737 2.66666H8.74041C6.86174 2.66666 5.33374 4.16266 5.33374 6V26C5.33374 27.8373 6.86174 29.3333 8.74041 29.3333H23.2591C25.1377 29.3333 26.6671 27.8373 26.6671 26V12C26.6671 11.668 26.5431 11.3493 26.3204 11.104V11.104Z" fill="#2F80ED" />
                        </svg>
                    </div>
                    <a asp-area="Tutor" asp-controller="Settings" asp-action="Subscription" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Subscription</a>
                </div>
            }
            <div class="d-flex align-center pt-28 pvalid">
                <div class="Icon__Square">
                    <img style="width:27px" src="~/images/calendar-icon.png" />
                </div>
                <a asp-area="Tutor" asp-controller="Settings" asp-action="Calendar" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Calendar</a>
            </div>
            <div class="d-flex align-center pt-28 pvalid">
                <div class="Icon__Square">
                    @*<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 18.6667H12C11.264 18.6667 10.6667 18.0693 10.6667 17.3333C10.6667 16.5973 11.264 16 12 16H16C16.736 16 17.3333 16.5973 17.3333 17.3333C17.3333 18.0693 16.736 18.6667 16 18.6667ZM12 21.3333H20C20.7373 21.3333 21.3333 21.9307 21.3333 22.6667C21.3333 23.4027 20.7373 24 20 24H12C11.264 24 10.6667 23.4027 10.6667 22.6667C10.6667 21.9307 11.264 21.3333 12 21.3333ZM23.2591 26.6667H8.74041C8.33241 26.6667 8.00041 26.368 8.00041 26V6C8.00041 5.632 8.33241 5.33333 8.74041 5.33333H16.0004V9.53333C16.0004 11.6293 17.6231 13.3333 19.6191 13.3333H24.0004V26C24.0004 26.368 23.6684 26.6667 23.2591 26.6667V26.6667ZM18.6671 6.63733L22.3231 10.6667H19.6191C19.0937 10.6667 18.6671 10.1587 18.6671 9.53333V6.63733ZM26.3204 11.104L19.0617 3.104C18.8084 2.82533 18.4511 2.66666 18.0737 2.66666H8.74041C6.86174 2.66666 5.33374 4.16266 5.33374 6V26C5.33374 27.8373 6.86174 29.3333 8.74041 29.3333H23.2591C25.1377 29.3333 26.6671 27.8373 26.6671 26V12C26.6671 11.668 26.5431 11.3493 26.3204 11.104V11.104Z" fill="#2F80ED" />
                </svg>*@
                    <img style="width:27px" src="~/images/coin.png" />
                </div>
                <a asp-area="Tutor" asp-controller="Settings" asp-action="Prices" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Subject Prices</a>
            </div>
            @if (!isCompanyTutor)
            {

                <div class="d-flex align-center pt-28 pvalid">
                    <div class="Icon__Square">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6667 20H9.33332C8.59999 20 7.99999 19.4 7.99999 18.6667C7.99999 17.9333 8.59999 17.3333 9.33332 17.3333H14.6667C15.4 17.3333 16 17.9333 16 18.6667C16 19.4 15.4 20 14.6667 20ZM22.6667 20H20C19.2667 20 18.6667 19.4 18.6667 18.6667C18.6667 17.9333 19.2667 17.3333 20 17.3333H22.6667C23.4 17.3333 24 17.9333 24 18.6667C24 19.4 23.4 20 22.6667 20ZM26.6667 21.3333C26.6667 22.068 26.0693 22.6667 25.3333 22.6667H6.66666C5.93066 22.6667 5.33332 22.068 5.33332 21.3333V14.6667H26.6667V21.3333ZM5.33332 10.6667C5.33332 9.932 5.93066 9.33333 6.66666 9.33333H25.3333C26.0693 9.33333 26.6667 9.932 26.6667 10.6667V12H5.33332V10.6667ZM25.3333 6.66666H6.66666C4.46132 6.66666 2.66666 8.46133 2.66666 10.6667V21.3333C2.66666 23.5387 4.46132 25.3333 6.66666 25.3333H25.3333C27.5387 25.3333 29.3333 23.5387 29.3333 21.3333V10.6667C29.3333 8.46133 27.5387 6.66666 25.3333 6.66666V6.66666Z" fill="#2F80ED" />
                        </svg>
                    </div>
                    <a asp-area="Tutor" asp-controller="Settings" asp-action="Payout" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Payouts</a>
                </div>
            }
            @if (User.Claims.Any(o => o.Type == "idp" && o.Value.Contains("local")))
            {
                if (!ViewBag.isPasswordSet)
                {
                    <div class="d-flex align-center pt-28 pvalid">
                        <div class="Icon__Square">
                            
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 21.3333C15.264 21.3333 14.6667 20.736 14.6667 20C14.6667 19.264 15.264 18.6667 16 18.6667C16.736 18.6667 17.3333 19.264 17.3333 20C17.3333 20.736 16.736 21.3333 16 21.3333M16 16C13.7947 16 12 17.7947 12 20C12 22.2053 13.7947 24 16 24C18.2053 24 20 22.2053 20 20C20 17.7947 18.2053 16 16 16M24 25.3333C24 26.0693 23.4027 26.6667 22.6667 26.6667H9.33334C8.59734 26.6667 8.00001 26.0693 8.00001 25.3333V14.6667C8.00001 13.9307 8.59734 13.3333 9.33334 13.3333H10.6667H13.3333H18.6667H21.3333H22.6667C23.4027 13.3333 24 13.9307 24 14.6667V25.3333ZM13.3333 8.14801C13.3333 6.59601 14.5293 5.33334 16 5.33334C17.4707 5.33334 18.6667 6.59601 18.6667 8.14801V10.6667H13.3333V8.14801ZM22.6667 10.6667H21.3333V8.14801C21.3333 5.12667 18.9413 2.66667 16 2.66667C13.0587 2.66667 10.6667 5.12667 10.6667 8.14801V10.6667H9.33334C7.12801 10.6667 5.33334 12.4613 5.33334 14.6667V25.3333C5.33334 27.5387 7.12801 29.3333 9.33334 29.3333H22.6667C24.872 29.3333 26.6667 27.5387 26.6667 25.3333V14.6667C26.6667 12.4613 24.872 10.6667 22.6667 10.6667V10.6667Z" fill="#2F80ED" />
                            </svg>
                        </div>
                        <a asp-area="Tutor" asp-controller="Settings" asp-action="ChangePassword" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Change Password</a>
                    </div>
                }
            }
            <div class="d-flex align-center pt-28 pvalid">
                <div class="Icon__Square">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.6898 14.5223H24.8235C24.8699 14.7077 24.9085 14.9317 24.9394 15.1943C24.9703 15.4569 24.9857 15.7196 24.9857 15.9822C24.9857 17.0481 24.8235 18.0523 24.4991 18.9947C24.1747 19.937 23.6649 20.779 22.9697 21.5205C22.2282 22.3084 21.3399 22.9186 20.3048 23.3512C19.2698 23.7837 18.0879 24 16.7594 24C15.5544 24 14.4189 23.7837 13.3529 23.3512C12.287 22.9186 11.3601 22.3161 10.5722 21.5437C9.78431 20.7712 9.15865 19.8598 8.69519 18.8093C8.23173 17.7433 8 16.5847 8 15.3333C8 14.082 8.23173 12.9311 8.69519 11.8806C9.15865 10.8146 9.78431 9.89543 10.5722 9.123C11.3601 8.35057 12.287 7.74807 13.3529 7.31551C14.4189 6.88295 15.5544 6.66667 16.7594 6.66667C18.1034 6.66667 19.3007 6.8984 20.3512 7.36186C21.4171 7.82532 22.3286 8.46643 23.0856 9.28521L20.9305 11.3939C20.3898 10.8223 19.7873 10.3898 19.123 10.0963C18.4587 9.78729 17.6631 9.6328 16.7362 9.6328C15.9792 9.6328 15.2608 9.77184 14.5811 10.0499C13.9014 10.3125 13.3066 10.691 12.7968 11.1854C12.287 11.6797 11.8776 12.2822 11.5686 12.9929C11.2751 13.6881 11.1283 14.4682 11.1283 15.3333C11.1283 16.1985 11.2751 16.9863 11.5686 17.697C11.8776 18.3922 12.287 18.9869 12.7968 19.4813C13.322 19.9756 13.9245 20.3619 14.6043 20.6399C15.284 20.9026 16.0101 21.0339 16.7825 21.0339C17.6631 21.0339 18.4046 20.9103 19.0071 20.6631C19.6251 20.4005 20.1503 20.0683 20.5829 19.6667C20.8919 19.3886 21.1545 19.041 21.3708 18.6239C21.6025 18.1913 21.7802 17.7124 21.9037 17.1872H16.6898V14.5223Z" fill="#2F80ED" />
                    </svg>
                </div>
                @if (ViewBag.HasGoogleAccountLinked == false)
                {
                    <a asp-area="Tutor" asp-controller="Settings" asp-action="LinkAccount" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Link your Google account</a>
                }
                else
                {
                    <a href="#" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Your Google account has been linked</a>
                }
            </div>
            <div class="d-flex align-center pt-28 pvalid">
                <div class="Icon__Square">
                    <i class="fa fa-times fw-400 fs-24" style="color: #2F80ED" aria-hidden="true"></i>
                    @*<svg width="20" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.1209 10.0002L18.5601 3.56082C19.1466 2.97433 19.1466 2.02635 18.5601 1.43987C17.9737 0.853378 17.0257 0.853378 16.4392 1.43987L10 7.87923L3.56077 1.43987C2.97429 0.853378 2.02633 0.853378 1.43986 1.43987C0.853381 2.02635 0.853381 2.97433 1.43986 3.56082L7.87909 10.0002L1.43986 16.4396C0.853381 17.026 0.853381 17.974 1.43986 18.5605C1.73234 18.853 2.11633 19 2.50031 19C2.8843 19 3.26828 18.853 3.56077 18.5605L10 12.1211L16.4392 18.5605C16.7317 18.853 17.1157 19 17.4997 19C17.8837 19 18.2677 18.853 18.5601 18.5605C19.1466 17.974 19.1466 17.026 18.5601 16.4396L12.1209 10.0002Z" fill="#2F80ED" stroke="white" stroke-width="1.2" /></svg>*@
                </div>
                <a asp-area="Tutor" asp-controller="Settings" asp-action="Cancel" class="fw-700 fs-16 Divider__Line" style="color: #2F80ED">Close your account at 2utoring.com</a>
            </div>
        </div>
    </div>
</div>