@{
    ViewData["Title"] = "Tutor Link Account";
    ViewData["PageName"] = "LinkAccount";
}

@section meta{
    <meta name="title" content="@ViewData["Title"]" />
    <meta name="robots" content="noindex">
}

<div class="Page__Container--size:content mb-56 Page--process:SettingPage">
    <div class="form-row">
        <div class="col-12">
            <h1>Settings</h1>

            <div class="Form__Block">
                <app-root id="app-angular" app-mode="user-link-account" [tutor]="true"></app-root>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <environment names="Development">
        <!-- Development versions of Angular (easier to debug) -->

        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/runtime.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/polyfills.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/styles.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/vendor.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/main.js"></script>
    </environment>

    <environment names="Staging,Production">
        <!-- Production versions of Angular (faster loading) -->

        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/production/runtime.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/production/polyfills.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/production/styles.js"></script>
        <script asp-append-version="true" type="text/javascript" src="~/lib/angular/production/main.js"></script>
    </environment>

}
