@model StandingOut.Data.Models.User

<p>@Model.FullName</p>
<span class="separator padding-x-tight">&bull;</span>

<a class="styled-link" href="/account/logout">
    <div class="item__icon" style="width: auto">Log out</div>
</a>
