// ----------------------------------------------------
// Alerts
// ----------------------------------------------------

$alert-status-data: (
    Error: #FFE0E0,
    Warning: #FAF7D5,
    Info: #D5EDFA,
    Success: #D5FAE4
)!default;

.Alert {
    border-radius: rem(6px);
    display: flex;
    padding: rem(28px);
    position: relative;
    width: 100%;

    i {
        font-size: 18px;
        opacity: .8;
        position: absolute;
        top: 21px;
        right: 21px;
    }

    & + & {
        margin-top: 14px;
    }   

    @include media-breakpoint-up(lg) {
        align-items: center;
    }

    svg {
        min-width: 20px;
        margin-right: rem(28px);
    }

    button {
        appearance: none;
        background-color: transparent;
        border: 1px solid currentColor;
        border-radius: 3px;
        color: #485465;
        font-size: 1rem;
        font-weight: 600;
        padding: 5px 14px;
    }
    

    h5 {
        color: #485465;
        font-size: rem(14px);
        font-weight: 800;
        margin-bottom: 0;
    }

    p {
        color: #485465;
        font-size: rem(13px);
        font-weight: 500;
        margin-bottom: 0;
        margin-top: rem(7px);
    }

    a {
        color: #485465;
        font-weight: 700;
        text-decoration: underline;
    }

    @each $name, $color in $alert-status-data {
        &--type\:#{$name} {
            background-color: $color;
        }
    }

    &--type\:Accounce {
        border: 1px solid #ff9900;
        background-color: #fff;
        box-shadow: 0 0 0 1px rgba(6,44,82,0.1),0 2px 16px rgba(33,43,54,0.08);

        h5 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1.1rem;
        }

        svg path {
            fill: #ff9900
        }
    }
}