<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">Your digital classroom awaits</h2>
        <h1 class="_2u_heading-home">The world&#x27;s first multi-user digital classroom</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1-Homepage-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1-Homepage-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1-Homepage-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1-Homepage-v2-01-p-2000.png 2000w, /images/2utoring_Screen-Mockup-1-Homepage-v2-01.png 3477w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2-Homepage-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2-Homepage-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2-Homepage-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2-Homepage-v2-01-p-2000.png 2000w, /images/2utoring_Screen-Mockup-2-Homepage-v2-01.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-3-Homepage-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-3-Homepage-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3-Homepage-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-3-Homepage-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-3-Homepage-v2-01.png 3477w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-4-Homepage-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-4-Homepage-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-4-Homepage-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-4-Homepage-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-4-Homepage-v2-01.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-5-Homepage-v1-01_1.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-5-Homepage-v1-01_1-p-500.png 500w, /images/2utoring_Screen-Mockup-5-Homepage-v1-01_1-p-800.png 800w, /images/2utoring_Screen-Mockup-5-Homepage-v1-01_1-p-1080.png 1080w, /images/2utoring_Screen-Mockup-5-Homepage-v1-01_1.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-6-Homepage-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-6-Homepage-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-6-Homepage-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-6-Homepage-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-6-Homepage-v2-01.png 3478w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="/images/Asset-3_2.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <div class="_2u_classroom-features _2u_no-padding-tablet _2u_top-classroom">
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-25.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Google Drive Integration</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-26.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Convenient Multi-pane Views</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-27.svg" loading="lazy" width="34" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">File Sharing</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-28.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Cloud-based Platform</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-29.svg" loading="lazy" width="44" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Video &amp; Audio Conferencing</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-30.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Media &amp; Web Browser</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-31.svg" loading="lazy" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Digital Whiteboards</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-32.svg" loading="lazy" width="113" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Screen Sharing &amp; Live-View</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-33.svg" loading="lazy" width="31" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">On-screen Calculator</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-34.svg" loading="lazy" width="42" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Easy Messaging Tools</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-35.svg" loading="lazy" width="41" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Real-time Collaboration</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <div class="_2u_classroom-feature-item-icon"><img src="/images/Asset-36.svg" loading="lazy" width="39" alt=""></div>
                <p class="_2u_body-1 _2u_classroom-feature-item">Auto-save Feature</p>
            </div>
        </div>
    </div>
    <div class="_2u_columns-2 _2u_top-spacing _2u_classroom _2u_cta _2u_top w-row">
        <div class="_2u_top-three-columns _2u_top w-col w-col-4">
            <img src="/images/Illustration-4.svg" loading="lazy" alt="" class="_2u_image-3">
            <h3 class="_2u_h3 _2u_orange">For Agencies</h3>
            <p class="_2u_paragraph _2u_classroom _2u_footer-home">Everything you need to create a new online tuition business or transform your existing agency. Discover how 2utoring will benefit your business and help you grow.</p>
            <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                <a href="agencies/overview" class="_2u_button _2u_centre _2u_home w-button">Browse</a>
            </div>
        </div>
        <div class="_2u_top-three-columns w-col w-col-4">
            <img src="/images/Illustration-2.svg" loading="lazy" alt="" class="_2u_image-3">
            <h3 class="_2u_h3 _2u_teal">For Students</h3>
            <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer-home">Get started and book, join or create your perfect one to one or group lessons with your chosen tutor. Invite your friends, colleagues or classmates to join you in your sessions.</p>
            <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                <a href="students-parents/overview" class="_2u_button _2u_centre _2u_teal _2u_classroom _2u_home w-button">Discover</a>
            </div>
        </div>
        <div class="_2u_top-three-columns w-col w-col-4">
            <img src="/images/Illustration3.svg" loading="lazy" alt="" class="_2u_image-3">
            <h3 class="_2u_h3 _2u_green">For Tutors</h3>
            <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer-home">Transform the way you deliver learning online. 2utoring’s all in one platform gives you all the tools you need to organise, manage and teach within a safe and secure environment.</p>
            <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                <a href="tutors/overview" class="_2u_button _2u_centre _2u_green _2u_classroom w-button">Explore</a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2-home">
        <h2 class="_2u_subheading _2u_home _2u_blackboard">Revolutionise how you teach and learn</h2>
        <p class="_2u_sub-header-p-home">A digital platform that allows you to take your classroom home and teach &amp; learn with multiple students simultaneously whilst retaining all the benefits of personalised one to one learning. Differentiate guide collaborate and support</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1-Homepage-Revolutionise-how-you-teach-and-learn-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1-Homepage-Revolutionise-how-you-teach-and-learn-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1-Homepage-Revolutionise-how-you-teach-and-learn-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1-Homepage-Revolutionise-how-you-teach-and-learn-v2-01.png 3004w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2">
        <div class="_2u_button-container _2u_no-spacing">
            <a href="/tutor-search" class="_2u_button-icon-wrap _2u_reverse w-inline-block w-clearfix">
                <div class="_2u_button-icon-text _2u_reverse">Find my perfect tutor</div><img src="/images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
            </a>
            <a href="/digital-classroom" class="_2u_button-icon-wrap _2u_long w-inline-block w-clearfix">
                <div class="_2u_button-icon-text _2u_long">Explore classroom features</div><img src="/images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
            </a>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_logo-section">
    <h3 class="_2u_h3 _2u_home-features">A whole new world of collaborative working</h3><img src="/images/desktop-feature-icons.svg" loading="lazy" alt="" class="_2u_image-4"><img src="/images/mobile-feature-icons.svg" loading="lazy" alt="" class="_2u_image-4 _2u_mobile">
</div>
<div class="_2u_divider"><img src="/images/divider2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_bottom"></div>
<div class="_2u_home-screen-1">
    <div class="_2u_inner-wrapper-2 _2u_less-bottom-home">
        <h2 class="_2u_subheading _2u_home _2u_blackboard-home">Cloud based software that works on multiple browsers</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-2-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-2-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-3-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-3-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-3-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-3-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-2000.png 2000w, /images/2utoring_Screen-Mockup-4-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png 3478w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-5-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-5-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-5-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-800.png 800w, /images/2utoring_Screen-Mockup-5-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-5-Homepage-A-Whole-New-World-Of-Collaborative-Working-v2-01.png 3477w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-6-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-6-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01-p-500.png 500w, /images/2utoring_Screen-Mockup-6-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01-p-800.png 800w, /images/2utoring_Screen-Mockup-6-Homepage-A-Whole-New-World-Of-Collaborative-Working-v3-01.png 3472w" alt=""></div>
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v2-01-p-500.png 500w, /images/2utoring_Screen-Mockup-2_Row-2_For-Students-and-Parents_v2-01.png 3478w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_top"><img src="/images/divider3.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_top"></div>
<div class="_2u_features-section">
    <h2 class="_2u_subheading _2u_features">World ‘class’ features</h2>
    <div class="_2u_features-columns w-row">
        <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-3 w-col-medium-6">
            <div class="_2u_icon-wrapper"><img src="/images/Home_Asset-8.svg" loading="lazy" width="84" alt="" class="_2u_image-3"></div>
            <h3 class="_2u_h3 _2u_smaller">Real-time<br>Communication</h3>
            <p class="_2u_paragraph _2u_grey">Multiple delivery models allow you to personalise and encourage group learning, sharing and collaboration</p>
        </div>
        <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-3 w-col-medium-6">
            <div class="_2u_icon-wrapper"><img src="/images/Home_Asset-9.svg" loading="lazy" width="93" alt="" class="_2u_image-3"></div>
            <h3 class="_2u_h3 _2u_smaller">Collaborative<br>Whiteboard</h3>
            <p class="_2u_paragraph _2u_grey">Differentiate your classroom tasks with multiple independent and synchronized whiteboards</p>
        </div>
        <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-3 w-col-medium-6">
            <div class="_2u_icon-wrapper"><img src="/images/Home_Asset-10.svg" loading="lazy" width="71" alt="" class="_2u_image-3"></div>
            <h3 class="_2u_h3 _2u_smaller">Video and Audio<br>Communication</h3>
            <p class="_2u_paragraph _2u_grey">Web conferencing and multi-user screen sharing with whole classes, groups or individuals within your classroom</p>
        </div>
        <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-3 w-col-medium-6">
            <div class="_2u_icon-wrapper"><img src="/images/Home_Asset-11.svg" loading="lazy" width="134" alt="" class="_2u_image-3 _2u_chat"></div>
            <h3 class="_2u_h3 _2u_smaller">Live Chat<br>Messaging</h3>
            <p class="_2u_paragraph _2u_grey">Individualised granular communications, allows you to stay in touch with anyone or group at anytime</p>
        </div>
    </div>
    <div class="_2u_button-container _2u_large _2u_no-spacing">
        <a href="/digital-classroom" class="_2u_button _2u_centre _2u_top-padding _2u_mobile-home w-button">Discover More</a>
    </div>
</div>
<div class="_2u_divider _2u_tablet"><img src="/images/divider4.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div>
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading">How it works</h2>
        <div class="_2u_columns-how-it-works _2u_space _2u_home w-row">
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack"><img src="/images/Home_Asset-12.svg" loading="lazy" alt="" class="_2u_how-it-works-image"></div>
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_orange _2u_home">For Students (and Parents)</h3>
                <p class="_2u_body-1 _2u_limited-width"><span class="_2u_bolder">2utoring</span> gives you the ability to pick and choose tutors or courses that are perfect for you, whether they are for one-off sessions, or a series - you make your own curriculum.</p>
                <a href="/students-parents/overview" class="_2u_button _2u_centre _2u_top-padding w-button">Discover More</a>
            </div>
        </div>
        <div class="_2u_columns-how-it-works _2u_reverse _2u_space _2u_home w-row">
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_teal _2u_home">For Tutors</h3>
                <p class="_2u_body-1 _2u_limited-width"><span class="_2u_bolder">2utoring</span> allows you to manage all your teaching needs online, hold or book classes anytime, anywhere with anyone in a safe and secure environment and take your services to the next level.</p>
                <a href="/tutors/overview" class="_2u_button _2u_centre _2u_top-padding _2u_teal w-button">Discover More</a>
            </div>
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack"><img src="/images/Home_Asset-13.svg" loading="lazy" width="723" alt="" class="_2u_how-it-works-image"></div>
        </div>
        <div class="_2u_columns-how-it-works _2u_space _2u_home w-row">
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack"><img src="/images/Home_Asset-14.svg" loading="lazy" alt="" class="_2u_how-it-works-image"></div>
            <div class="_2u_columns-hiw w-col w-col-6 w-col-stack">
                <h3 class="_2u_h3 _2u_left _2u_green _2u_home _2u_centre">For Agencies</h3>
                <p class="_2u_body-1 _2u_limited-width">Enhance your online presence and maximise your returns, build your team and take your company to new audiences. <span class="_2u_bolder">2utoring</span> gives you all the tools you need to start a new chapter in your business&#x27;s success.</p>
                <a href="/agencies/overview" class="_2u_button _2u_centre _2u_top-padding _2u_green w-button">Discover More</a>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider5.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div class="_2u_section">
    <div class="_2u_inner-wrapper-2 _2u_home-testimonials _2u_home-tablet">
        <h2 class="_2u_subheading _2u_reviews">Hear what some of our tutors say</h2>
        <div class="_2u_columns-5 _2u_testimonials w-row">
            <div class="_2u_testimonials-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_green _2u_bio">“It provides access to affordable tutoring across a variety of subjects... based on what I saw, I would recommend this platform”</h3>
                <p class="_2u_body-1">“I had an online meeting with 2utoring, an ed-tech company which offers schools an authentic classroom online, making it possible for teachers to continue delivering learning for pupils when they can’t be in school. It provides access to affordable tutoring across a variety of subjects from qualified teachers who have gone through the full range of pre-employment safeguarding checks used in educational provisions. </p>
                <p class="_2u_body-1">After a detailed demonstration I learned that in the authentic classroom, lessons can be delivered to the whole class, small groups and individual pupils. The teacher and pupils have access to a collaborative whiteboard and online Google documents. The teacher can upload their own resources and documents, record all sessions and mark work during the sessions. Pupils can engage and communicate with teachers via audio and video and live chat messaging. Interaction with pupils under 18 years old is set up in conjunction with parents as an added layer of safeguarding. Based on what I saw, I would recommend this platform.”<br></p>
                <p class="_2u_body-1"><strong>Ellen Mukwewa</strong>, School Improvement Partner<br></p>
            </div>
            <div class="_2u_testimonials-clm w-col w-col-6">
                <h3 class="_2u_h3 _2u_left _2u_orange">“It is clear that it has come from the mind of a teacher... everything we need, as teachers, is there”</h3>
                <p class="_2u_body-1">“Thank you for the most wonderful presentation of your tutoring platform! It’s great to talk with a company who has considered the teachers’ ‘needs’ to effectively facilitate learning. It is clear that it has come from the mind of a teacher - which has resulted in something inspiring. Everything we need, as teachers, is there. I can already see how we could create a ‘real’ classroom online - something we have found that online teaching restricts. We can’t wait to work with you!”<br></p>
                <p class="_2u_body-1"><strong>Stephanie Clark</strong>, Fast Progress Tuition</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/divider6.svg" loading="lazy" alt="" class="_2u_divider-home-2"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_extra _2u_reduced-top-mobile">
        <h2 class="_2u_subheading _2u_orange _2u_home-3 _2u_teal">COVID-19 Support</h2>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <p class="_2u_body-1 _2u_home-body">There is no doubt that the pandemic has impacted everyone’s education, it has created gaps in learning and reduced the level of additional support which would have been available to students before the crisis. 2utoring provides you with a platform that fills in all the gaps, in a truly safe and affordable way.<br><br></p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="/images/Asset-5_4.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_orange _2u_home-4">Education for all</h2>
        <p class="_2u_sub-header-p">Our mission is to transform the delivery of education across the globe with our revolutionary new platform, a product that brings unseen delivery models and supports life-long learning opportunities for all.</p>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="/images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="/images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01-p-500.png 500w, /images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01-p-800.png 800w, /images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01-p-1080.png 1080w, /images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01-p-1600.png 1600w, /images/2utoring_Screen-Mockup-1-Homepage-Education-For-All_v4-01.png 4275w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="/images/Asset-48.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_yellow _2u_home"></div>
<div class="_2u_hero-section _2u_yellow-grad _2u_classoom">
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_cta _2u_reduced-top-mobile">
        <h2 class="_2u_subheading _2u_classroom _2u_small _2u_no-bottom-space">Join the global education revolution with 2utoring</h2>
        <div class="_2u_columns-2 _2u_top-spacing _2u_classroom _2u_cta w-row">
            <div class="_2u_top-three-columns _2u_top w-col w-col-4">
                <img src="/images/Illustration-4.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_orange">For Agencies</h3>
                <p class="_2u_paragraph _2u_classroom _2u_footer">Sign up to your 30 day free trial to discover how 2utoring will benefit your business.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a href="/agencies/overview" class="_2u_button _2u_centre _2u_home w-button">Browse</a>
                </div>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="/images/Illustration-2.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_teal">For Students</h3>
                <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer">Get started by searching for your perfect course on our Marketplace.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a href="/students-parents/overview" class="_2u_button _2u_centre _2u_teal _2u_classroom _2u_home w-button">Discover</a>
                </div>
            </div>
            <div class="_2u_top-three-columns w-col w-col-4">
                <img src="/images/Illustration3.svg" loading="lazy" alt="" class="_2u_image-3">
                <h3 class="_2u_h3 _2u_green">For Tutors</h3>
                <p class="_2u_paragraph _2u_wider _2u_classroom _2u_footer">Sign up to your 30 day free trial to discover how 2utoring will change your life.</p>
                <div class="_2u_button-container _2u_no-spacing _2u_classroom">
                    <a href="/tutors/overview" class="_2u_button _2u_centre _2u_green _2u_classroom w-button">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_divider _2u_negative"><img src="/images/divider7.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_footer"></div>
    <div class="_2u_cta-green">
        <div class="_2u_inner-wrapper-2">
            <h2 class="_2u_subheading _2u_cta-white">Start your free 2utoring trial</h2>
            <h3 class="_2u_h3 _2u_smaller _2u_left _2u_cta">Trial 2utoring.com free for 30 days</h3>
            <div class="_2u_button-container _2u_left-cta">
                <a href="/pricing" class="_2u_button-icon-wrap _2u_cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_cta-reverse">Start free trial</div><img src="/images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
                <a href="/digital-classroom" class="_2u_button-icon-wrap _2u_reverse-cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_reverse _2u_cta">See all features</div><img src="/images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
            </div>
        </div>
    </div>
    <div class="_2u_divider _2u_tablet"><img src="/images/divider9.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_bottom"></div>
    <div class="_2u_cta-green-illustration">
        <div class="_2u_inner-wrapper-2 _2u_cta-illustration-footer"><img src="/images/Home_Asset-18.svg" loading="lazy" width="345" alt="" class="_2u_footer-cta-illustration"></div>
    </div>
</div>