//@import "./scss/configuration/bootstrap-settings";

.Tutor {

    &__Name {
        font-size: 38px;
        font-weight: 800;
    }


    &__Headline {
        font-size: 18px;
        font-weight: 500;
    }
}

/*h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: $spacer * 2;
}*/

.detail-center .left-image {
    width: 60px;
    height: 60px;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.detail-center-bottom-col {
    padding: 12px 10px 30px !important;
}
