@{
    ViewData["Title"] = "Access Denied";
    Layout = "_LoginLayout";
}

<section class="panel white">
    <div class="row">
        <div class="large-1 columns">
            <img src="~/images/icons/fail.png" />
        </div>
        <div class="large-11 columns">
            <div class="content">
                <h1>Access Denied</h1>
                <p>Sorry we cannot continue to register you, this is likely because you used a different email to the one in your invitation or you have yet been registered on our system.</p>
            </div>
        </div>
    </div>
</section>