<div class="card card--toRespond:small mx-lg-36 mt-42 mt-lg-0 ml-0 ml-lg-36">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <div class="fs-28 fw-700">Starter</div>
            <span class="fs-15 fw-800">1 month free trial *</span>
        </div>
        <div class="mt-14" style="margin-top:3rem !important">
            <sup class="cl-light fs-24 fw-500 d-inline-block mr-7" style="transform: translateY(-10px);">£</sup>
            <span class="fs-50 fw-800">9.99</span>
            <span class="cl-light fs-24 fw-500 ml-7">/mo</span>
        </div>
    </div>
    <div class="card-body">
        <ul class="p-0 m-0" style="list-style: none;">
            <li class="mb-14"><span class="fw-800">1</span> X Profile pages</li>
            <li class="mb-14"><span class="fw-800">1</span> X Concurrent classrooms</li>
            <li class="mb-14"><span class="fw-800">Unlimited</span> live classes</li>
            <li class="mb-14"><span class="fw-800">Unlimited</span> students</li>
            <li class="mb-14"><span class="fw-800">1-5</span> Collaborative class size</li>
            <li class="mb-14"><span class="fw-800">Unlimited</span> public and private lessons</li>
            <li class="mb-14"><span class="fw-800">£3.75 - £3.00</span> Commission per student</li>
        </ul>
        <button class="btn btn-primary btn-lg fs-16 cl-white w-100 my-21" type="button" data-toggle="collapse" data-target="#P2" aria-expanded="false" aria-controls="P2" style="padding:10px;">
            Show what's included
        </button>

        <div class="collapse" id="P2">
            <ul>
                <li>Tutor can create courses</li>
                <!--<li>Parents can create courses using availability calendar</li>
                <li>Students can create courses using availability calendar</li>-->
                <li>Create up to 5 lessons per course</li>
                <li>Tutor can enter 15 minutes before lesson starts</li>
                <li>Single, dual and tri classroom panes</li>
                <li>Availability calendar</li>
                <li>Create up to 2 groups in a class</li>
                <li>Profile approval</li>
                <li>DBS checks and approval</li>
                <li>View previously completed lessons</li>
                <li>All under 18's lessons are recorded</li>
            </ul>
        </div>


        <div class="mb-14">
            <em class="fs-13 fw-500 cl-light">
                * Monthly payment will start after
                the 1st month, you can cancel your subscription at any time.
            </em>
        </div>
    </div>
</div>