@{
    ViewData["Title"] = "2utoring for Tutors | How It Works";
}

@section meta{
    <meta content="Your all-in-one platform giving you the freedom to deliver powerful learning experiences to students from anywhere, at anytime. Find out how it works here." name="description">
    <meta content="2utoring for Tutors | How It Works" property="og:title">
    <meta content="Your all-in-one platform giving you the freedom to deliver powerful learning experiences to students from anywhere, at anytime. Find out how it works here." property="og:description">
    <meta content="2utoring for Tutors | How It Works" property="twitter:title">
    <meta content="Your all-in-one platform giving you the freedom to deliver powerful learning experiences to students from anywhere, at anytime. Find out how it works here." property="twitter:description">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
}

<div class="_2u_intro-section">
    <div class="_2u_inner-wrapper-1">
        <h2 class="_2u_heading-2">How it works</h2>
        <h1 class="_2u_heading">For Tutors</h1>
    </div>
    <div class="_2u_screenshot-slider-wrapper">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v4-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v4-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v4-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v4-01.png 3253w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
        <div class="_2u_slider-front-apron"><img src="../images/Asset-1_6.svg" loading="lazy" alt=""></div>
    </div>
    <div class="_2u_inner-wrapper-1">
        <p class="_2u_body-1 _2u_tutor-hiw _2u_top">Your all-in-one platform giving you the freedom to deliver powerful learning experiences to students from anywhere, at anytime</p>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Incorporating your revolutionary digital classroom, communication tools, real-time collaboration plus much more including an exclusive marketplace to promote your courses.</p>
        <div class="_2u_button-container _2u_no-spacing _2u_home _2u_bottom">
            <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre w-button">Get started for free</a>
        </div>
        <div class="_2u_tutor-hiw-features _2u_bottom">
            <div id="w-node-225cf9c09987-7da3a7e6" class="_2u_classroom-feature-item-wrapper w-clearfix">
                <img src="../images/Asset-19_3.svg" loading="lazy" width="229" alt="" class="_2u_image-105">
                <p class="_2u_body-1 _2u_classroom-feature-item">Cloud-based platform</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <img src="../images/Asset-20_2.svg" loading="lazy" width="75" alt="" class="_2u_sprocket">
                <p class="_2u_body-1 _2u_classroom-feature-item">No downloading or installation required</p>
            </div>
            <div id="w-node-225cf9c09991-7da3a7e6" class="_2u_classroom-feature-item-wrapper w-clearfix">
                <img src="../images/Asset-21_1.svg" loading="lazy" width="34" alt="" class="_2u_globe">
                <p class="_2u_body-1 _2u_classroom-feature-item">Works on multiple browsers</p>
            </div>
            <div class="_2u_classroom-feature-item-wrapper w-clearfix">
                <img src="../images/Asset-22_1.svg" loading="lazy" alt="" class="_2u_image-106">
                <p class="_2u_body-1 _2u_classroom-feature-item">Compatible with most laptops and desktops</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_t-hiw-bottom">
        <h2 class="_2u_subheading _2u_wide">Join the global education revolution - giving you more time, income and fun</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01-p-1600.png 1600w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01.png 3704w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v3-01.png 3705w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v2-01.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v2-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v2-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v2-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v2-01.png 3704w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_centre _2u_t-hiw-bottom">
        <div class="_2u_features-columns _2u_classroom _2u_top w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_2.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Flexibility</h3>
                <p class="_2u_body-1 _2u_centre">2utoring allows you to hold or attend classes anytime, anywhere enabling you to build close friendships with your students safely online wherever you are.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-19_6.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Cloud-based</h3>
                <p class="_2u_body-1 _2u_centre">Technology enables your classes to be interactive, engaging and fun with unlimited online resources - no wonder why online learning is becoming the preferred method.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-25_2.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Value</h3>
                <p class="_2u_body-1 _2u_centre">By making one-to-many learning possible, tutors revenue per class increases, enabling costs per student to fall, improving affordability and value for money.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_inner-wrapper-2 _2u_no-space-above _2u_classroom-side"></div>
<div class="_2u_divider _2u_negative-bottom"><img src="../images/5fccaa41a80b961d4f04b03a_Asset-26.svg" loading="lazy" alt="" class="_2u_divider-home4 _2u_negative-bottom"></div>
<div class="_2u_hero-section-gradient _2u_teal _2u_reduced-bottom">
    <div class="_2u_inner-wrapper-2 _2u_bottom-reduced">
        <h2 class="_2u_subheading _2u_classroom-top _2u_bottom">Inclusive educational delivery for all</h2>
    </div>
    <div class="_2u_screenshot-slider-wrapper _2u_no-apron">
        <div data-delay="4500" data-animation="slide" data-autoplay="1" data-easing="ease-in-out" data-nav-spacing="5" data-duration="800" data-infinite="1" class="_2u_slider-2 w-slider">
            <div class="w-slider-mask">
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01_1.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01_1-p-500.png 500w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01_1-p-800.png 800w, ../images/2utoring_Screen-Mockup-1-Tutors-How-It-Works_v2-01_1.png 3103w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v2-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v2-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v2-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-2-Tutors-How-It-Works_v2-01.png 3099w" alt=""></div>
                <div class="w-slide"><img src="../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 97vw, 100vw" srcset="../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-3-Tutors-How-It-Works_v3-01.png 3103w" alt=""></div>
            </div>
            <div class="_2u_left-arrow w-slider-arrow-left">
                <div class="_2u_icon-3 w-icon-slider-left"></div>
            </div>
            <div class="_2u_right-arrow w-slider-arrow-right">
                <div class="_2u_icon-2 w-icon-slider-right"></div>
            </div>
            <div class="_2u_slide-nav _2u_no-apron w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_bottom-reduced">
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw">Just like in your physical classroom, each of your student’s needs are different which is why we have taken care to craft a learning platform that gives you, the tutor, the tools you need to adapt the digital classroom specifically to suit each individual student. This approach supports academic confidence amongst your students, improving their success and fosters their intellectual curiosity.</p>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-27_1.svg" loading="lazy" alt="" class="_2u_divider-home4 _2u_negative-hiw"></div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_tablet-less-top">
        <h2 class="_2u_subheading _2u_wide _2u_tutor-hiw _2u_reduced-width">Timetabling. Course setup. Lesson planning and delivery. Homework.<br><span class="_2u_orange">2utoring helps you through it.</span></h2>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-6_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Create your course</h3>
                <p class="_2u_body-1">Your course can be made up of a single one-off lesson or a series of lessons scheduled daily, weekly or to your exact student preferences. You can set your lesson details including, pricing, duration and class sizes. Invite from a list of your previous students or send invitations to register new students. To get started, simply select a package, complete the simple sign-up process, add in all your details and enjoy your 30 day free trial straight away. It&#x27;s really that simple!</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Prepare your content</h3>
                <p class="_2u_body-1">Upload worksheets, course materials, resources in DOCX, XLS, PPTX, PDF, JPG, PNG formats which can be shared with individuals or all course participants. Also add documents, sheets and slides which can be converted into real-time sharing documents via Google. Plus, webpage links and videos can be preloaded to the media browser and your classroom can also be organised into groups of students.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-7_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-8_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Review and edit</h3>
                <p class="_2u_body-1">At any time before your scheduled session, you can go into your dashboard and make changes to the lesson configuration, create or rearrange groups, invite more students, add additional resources and get everything ready for your students to join their class.</p>
            </div>
        </div>
        <div class="_2u_columns-5 _2u_classroom _2u_rev _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Deliver your lessons</h3>
                <p class="_2u_body-1">Enter your classroom before the scheduled start time to ensure everything is in place and ready for your students to arrive including any preliminary preparations to the learning environment. Remember, the resources will already be shared with all your students and you can start teaching your class independently or simultaneously, in real-time.</p>
            </div>
            <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-9_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        </div>
        <div class="_2u_columns-5 _2u_spacing _2u_padding-mobile w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-10_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
                <h3 class="_2u_h3 _2u_left _2u_teal">Post-lesson support and homework</h3>
                <p class="_2u_body-1">After your scheduled lesson, you and your students can continue to access the shared resources from the class. In addition, they remain shared and continue to allow real-time collaboration between you and your students allowing work to be marked and commented on. You can see your students progress post-lesson and offer support to them even after the lesson ends, enabling you to deliver the best learning experience.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/divider1.svg" loading="lazy" alt="" class="_2u_divider-home-1"></div>
<div class="_2u_hero-section-gradient _2u_classroom _2u_reduced-bottom">
    <div class="_2u_inner-wrapper-2">
        <h2 class="_2u_subheading _2u_classroom-top">Remember these useful features</h2><img src="../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01.png" loading="lazy" sizes="(max-width: 767px) 87vw, (max-width: 991px) 94vw, (max-width: 1279px) 90vw, 1200px" srcset="../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01-p-500.png 500w, ../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01-p-800.png 800w, ../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01-p-1080.png 1080w, ../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01-p-2600.png 2600w, ../images/2utoring_Screen-Mockup-4-Tutors-How-It-Works_v3-01.png 4138w" alt="" class="_2u_classroom-screenshot _2u_bottom _2u_tutor-hiw-reduced">
        <div class="_2u_columns-9 w-row">
            <div class="_2u_image-column-left _2u_features-tablet _2u_tutor-hiw w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-28_2.svg" loading="lazy" width="40" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Invite your existing students</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">When you add your lessons, you can send an email invitation to your existing students providing them with a registration link to join the 2utoring platform for their next session with you, saving your time.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-29_2.svg" loading="lazy" width="40" alt="" class="_2u_image-23"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Watch your client base grow</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Retain your existing student base whilst increasing your new student uptake as a result of promoting your courses on the Marketplace, boosted by the national advertising campaigns that 2utoring is committed to invest in.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-30_2.svg" loading="lazy" width="40" alt="" class="_2u_image-24"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Over and under 18s</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Compliance with safeguarding and DBS requirements are at the core of our platform and we have made it easy for you to manage this. By default, any students under 18 who register on 2utoring need a parent to register with them.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-31_1.svg" loading="lazy" width="40" alt="" class="_2u_image-25"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Create a series</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Create a course made up of a sequence of lessons over a period. You’re in total control and have the flexibility to configure this however you prefer. Equally, if it’s a one-off session on a specific subject, that’s fine too and easy to set up.</p>
            </div>
            <div class="_2u_image-column-right _2u_features-tablet _2u_spacing _2u_tutor-hiw w-col w-col-6">
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-32_1.svg" loading="lazy" width="55" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Take the register</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Manage all of your student attendance and engagement from a single central dashboard - making it easy for you to identify lessons, share lesson links and see how many lessons your students have enjoyed with you.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-33_2.svg" loading="lazy" width="242" alt="" class="_2u_image-22"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Public vs. private</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">It’s your choice whether your courses are public (listed on our Marketplace open for any students on the platform to register for) or private (only available to students who you share the registration link with) giving you total control.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-23_5.svg" loading="lazy" alt="" class="_2u_image-21"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Manageable class sizes</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Depending on the package you choose, you can teach up to ten students simultaneously in the Classroom, with more capacity launching very soon.</p>
                <div class="_2u_features-with-icon-container">
                    <div class="_2u_feature-icon-wrapper _2u_tutor-hiw"><img src="../images/Asset-19_4.svg" loading="lazy" width="89" alt="" class="_2u_image-21"></div>
                    <h3 class="_2u_h3 _2u_left _2u_orange _2u_tutor-hiw">Availability and bookings</h3>
                </div>
                <p class="_2u_body-1 _2u_features-bottom">Set your own availability and allow students and parents to directly book one-to-one or group lessons with you. Increasing your client base, increasing your income and saving you time and hassle.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative"><img src="../images/Asset-5_2.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_features-section _2u_hero-section-green _2u_tutor-hiw _2u_reduced-top _2u_tutor-top-tablet">
    <h2 class="_2u_subheading _2u_wide">Flexible approach to inclusive teaching</h2>
    <div class="_2u_inner-wrapper-2 _2u_no-top-space">
        <p class="_2u_body-1 _2u_centre _2u_bottom-spacing">You have the choice to teach one-to-one or to many and we make it possible for you to manage with students working in groups or independently on their own tasks in the classroom.</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_wide _2u_features _2u_one-to-one"><img src="../images/Asset-35_1.svg" loading="lazy" width="321" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">Teach one-to-one</h3>
                <p class="_2u_body-1 _2u_centre">Teach students on a totally individual and personal basis and interact  with them in real-time in your digital classroom.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-36_1.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">Teach groups</h3>
                <p class="_2u_body-1 _2u_centre">Reduce your prices per student, whilst increasing your hourly income by teaching groups of students together and still retaining all the benefits of one-to-one teaching and learning, all made possible in 2utoring.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-37_1.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">Teach whole classes</h3>
                <p class="_2u_body-1 _2u_centre">Your digital classroom has been optimised for one-to-many teaching practices ensuring that you can offer a highly personalised learning experience to all.</p>
            </div>
        </div>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-38_1.svg" loading="lazy" width="68" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">Groups in your classes</h3>
                <p class="_2u_body-1 _2u_centre">You can create groups inside your classes to enable you to set different tasks depending on ability or provide different teaching styles and levels of support.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-39_1.svg" loading="lazy" width="64" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">Peer to peer</h3>
                <p class="_2u_body-1 _2u_centre">You have the option to use 2utoring as a peer to peer collaboration suite to share knowledge, share in success and mimic the classroom online.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing _2u_classroom w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-40_1.svg" loading="lazy" width="78" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_black">A combination of all</h3>
                <p class="_2u_body-1 _2u_centre">You can facilitate sessions on 2utoring in any combination of these options enabling you to apply multiple delivery methods and adapt the classroom for all learners.</p>
            </div>
        </div>
    </div>
</div>
<div class="_2u_divider _2u_negative-hiw"><img src="../images/Asset-6.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_inner-wrapper-2 _2u_extra-top-spacing _2u_classroom _2u_tutor-hiw _2u_reduced">
    <h2 class="_2u_subheading _2u_top">Pricing. Booking Links. Profiles. <br>DBS and Safeguarding.</h2>
    <p class="_2u_body-1 _2u_tutor-hiw">2utoring help you manage your business, creating your success.</p>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Set your pricing</h3>
            <p class="_2u_body-1">As a self-employed tutor, your pricing is key to your livelihood and success as a small business owner. Typically you may charge by the hour, with 2utoring you charge per lesson, per student. The big difference for you is that your income potential changes overnight when you sign up to 2utoring. By having the ability to successfully facilitate one-to-many sessions, your income multiplies by the number of students who join your classroom.<br><br>For your students, this gives them the opportunity to save money on courses as you can afford to reduce your price per student, on the basis you are getting multiple payments from each student who registers. The potential to earn £100+ per hour from tutoring becomes far more achievable with 2utoring. Of course, you have total control over the pricing of your courses for both one to one or one to many. This allows you to give a percentage discount to your students as more participants sign up.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-11_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-12_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-medium-6">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Booking links</h3>
            <p class="_2u_body-1">For each session or course you create, you can generate a shareable link which you can use to direct any existing students to the registration details, or leverage your own social media networks and email marketing to promote to an already captive audience. In addition, the link will steer your students to your 2utoring profile which will encourage them to explore the other courses that you can offer to them.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Create your profile</h3>
            <p class="_2u_body-1">
                Once you sign up you have the option to create a public tutor profile that promotes your skills and experience, shares your real-time availability calendar and showcases your courses. In addition, your testimonials, reviews and DBS verification (if applicable) will provide added reassurance to your prospective students. Your profile will then appear in search results on the 2utoring Marketplace and enables interested students to book courses with you from your profile without any involvement from you. The best part is that you can sit back and watch the registrations come in for your courses, increasing your income and enabling you to become a super-successful tutor.
            </p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-13_2.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-14_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Giving you peace of mind</h3>
            <p class="_2u_body-1">You will be reassured that 2utoring values compliance, safety and safeguarding as an essential part of a wider journey to making education accessible to all. The platform, therefore, includes a range of features specifically designed to provide students and tutors alike with the safest online learning environment. All tutors are invited to upload their DBS certificate and qualification. These are then verified by our compliance team (no robots) and confirmed registrations receive a DBS status badge on their profiles for students to see. Additionally, sessions are recorded, stored and retained in an encrypted cloud environment for safeguarding purposes in the interests of the tutor as much as the student.</p>
        </div>
    </div>
    <div class="_2u_columns-5 _2u_classroom _2u_rev w-row">
        <div class="_2u_image-column-left _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Get paid on-time, online, everytime</h3>
            <p class="_2u_body-1">When any of your students register on one of your courses, they are required to pay online by debit or credit card, using our secure payment portal integrated with Stripe. This offers a number of benefits to you including peace of mind that money will always be received from students before the courses take place, meaning you will always get paid. Student uptake is also likely to be increased by the fact that you are able to accept digital payments, bringing additional income to you. For students, they will enjoy a streamlined payment process that enables them to use modern payment methods that they are used to using on their other digital purchases.</p>
        </div>
        <div class="_2u_image-column-right _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-15_3.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
    </div>
    <div class="_2u_columns-5 _2u_spacing w-row">
        <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-stack"><img src="../images/Asset-16_1.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
        <div class="_2u_image-column-right _2u_text w-col w-col-6 w-col-stack">
            <h3 class="_2u_h3 _2u_left _2u_orange _2u_classroom">Manage your schedule</h3>
            <p class="_2u_body-1">You are in full control of your schedule through the availability calendar which can be updated in real-time. When you create new sessions, you have the option to schedule a series of lessons at a predetermined date and time. Alternatively, your students can request sessions with you at a particular date and time, giving you the option to accept or decline their request. Your students will love the fact that they can see your availability. You will find it so refreshing that less of your time will be spent scheduling sessions, and more time will be free for earning income or spending time with family and friends.</p>
        </div>
    </div>
</div>
<div class="_2u_divider"><img src="../images/Asset-48.svg" loading="lazy" alt="" class="_2u_divider-home-1 _2u_transparent"></div>
<div class="_2u_hero-section _2u_yellow-grad _2u_classoom _2u_botton-tablet">
    <div class="_2u_inner-wrapper-2 _2u_classroom _2u_cta">
        <h2 class="_2u_subheading _2u_classroom">Promote your lessons online. Raise your profile. Generate more income.</h2>
        <p class="_2u_body-1 _2u_tutor-hiw _2u_bottom-mobile">2utoring helps you get the marketing exposure you deserve.</p>
        <div class="_2u_features-columns _2u_classroom w-row">
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-23_2.svg" loading="lazy" width="75" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom _2u_lhs _2u_lhs-reduced">Promote your sessions</h3>
                <p class="_2u_body-1 _2u_centre">You have the option when creating courses to make them publicly available on the 2utoring Marketplace. This will enable your courses to appear in search results when students and parents are searching for subjects you offer, increasing your income potential from new students.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-41_1.svg" loading="lazy" width="66" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Leverage our national advertising</h3>
                <p class="_2u_body-1 _2u_centre">2utoring is a widely promoted platform online for students and tutors alike and as a result, your courses will gain additional exposure from being found on the Marketplace. This will attract new students to your courses and tutor profile leading to additional student intake which will bring additional income to you.</p>
            </div>
            <div class="_2u_top-three-columns _2u_bottom-spacing w-col w-col-4">
                <div class="_2u_icon-wrapper _2u_features"><img src="../images/Asset-42_1.svg" loading="lazy" width="59" alt="" class="_2u_feature-icons"></div>
                <h3 class="_2u_h3 _2u_smaller _2u_orange _2u_classroom">Deliver growth to your bottom line</h3>
                <p class="_2u_body-1 _2u_centre">As a direct result of the additional exposure that your tutor profile and courses will receive through the promotion on the Marketplace, you are sure to grow your student base, receive additional registrations for courses and deliver a more engaging learning experience. This will lead to increased revenue and boost your profits many-fold.</p>
            </div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2 _2u_packages">
        <h2 class="_2u_subheading _2u_top">Affordable pricing that scales as your income grows</h2>
        <p class="_2u_body-1 _2u_centre _2u_tutors-hiw _2u_packages">Sign up for your 30 day free trial to discover first-hand how 2utoring will transform your students’ learning experience, boost your income and change your life.</p>
        <div class="_2u_packages-wrapper-free _2u_bottom _2u_tutors">
            <div class="_2u_package1 _2u_free-tablet _2u_tutors">
                <div class="_2u_package-top _2u_yellow _2u_free-tablet">
                    <div class="_2u_package-title _2u_free-tablet">Basic</div>
                    <div class="_2u_package-price _2u_free-tablet">Free</div>
                    <div class="_2u_package-billing">Forever</div>
                    <div class="_2u_packages-intro _2u_free-tablet">For private tutors trying out 2utoring, forever subscription-free</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">Try for free!</a>
                </div>
                <div class="_2u_package-bottom _2u_free-tablet">
                    <div class="_2u_package-features">Unlimited Students</div>
                    <div class="_2u_package-features">Unlimited Live Classes</div>
                    <div class="_2u_package-features">1 Registered Tutor</div>
                    <div class="_2u_package-features">2 Students per Classroom</div>
                    <div class="_2u_package-features">1 Class per course</div>
                    <div class="_2u_package-features">2 Multi view panes</div>
                </div>
            </div>
            <div class="_2u_package1 _2u_free-tablet _2u_hide-tablet">
                <div class="_2u_package-top _2u_yellow _2u_free-tablet _2u_orange">
                    <div class="_2u_package-title _2u_free-tablet">Starter</div>
                    <div class="_2u_package-price _2u_free-tablet">£9.99/mth</div>
                    <div class="_2u_package-billing">Billed Monthly</div>
                    <div class="_2u_packages-intro _2u_free-tablet">For private tutors teaching students of all ages, including under 18s</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">Try for free!</a>
                </div>
                <div class="_2u_package-bottom _2u_free-tablet">
                    <div class="_2u_package-features">Everything in <strong>Basic</strong>, plus:</div>
                    <div class="_2u_package-features">5 Students per class</div>
                    <div class="_2u_package-features">5 Classes per course</div>
                    <div class="_2u_package-features">4 Multi-view panes</div>
                    <div class="_2u_package-features">Teach under 18s</div>
                    <div class="_2u_package-features">Tutor profile page</div>
                    <div class="_2u_package-features">Promotion on Marketplace</div>
                </div>
            </div>
            <div class="_2u_package1 _2u_free-tablet _2u_hide-tablet">
                <div class="_2u_package-top _2u_yellow _2u_free-tablet _2u_teal">
                    <div class="_2u_package-title _2u_free-tablet">Pro</div>
                    <div class="_2u_package-price _2u_free-tablet">£19.99/mth</div>
                    <div class="_2u_package-billing">Billed Monthly</div>
                    <div class="_2u_packages-intro _2u_free-tablet">For private tutors looking to increase their income with larger group sessions</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">Try for free!</a>
                </div>
                <div class="_2u_package-bottom _2u_free-tablet">
                    <div class="_2u_package-features">Everything in <strong>Starter</strong>, plus:</div>
                    <div class="_2u_package-features">10 Students per class</div>
                    <div class="_2u_package-features">25 Classes per course</div>
                    <div class="_2u_package-features">30 minute early classroom entry</div>
                    <div class="_2u_package-features">5 Student Groups</div>
                    <div class="_2u_package-features">Discounted classroom fees</div>
                </div>
            </div>
        </div>
        <div class="_2u_packages-wrapper _2u_tutors">
            <div class="_2u_package1 _2u_free _2u_tutors">
                <div class="_2u_package-top _2u_yellow">
                    <div class="_2u_package-title">Basic</div>
                    <div class="_2u_package-price">Free</div>
                    <div class="_2u_package-billing">Forever</div>
                </div>
                <div class="_2u_package-bottom">
                    <div class="_2u_packages-intro">For private tutors trying  out 2utoring, forever  subscription-free</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow w-button">Try for free!</a>
                    <div class="_2u_package-features">Unlimited Students</div>
                    <div class="_2u_package-features">Unlimited Live Classes</div>
                    <div class="_2u_package-features">1 Registered Tutor</div>
                    <div class="_2u_package-features">2 Students per Classroom</div>
                    <div class="_2u_package-features">1 Class per course</div>
                    <div class="_2u_package-features">2 Multi view panes</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre _2u_outline _2u_select-plan _2u_1 _2u_tutors _2u_tablet-basic w-button">View plan</a>
                </div>
            </div>
            <div class="_2u_package2 _2u_tutors">
                <img src="../images/Asset-3_3.svg" loading="lazy" width="95" alt="" class="_2u_image-102">
                <div class="_2u_package-top _2u_orange">
                    <div class="_2u_package-title">Starter</div>
                    <div class="_2u_package-price">£9.99/mth</div>
                    <div class="_2u_package-billing">Billed Monthly</div>
                </div>
                <div class="_2u_package-bottom _2u_big _2u_tutor-tablet">
                    <div class="_2u_packages-intro">For private tutors looking to kick start a business<br></div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button w-button">Try for free!</a>
                    <div class="_2u_package-features">Everything in <strong>Basic</strong>, plus:</div>
                    <div class="_2u_package-features">5 Students per class</div>
                    <div class="_2u_package-features">5 Classes per course</div>
                    <div class="_2u_package-features">3 Multi-view panes</div>
                    <div class="_2u_package-features">Tutor profile page</div>
                    <div class="_2u_package-features">Promotion on Marketplace</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre _2u_outline _2u_select-plan _2u_2 _2u_tutors w-button">View plan</a>
                </div>
            </div>
            <div class="_2u_package1 _2u_tutors">
                <div class="_2u_package-top _2u_teal">
                    <div class="_2u_package-title">Pro</div>
                    <div class="_2u_package-price">£19.99/mth</div>
                    <div class="_2u_package-billing">Billed Monthly</div>
                </div>
                <div class="_2u_package-bottom">
                    <div class="_2u_packages-intro">For private tutors looking to increase their income with larger group sessions</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_teal w-button">Try for free!</a>
                    <div class="_2u_package-features">Everything in <strong>Starter</strong>, plus:</div>
                    <div class="_2u_package-features">10 Students per class</div>
                    <div class="_2u_package-features">25 Classes per course</div>
                    <div class="_2u_package-features">30 minute early classroom entry</div>
                    <div class="_2u_package-features">4 Multi-view panes</div>
                    <div class="_2u_package-features">Discounted classroom fees</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre _2u_outline _2u_select-plan _2u_tutors-tablet w-button">View plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_inner-wrapper-2 _2u_tutor-hiw _2u_extra _2u_less-bottom">
        <h2 class="_2u_subheading _2u_tutors-start-company">Why not start your own company?</h2>
        <div class="_2u_columns-5 _2u_spacing w-row">
            <div class="_2u_image-column-left _2u_classroom w-col w-col-6 w-col-medium-6"><img src="../images/Asset-25_5.svg" loading="lazy" alt="" class="_2u_image-17 _2u_large _2u_top-space"></div>
            <div class="_2u_image-column-right _2u_text w-clearfix w-col w-col-6 w-col-medium-6">
                <p class="_2u_body-1">2utoring makes it possible to create your very own Tutoring Agency using the best learning enviroment and enables you to recruit tutors via the 2utoring Marketplace as well as a platform to promote your courses. Discover the power of 2utoring for Tutoring Agencies.</p>
                <a asp-route-controller="Company" asp-route-action="OverView" class="_2u_button _2u_left _2u_teal _2u_tablet w-button">Start your tutoring agency</a>
            </div>
        </div>
    </div>
    <div class="_2u_packages-wrapper-free _2u_bottom _2u_tutors">
        <div class="_2u_package1 _2u_free-tablet _2u_hide-tablet">
            <div class="_2u_package-top _2u_yellow _2u_free-tablet _2u_green">
                <div class="_2u_package-title _2u_free-tablet">Agency</div>
                <div class="_2u_package-price _2u_free-tablet">£29.99/mth</div>
                <div class="_2u_package-billing">Billed Monthly</div>
                <div class="_2u_packages-intro _2u_free-tablet">For tutoring agencies looking to supercharge revenue</div>
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_yellow _2u_free-tablet w-button">View Plan</a>
            </div>
            <div class="_2u_package-bottom _2u_free-tablet">
                <div class="_2u_package-features">Everything in <strong>Pro</strong>, plus:</div>
                <div class="_2u_package-features">100 Registered tutors</div>
                <div class="_2u_package-features">100 Concurrent sessions</div>
                <div class="_2u_package-features">100 Classes per course</div>
                <div class="_2u_package-features">100 Tutor profile pages</div>
                <div class="_2u_package-features">Company profiles page</div>
                <div class="_2u_package-features">Tutor registration system</div>
            </div>
        </div>
    </div>
    <div class="_2u_inner-wrapper-2">
        <div class="_2u_packages-wrapper _2u_agencies">
            <div class="_2u_package1 _2u_agencies">
                <div class="_2u_package-top">
                    <div class="_2u_package-title">Agency</div>
                    <div class="_2u_package-price">£29.99/mth</div>
                    <div class="_2u_package-billing">Billed Monthly</div>
                </div>
                <div class="_2u_package-bottom _2u_agencies">
                    <div class="_2u_packages-intro">For tutoring agencies  looking to supercharge  revenue</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_packages-button _2u_green w-button">Try for free!</a>
                    <div class="_2u_package-features">Everything in <strong>Pro</strong>, plus:</div>
                    <div class="_2u_package-features">100 Registered tutors</div>
                    <div class="_2u_package-features">100 Concurrent sessions</div>
                    <div class="_2u_package-features">100 Classes per course</div>
                    <div class="_2u_package-features">100 Tutor profile pages</div>
                    <div class="_2u_package-features">Company profiles page</div>
                    <div class="_2u_package-features">Tutor registration system</div>
                    <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button _2u_centre _2u_outline _2u_select-plan _2u_4 w-button">View Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="_2u_divider _2u_negative"><img src="../images/divider7.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_footer"></div>
    <div class="_2u_cta-green">
        <div class="_2u_inner-wrapper-2">
            <h2 class="_2u_subheading _2u_cta-white">Start your free 2utoring trial</h2>
            <h3 class="_2u_h3 _2u_smaller _2u_left _2u_cta">Trial 2utoring.com free for 30 days</h3>
            <div class="_2u_button-container _2u_left-cta">
                <a asp-route-controller="Home" asp-route-action="Pricing" class="_2u_button-icon-wrap _2u_cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_cta-reverse">Start free trial</div><img src="../images/arrow-grey.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
                <a asp-route-controller="Home" asp-route-action="ClassRoom" class="_2u_button-icon-wrap _2u_reverse-cta w-inline-block w-clearfix">
                    <div class="_2u_button-icon-text _2u_reverse _2u_cta">See all features</div><img src="../images/arrow.svg" loading="lazy" width="7" alt="" class="_2u_image-5">
                </a>
            </div>
        </div>
    </div>
    <div class="_2u_divider _2u_tablet"><img src="../images/divider9.svg" loading="lazy" alt="" class="_2u_divider-home-2 _2u_bottom"></div>
    <div class="_2u_cta-green-illustration">
        <div class="_2u_inner-wrapper-2 _2u_cta-illustration-footer"><img src="../images/Home_Asset-18.svg" loading="lazy" width="345" alt="" class="_2u_footer-cta-illustration"></div>
    </div>
</div>


@section scripts{

}






