<div class="Page__Container--size:medium mb-30 Page--process:SettingPage">
    <h1>Manage Your Subscription</h1>
    <div class="row">
        <div class="col-12">
            <div class="card bxs-0">
                <div class="card-body">
                    <h2>Subscription</h2>
                    <div class="row" *ngIf="subscription != undefined && subscription != null">
                        <div class="col">
                            <p class="fw-500 text-capitalize"><strong>Name:</strong> {{subscription.name}}</p>
                            <p class="fw-500 text-capitalize"><strong>Amount:</strong> {{subscription.amount | currency:'GBP':'symbol':'1.2-2'}}</p>
                            <p class="fw-500 text-capitalize"><strong>Status:</strong> {{subscription.status}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="subscription == undefined || subscription == null">
                        <div class="col">
                            You do not have a subscription.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h2>Saved Card</h2>
            <div class="card bxs-0 card--toRespond:small" *ngIf="paymentCard != undefined && paymentCard != null">
                <div class="card-body d-flex justify-content-between">
                    <span class="fs-16 fw-600">**** **** **** {{paymentCard.last4}}, {{paymentCard.address}}</span>
                </div>
            </div>
            <div *ngIf="paymentCard == undefined || paymentCard == null">
                <p>no cards on file</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card card-body" style="padding:3%;">
            <div class="cardbody">
                <h2>Update Card</h2>
                <form (ngSubmit)="submitPaymentForm()" [formGroup]="paymentForm" *ngIf="paymentForm != undefined">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>Card Details</label>
                                <div class="card bxs-0" style="padding: 16px 14px">
                                    <div id="card-info" class="padding-vertical-tight"></div>
                                </div>
                                <div id="card-errors" class="Error Error--alert margin-top-extra-tight" role="alert"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Cardholder Name</label>
                                <input type="text" id="cardName" name="cardName" formControlName="cardName" class="form-control" placeholder="Enter the cardholders name as it appears on the card" />
                                <div *ngIf="paymentFormControls.cardName.errors && (paymentFormControls.cardName.dirty || paymentFormControls.cardName.touched || paymentFormSubmitted)" class="error" role="alert">
                                    <div *ngIf="paymentFormControls.cardName.errors.maxlength">Card Name has a character limit of 250</div>
                                    <div *ngIf="paymentFormControls.cardName.errors.required">Please enter the name on your payment card to continue.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>First line of your billing address</label>
                                <input type="text" id="addressLine1" name="addressLine1" formControlName="addressLine1" class="form-control" placeholder="Enter the first line of the address your card is registered to" />
                                <div *ngIf="paymentFormControls.addressLine1.errors && (paymentFormControls.addressLine1.dirty || paymentFormControls.addressLine1.touched || paymentFormSubmitted)" class="error" role="alert">
                                    <div *ngIf="paymentFormControls.addressLine1.errors.maxlength">First line address has a character limit of 250</div>
                                    <div *ngIf="paymentFormControls.addressLine1.errors.required">Please enter the first line of your billing address to continue.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Country</label>
                                <select id="stripeCountryId" name="stripeCountryId" formControlName="stripeCountryId" class="form-control" placeholder="Enter a promo code">
                                    <!--<option [ngValue]="null">Select your country</option>
    <option *ngFor="let stripeCountry of stripeCountrys" [ngValue]="stripeCountry.stripeCountryId">{{stripeCountry.name}}</option>-->
                                    <ng-container *ngFor="let stripeCountry of stripeCountrys; let i = index">
                                        <option *ngIf="stripeCountry.supportedPayout==true" [ngValue]="stripeCountry.stripeCountryId">{{stripeCountry.name}}</option>
                                    </ng-container>
                                </select>
                                <div *ngIf="paymentFormControls.stripeCountryId.errors && (paymentFormControls.stripeCountryId.dirty || paymentFormControls.stripeCountryId.touched || paymentFormSubmitted)" class="error" role="alert">
                                    <div *ngIf="paymentFormControls.stripeCountryId.errors.maxlength">Country has a character limit of 250</div>
                                    <div *ngIf="paymentFormControls.stripeCountryId.errors.required">Please enter your country to continue.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="showStripeError">
                        <div class="col">
                            <p class="error">{{stripeError}}</p>
                        </div>
                    </div>
                    <div class="Form_Block-Controls">
                        <button type="submit" class="btn btn-primary btn-lg ml-auto">Update changes</button>
                    </div>
                </form>
            </div>
                </div>
            </div>
        </div>
</div>